openapi: 3.1.0
info:
  title: X API v2 Account Activity API
  version: '2.168'
  description: The Account Activity surface of the X API v2, split by tag from the X-published OpenAPI
    at https://api.x.com/2/openapi.json.
  termsOfService: https://developer.x.com/en/developer-terms/agreement-and-policy.html
  contact:
    name: X Developers
    url: https://developer.x.com/
  license:
    name: X Developer Agreement and Policy
    url: https://developer.x.com/en/developer-terms/agreement-and-policy.html
servers:
- description: X API
  url: https://api.x.com
tags:
- name: Account Activity
  description: Endpoints relating to retrieving, managing Account Activity subscriptions
  externalDocs:
    description: Find out more
    url: https://docs.x.com/x-api/enterprise-gnip-2.0/fundamentals/account-activity
paths:
  /2/account_activity/subscriptions/count:
    get:
      security:
      - BearerToken: []
      tags:
      - Account Activity
      summary: Get Account Activity Subscription Count
      operationId: getAccountActivitySubscriptionCount
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountActivitySubscriptionCountResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/account_activity/webhooks/{webhook_id}/subscriptions/all:
    get:
      security:
      - OAuth2UserToken:
        - dm.read
        - dm.write
        - users.read
        - tweet.read
      - UserToken: []
      tags:
      - Account Activity
      summary: Validate Account Activity Subscription
      operationId: validateAccountActivitySubscription
      parameters:
      - name: webhook_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/WebhookConfigId'
        style: simple
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateAccountActivitySubscriptionResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    post:
      security:
      - OAuth2UserToken:
        - dm.read
        - tweet.read
        - users.read
        - dm.write
      - UserToken: []
      tags:
      - Account Activity
      summary: Create subscription
      description: Creates an Account Activity subscription for the user and the given webhook.
      externalDocs:
        url: https://docs.x.com/x-api/account-activity/introduction
      operationId: createAccountActivitySubscription
      parameters:
      - name: webhook_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/WebhookConfigId'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccountActivitySubscriptionRequest'
        required: true
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAccountActivitySubscriptionResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/account_activity/webhooks/{webhook_id}/subscriptions/all/list:
    get:
      security:
      - BearerToken: []
      tags:
      - Account Activity
      summary: Get Account Activity Subscriptions
      operationId: getAccountActivitySubscriptions
      parameters:
      - name: webhook_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/WebhookConfigId'
        style: simple
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountActivitySubscriptionsResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/account_activity/webhooks/{webhook_id}/subscriptions/{user_id}/all:
    delete:
      security:
      - BearerToken: []
      tags:
      - Account Activity
      summary: Delete subscription
      description: Deletes an Account Activity subscription for the given webhook and user ID.
      externalDocs:
        url: https://docs.x.com/x-api/account-activity/introduction
      operationId: deleteAccountActivitySubscription
      parameters:
      - name: webhook_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/WebhookConfigId'
        style: simple
      - name: user_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteAccountActivitySubscriptionResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
components:
  schemas:
    NotAuthorizedForFieldProblem:
      type: object
      required:
      - type
      - title
      - detail
      - field
      properties:
        detail:
          type: string
        field:
          type: string
        parameter:
          type: string
        resource_id:
          type: string
        resource_type:
          type: string
        section:
          type: string
        status:
          type: integer
        title:
          type: string
        type:
          type: string
          enum:
          - https://api.x.com/2/problems/not-authorized-for-field
        value:
          type: string
    InvalidRequestProblem:
      type: object
      required:
      - type
      - title
      - detail
      properties:
        detail:
          type: string
        parameter:
          type: string
        status:
          type: integer
        title:
          type: string
        type:
          type: string
          enum:
          - https://api.x.com/2/problems/invalid-request
        value:
          type: string
    GetAccountActivitySubscriptionCountResponseData:
      type: object
      properties:
        account_name:
          type: string
          description: Name of the subscribing account.
        provisioned_count:
          type: string
          description: Number of subscriptions provisioned for the app.
        subscriptions_count_all:
          type: string
          description: Number of active subscriptions across all event types.
        subscriptions_count_direct_messages:
          type: string
          description: Number of active Direct Message subscriptions.
    CreateAccountActivitySubscriptionRequest:
      type: object
      properties: {}
    ResourceNotFoundProblem:
      type: object
      required:
      - type
      - title
      - detail
      - resource_type
      properties:
        detail:
          type: string
        parameter:
          type: string
        resource_id:
          type: string
        resource_type:
          type: string
        status:
          type: integer
        title:
          type: string
        type:
          type: string
          enum:
          - https://api.x.com/2/problems/resource-not-found
        value:
          type: string
    ValidateAccountActivitySubscriptionResponseData:
      type: object
      required:
      - subscribed
      properties:
        subscribed:
          type: boolean
          description: Whether the user has an active subscription.
    GetAccountActivitySubscriptionsResponseDataSubscriptions:
      type: object
      properties:
        user_id:
          type: string
          description: Subscribed user.
      additionalProperties: false
    GetAccountActivitySubscriptionsResponseData:
      type: object
      properties:
        application_id:
          type: string
          description: App the subscriptions belong to.
        subscriptions:
          type: array
          items:
            $ref: '#/components/schemas/GetAccountActivitySubscriptionsResponseDataSubscriptions'
        webhook_id:
          type: string
          description: Webhook receiving the subscription events.
        webhook_url:
          type: string
          description: URL the webhook delivers events to.
    GetAccountActivitySubscriptionCountResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/GetAccountActivitySubscriptionCountResponseData'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
    DeleteAccountActivitySubscriptionResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/DeleteAccountActivitySubscriptionResponseData'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
    CreateAccountActivitySubscriptionResponseData:
      type: object
      required:
      - subscribed
      properties:
        subscribed:
          type: boolean
          description: Whether the subscription is active.
    GetAccountActivitySubscriptionsResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/GetAccountActivitySubscriptionsResponseData'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
    WebhookConfigId:
      type: string
      description: Unique identifier of a WebhookConfig
      pattern: ^[0-9]{1,19}$
    Problem:
      oneOf:
      - $ref: '#/components/schemas/ResourceNotFoundProblem'
      - $ref: '#/components/schemas/InvalidRequestProblem'
      - $ref: '#/components/schemas/NotAuthorizedForResourceProblem'
      - $ref: '#/components/schemas/NotAuthorizedForFieldProblem'
      - $ref: '#/components/schemas/FieldUnauthorizedProblem'
      - $ref: '#/components/schemas/FieldHydrationFailureProblem'
      - $ref: '#/components/schemas/ResourceUnavailableProblem'
      - $ref: '#/components/schemas/DisallowedResourceProblem'
      - $ref: '#/components/schemas/InternalErrorProblem'
      discriminator:
        propertyName: type
        mapping:
          https://api.x.com/2/problems/disallowed-resource: '#/components/schemas/DisallowedResourceProblem'
          https://api.x.com/2/problems/field-hydration-failure: '#/components/schemas/FieldHydrationFailureProblem'
          https://api.x.com/2/problems/field-unauthorized: '#/components/schemas/FieldUnauthorizedProblem'
          https://api.x.com/2/problems/internal-error: '#/components/schemas/InternalErrorProblem'
          https://api.x.com/2/problems/invalid-request: '#/components/schemas/InvalidRequestProblem'
          https://api.x.com/2/problems/not-authorized-for-field: '#/components/schemas/NotAuthorizedForFieldProblem'
          https://api.x.com/2/problems/not-authorized-for-resource: '#/components/schemas/NotAuthorizedForResourceProblem'
          https://api.x.com/2/problems/resource-not-found: '#/components/schemas/ResourceNotFoundProblem'
          https://api.x.com/2/problems/resource-unavailable: '#/components/schemas/ResourceUnavailableProblem'
    CreateAccountActivitySubscriptionResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/CreateAccountActivitySubscriptionResponseData'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
    FieldHydrationFailureProblem:
      type: object
      required:
      - type
      - title
      - detail
      - field
      properties:
        detail:
          type: string
        field:
          type: string
        resource_type:
          type: string
        section:
          type: string
        status:
          type: integer
        title:
          type: string
        type:
          type: string
          enum:
          - https://api.x.com/2/problems/field-hydration-failure
    DeleteAccountActivitySubscriptionResponseData:
      type: object
      required:
      - subscribed
      properties:
        subscribed:
          type: boolean
          description: Whether the user has an active subscription.
    Error:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
    UserId:
      type: string
      description: Unique identifier of a User
      pattern: ^[0-9]{1,19}$
      example: '2244994945'
    InternalErrorProblem:
      type: object
      required:
      - type
      - title
      - detail
      properties:
        detail:
          type: string
        status:
          type: integer
        title:
          type: string
        type:
          type: string
          enum:
          - https://api.x.com/2/problems/internal-error
    ResourceUnavailableProblem:
      type: object
      required:
      - type
      - title
      - detail
      - resource_type
      properties:
        detail:
          type: string
        resource_id:
          type: string
        resource_type:
          type: string
        status:
          type: integer
        title:
          type: string
        type:
          type: string
          enum:
          - https://api.x.com/2/problems/resource-unavailable
    FieldUnauthorizedProblem:
      type: object
      required:
      - type
      - title
      - detail
      - field
      properties:
        detail:
          type: string
        field:
          type: string
        resource_type:
          type: string
        section:
          type: string
        status:
          type: integer
        title:
          type: string
        type:
          type: string
          enum:
          - https://api.x.com/2/problems/field-unauthorized
    DisallowedResourceProblem:
      type: object
      required:
      - type
      - title
      - detail
      properties:
        detail:
          type: string
        resource_id:
          type: string
        resource_type:
          type: string
        section:
          type: string
        status:
          type: integer
        title:
          type: string
        type:
          type: string
          enum:
          - https://api.x.com/2/problems/disallowed-resource
    ValidateAccountActivitySubscriptionResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ValidateAccountActivitySubscriptionResponseData'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
    NotAuthorizedForResourceProblem:
      type: object
      required:
      - type
      - title
      - detail
      - resource_type
      properties:
        detail:
          type: string
        parameter:
          type: string
        resource_id:
          type: string
        resource_type:
          type: string
        section:
          type: string
        status:
          type: integer
        title:
          type: string
        type:
          type: string
          enum:
          - https://api.x.com/2/problems/not-authorized-for-resource
        value:
          type: string
  securitySchemes:
    OAuth2UserToken:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.x.com/2/oauth2/authorize
          tokenUrl: https://api.x.com/2/oauth2/token
          scopes:
            block.read: View accounts you have blocked.
            block.write: Block and unblock accounts on your behalf.
            bookmark.read: Read your bookmarked Posts.
            bookmark.write: Create and delete your bookmarks.
            broadcast.read: View your live broadcasts and their chat.
            broadcast.write: Manage your live broadcasts and send chat messages on your behalf.
            developer.read: View your developer accounts, apps, and settings.
            developer.write: Create and manage your X Developer Platform account.
            dm.read: Read all your Direct Messages.
            dm.write: Send and manage your Direct Messages.
            follows.read: View accounts you follow and accounts following you.
            follows.write: Follow and unfollow accounts on your behalf.
            like.read: View Posts you have liked and likes you can see.
            like.write: Like and unlike Posts on your behalf.
            list.read: View Lists, members, and followers of Lists you created or are a member of, including
              private Lists.
            list.write: Create and manage Lists on your behalf.
            media.write: Upload media, such as photos and videos, on your behalf.
            mute.read: View accounts you have muted.
            mute.write: Mute and unmute accounts on your behalf.
            offline.access: Request a refresh token for the app.
            space.read: View all Spaces you have access to.
            timeline.read: View all Custom Timelines you can see.
            tweet.moderate.write: Hide and unhide replies to your posts.
            tweet.read: View all posts you can see, including those from protected accounts.
            tweet.write: Create and repost on your behalf.
            users.read: View any account you can see, including protected accounts.
    BearerToken:
      type: http
      scheme: bearer
    UserToken:
      type: http
      scheme: OAuth
