openapi: 3.2.0
info:
  title: X Posts API
  version: '1.0'
  description: 'Operations tagged Posts across 2 of this provider''s published API definitions: x-api-v2-openapi.json, x-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- description: X API
  url: https://api.x.com
- url: https://api.x.com/2
  description: X API v2 production server
tags:
- name: Posts
  description: Endpoints related to retrieving, searching, and modifying Posts
  externalDocs:
    description: Find out more
    url: https://docs.x.com/x-api/posts/introduction
paths:
  /2/tweets:
    get:
      security:
      - OAuth2UserToken:
        - tweet.read
        - users.read
      - UserToken: []
      - BearerToken: []
      tags:
      - Posts
      summary: Get Posts by IDs
      operationId: getPostsByIds
      parameters:
      - name: ids
        in: query
        required: true
        schema:
          type: array
          minItems: 1
          maxItems: 100
          items:
            $ref: '#/components/schemas/PostId'
        explode: false
        style: form
      - $ref: '#/components/parameters/PostFieldsParameter'
      - $ref: '#/components/parameters/PostExpansionsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/MediaFieldsParameter'
      - $ref: '#/components/parameters/PollFieldsParameter'
      - $ref: '#/components/parameters/PlaceFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPostsByIdsResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    post:
      security:
      - OAuth2UserToken:
        - tweet.read
        - users.read
        - tweet.write
      - UserToken: []
      tags:
      - Posts
      summary: Create Posts
      operationId: createPosts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePostsRequest'
        required: true
      responses:
        '201':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePostsResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - description: X API
      url: https://api.x.com
  /2/tweets/analytics:
    get:
      security:
      - OAuth2UserToken:
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Posts
      summary: Get Posts Analytics
      operationId: getPostsAnalytics
      parameters:
      - name: ids
        in: query
        required: true
        schema:
          type: array
          minItems: 1
          maxItems: 100
          items:
            $ref: '#/components/schemas/AnalyticsId'
        explode: false
        style: form
      - name: start_time
        in: query
        required: true
        schema:
          type: string
          format: date-time
        style: form
      - name: end_time
        in: query
        required: true
        schema:
          type: string
          format: date-time
        style: form
      - name: granularity
        in: query
        required: false
        schema:
          type: string
          enum:
          - hourly
          - weekly
          - daily
          - total
          default: total
        style: form
      - $ref: '#/components/parameters/AnalyticsFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPostsAnalyticsResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - description: X API
      url: https://api.x.com
  /2/tweets/counts/all:
    get:
      security:
      - BearerToken: []
      tags:
      - Posts
      summary: Get Posts Counts All
      description: At most one of `pagination_token`, `next_token` may be provided.
      operationId: getPostsCountsAll
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
          minLength: 1
          maxLength: 4096
        style: form
      - name: start_time
        in: query
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - name: end_time
        in: query
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - name: since_id
        in: query
        required: false
        schema:
          type: string
          pattern: ^[0-9]{1,19}$
        style: form
      - name: until_id
        in: query
        required: false
        schema:
          type: string
          pattern: ^[0-9]{1,19}$
        style: form
      - name: next_token
        in: query
        description: A base32hex-encoded pagination token.
        required: false
        schema:
          type: string
          minLength: 1
        style: form
      - name: pagination_token
        in: query
        description: A base32hex-encoded pagination token.
        required: false
        schema:
          type: string
          minLength: 1
        style: form
      - name: granularity
        in: query
        required: false
        schema:
          type: string
          enum:
          - minute
          - hour
          - day
          default: hour
        style: form
      - name: search_count.fields
        in: query
        required: false
        schema:
          type: string
        style: form
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPostsCountsAllResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - description: X API
      url: https://api.x.com
  /2/tweets/counts/recent:
    get:
      security:
      - OAuth2UserToken: []
      - BearerToken: []
      tags:
      - Posts
      summary: Get Posts Counts Recent
      description: At most one of `pagination_token`, `next_token` may be provided.
      operationId: getPostsCountsRecent
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
          minLength: 1
          maxLength: 4096
        style: form
      - name: start_time
        in: query
        description: Must be within the last 7 days.
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - name: end_time
        in: query
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - name: since_id
        in: query
        required: false
        schema:
          type: string
          pattern: ^[0-9]{1,19}$
        style: form
      - name: until_id
        in: query
        required: false
        schema:
          type: string
          pattern: ^[0-9]{1,19}$
        style: form
      - name: next_token
        in: query
        description: A base32hex-encoded pagination token.
        required: false
        schema:
          type: string
          minLength: 1
        style: form
      - name: pagination_token
        in: query
        description: A base32hex-encoded pagination token.
        required: false
        schema:
          type: string
          minLength: 1
        style: form
      - name: granularity
        in: query
        required: false
        schema:
          type: string
          enum:
          - minute
          - hour
          - day
          default: hour
        style: form
      - name: search_count.fields
        in: query
        required: false
        schema:
          type: string
        style: form
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPostsCountsRecentResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - description: X API
      url: https://api.x.com
  /2/tweets/search/all:
    get:
      security:
      - OAuth2UserToken:
        - users.read
        - tweet.read
      - UserToken: []
      - BearerToken: []
      tags:
      - Posts
      summary: Search Posts All
      description: At most one of `start_time`, `since_id` may be provided. At most one of `end_time`, `until_id` may be provided. At most one of `pagination_token`, `next_token` may be provided.
      operationId: searchPostsAll
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
          minLength: 1
          maxLength: 4096
        style: form
      - name: start_time
        in: query
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - name: end_time
        in: query
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - name: since_id
        in: query
        required: false
        schema:
          type: string
          pattern: ^[0-9]{1,19}$
        style: form
      - name: until_id
        in: query
        required: false
        schema:
          type: string
          pattern: ^[0-9]{1,19}$
        style: form
      - name: max_results
        in: query
        required: false
        schema:
          type: integer
          minimum: 10
          maximum: 500
          format: int32
          default: 10
        style: form
      - name: next_token
        in: query
        description: A base32hex-encoded pagination token.
        required: false
        schema:
          type: string
          minLength: 1
        style: form
      - name: pagination_token
        in: query
        description: A base32hex-encoded pagination token.
        required: false
        schema:
          type: string
          minLength: 1
        style: form
      - name: sort_order
        in: query
        required: false
        schema:
          type: string
          enum:
          - recency
          - relevancy
        style: form
      - $ref: '#/components/parameters/PostFieldsParameter'
      - $ref: '#/components/parameters/PostExpansionsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/MediaFieldsParameter'
      - $ref: '#/components/parameters/PollFieldsParameter'
      - $ref: '#/components/parameters/PlaceFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchPostsAllResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - description: X API
      url: https://api.x.com
  /2/tweets/search/recent:
    get:
      security:
      - OAuth2UserToken:
        - users.read
        - tweet.read
      - UserToken: []
      - BearerToken: []
      tags:
      - Posts
      summary: Search Posts Recent
      description: At most one of `start_time`, `since_id` may be provided. At most one of `end_time`, `until_id` may be provided. At most one of `pagination_token`, `next_token` may be provided.
      operationId: searchPostsRecent
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
          minLength: 1
          maxLength: 4096
        style: form
      - name: max_results
        in: query
        required: false
        schema:
          type: integer
          minimum: 10
          maximum: 100
          format: int32
          default: 10
        style: form
      - name: next_token
        in: query
        description: A base32hex-encoded pagination token.
        required: false
        schema:
          type: string
          minLength: 1
        style: form
      - name: pagination_token
        in: query
        description: A base32hex-encoded pagination token.
        required: false
        schema:
          type: string
          minLength: 1
        style: form
      - name: start_time
        in: query
        description: Must be within the last 7 days.
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - name: end_time
        in: query
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - name: since_id
        in: query
        required: false
        schema:
          type: string
          pattern: ^[0-9]{1,19}$
        style: form
      - name: until_id
        in: query
        required: false
        schema:
          type: string
          pattern: ^[0-9]{1,19}$
        style: form
      - name: sort_order
        in: query
        required: false
        schema:
          type: string
          enum:
          - recency
          - relevancy
        style: form
      - $ref: '#/components/parameters/PostFieldsParameter'
      - $ref: '#/components/parameters/PostExpansionsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/MediaFieldsParameter'
      - $ref: '#/components/parameters/PollFieldsParameter'
      - $ref: '#/components/parameters/PlaceFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchPostsRecentResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - description: X API
      url: https://api.x.com
  /2/tweets/{id}:
    delete:
      security:
      - OAuth2UserToken:
        - users.read
        - tweet.read
        - tweet.write
      - UserToken: []
      tags:
      - Posts
      summary: Delete Posts
      operationId: deletePosts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/PostId'
        style: simple
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletePostsResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    get:
      security:
      - OAuth2UserToken:
        - tweet.read
        - users.read
      - UserToken: []
      - BearerToken: []
      tags:
      - Posts
      summary: Get Posts by ID
      operationId: getPostsById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/PostId'
        style: simple
      - $ref: '#/components/parameters/PostFieldsParameter'
      - $ref: '#/components/parameters/PostExpansionsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/MediaFieldsParameter'
      - $ref: '#/components/parameters/PollFieldsParameter'
      - $ref: '#/components/parameters/PlaceFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPostsByIdResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - description: X API
      url: https://api.x.com
  /2/tweets/{id}/liking_users:
    get:
      security:
      - OAuth2UserToken:
        - like.read
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Posts
      summary: Get Posts Liking Users
      operationId: getPostsLikingUsers
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/PostId'
        style: simple
      - name: max_results
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          format: int32
          default: 100
        style: form
      - name: pagination_token
        in: query
        description: A base32hex-encoded pagination token.
        required: false
        schema:
          type: string
          minLength: 1
        style: form
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/UserExpansionsParameter'
      - $ref: '#/components/parameters/PostFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPostsLikingUsersResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - description: X API
      url: https://api.x.com
  /2/tweets/{id}/quote_tweets:
    get:
      security:
      - OAuth2UserToken:
        - users.read
        - tweet.read
      - UserToken: []
      - BearerToken: []
      tags:
      - Posts
      summary: Get Posts Quoted Posts
      operationId: getPostsQuotedPosts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/PostId'
        style: simple
      - name: max_results
        in: query
        required: false
        schema:
          type: integer
          minimum: 10
          maximum: 100
          format: int32
          default: 10
        style: form
      - name: pagination_token
        in: query
        description: A base32hex-encoded pagination token.
        required: false
        schema:
          type: string
          minLength: 1
        style: form
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - replies
            - retweets
        explode: false
        style: form
      - $ref: '#/components/parameters/PostFieldsParameter'
      - $ref: '#/components/parameters/PostExpansionsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/MediaFieldsParameter'
      - $ref: '#/components/parameters/PollFieldsParameter'
      - $ref: '#/components/parameters/PlaceFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPostsQuotedPostsResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - description: X API
      url: https://api.x.com
  /2/tweets/{id}/retweeted_by:
    get:
      security:
      - OAuth2UserToken:
        - tweet.read
        - users.read
      - UserToken: []
      - BearerToken: []
      tags:
      - Posts
      summary: Get Posts Reposted by
      operationId: getPostsRepostedBy
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/PostId'
        style: simple
      - name: max_results
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          format: int32
          default: 100
        style: form
      - name: pagination_token
        in: query
        description: A base32hex-encoded pagination token.
        required: false
        schema:
          type: string
          minLength: 1
        style: form
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/UserExpansionsParameter'
      - $ref: '#/components/parameters/PostFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPostsRepostedByResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - description: X API
      url: https://api.x.com
  /2/tweets/{id}/retweets:
    get:
      security:
      - OAuth2UserToken:
        - users.read
        - tweet.read
      - UserToken: []
      - BearerToken: []
      tags:
      - Posts
      summary: Get Posts Reposts
      operationId: getPostsReposts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/PostId'
        style: simple
      - name: max_results
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          format: int32
          default: 100
        style: form
      - name: pagination_token
        in: query
        description: A base32hex-encoded pagination token.
        required: false
        schema:
          type: string
          minLength: 1
        style: form
      - $ref: '#/components/parameters/PostFieldsParameter'
      - $ref: '#/components/parameters/PostExpansionsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/MediaFieldsParameter'
      - $ref: '#/components/parameters/PollFieldsParameter'
      - $ref: '#/components/parameters/PlaceFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPostsRepostsResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - description: X API
      url: https://api.x.com
  /2/tweets/{tweet_id}/hidden:
    put:
      security:
      - OAuth2UserToken:
        - users.read
        - tweet.read
        - tweet.moderate.write
      - UserToken: []
      tags:
      - Posts
      summary: Hide reply
      description: Hides or unhides a reply to a conversation owned by the authenticated user.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/hide-replies/api-reference/put-tweets-id-hidden
      operationId: hidePostsReply
      parameters:
      - name: tweet_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/PostId'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HidePostsReplyRequest'
        required: true
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HidePostsReplyResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - description: X API
      url: https://api.x.com
  /tweets:
    post:
      tags:
      - Posts
      summary: Create a new post
      operationId: createTweet
      responses:
        '201':
          description: Created post
      security:
      - BearerAuth: []
    servers:
    - url: https://api.x.com/2
      description: X API v2 production server
  /tweets/search/all:
    get:
      tags:
      - Posts
      summary: Full-archive search of posts
      operationId: searchAllTweets
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
        description: Search query in X query language
      responses:
        '200':
          description: Matching posts
      security:
      - BearerAuth: []
    servers:
    - url: https://api.x.com/2
      description: X API v2 production server
  /tweets/search/stream:
    get:
      tags:
      - Posts
      summary: Near real-time filtered stream of posts
      operationId: getFilteredStream
      responses:
        '200':
          description: Streamed posts matching the configured rules
      security:
      - BearerAuth: []
    servers:
    - url: https://api.x.com/2
      description: X API v2 production server
  /tweets/search/stream/rules:
    post:
      tags:
      - Posts
      summary: Add or delete rules for the filtered stream
      operationId: updateFilteredStreamRules
      responses:
        '201':
          description: Rules updated
      security:
      - BearerAuth: []
    get:
      tags:
      - Posts
      summary: List the active rules for the filtered stream
      operationId: getFilteredStreamRules
      responses:
        '200':
          description: Current filtered stream rules
      security:
      - BearerAuth: []
    servers:
    - url: https://api.x.com/2
      description: X API v2 production server
components:
  schemas:
    CreatePostsResponseData:
      type: object
      required:
      - id
      - text
      properties:
        edit_history_post_ids:
          type: array
          description: Post IDs in this Post's edit history chain.
          items:
            type: string
        id:
          type: string
          description: Unique identifier of the created Post.
          pattern: ^[0-9]{1,19}$
        text:
          type: string
          description: The content of the created Post.
    AnalyticsTimestampedMetrics:
      type: array
      description: Time-bucketed engagement metrics for the Post, one entry per granularity bucket.
      items:
        type: object
        properties:
          metrics:
            type:
            - object
            - 'null'
            description: Engagement metric counts for this bucket.
            properties:
              app_install_attempts:
                type:
                - integer
                - 'null'
                format: int64
              app_opens:
                type:
                - integer
                - 'null'
                format: int64
              bookmarks:
                type:
                - integer
                - 'null'
                format: int64
              detail_expands:
                type:
                - integer
                - 'null'
                format: int64
              email_tweet:
                type:
                - integer
                - 'null'
                format: int64
              engagements:
                type:
                - integer
                - 'null'
                format: int64
              follows:
                type:
                - integer
                - 'null'
                format: int64
              hashtag_clicks:
                type:
                - integer
                - 'null'
                format: int64
              impressions:
                type:
                - integer
                - 'null'
                format: int64
              likes:
                type:
                - integer
                - 'null'
                format: int64
              media_views:
                type:
                - integer
                - 'null'
                format: int64
              permalink_clicks:
                type:
                - integer
                - 'null'
                format: int64
              quote_tweets:
                type:
                - integer
                - 'null'
                format: int64
              replies:
                type:
                - integer
                - 'null'
                format: int64
              retweets:
                type:
                - integer
                - 'null'
                format: int64
              shares:
                type:
                - integer
                - 'null'
                format: int64
              unfollows:
                type:
                - integer
                - 'null'
                format: int64
              unlikes:
                type:
                - integer
                - 'null'
                format: int64
              url_clicks:
                type:
                - integer
                - 'null'
                format: int64
              user_profile_clicks:
                type:
                - integer
                - 'null'
                format: int64
          timestamp:
            type:
            - string
            - 'null'
            description: Start of the metrics bucket, as an ISO 8601 date-time.
    FieldHydrationFailureProblem:
      type: object
      required:
      - type
      - title
      - detail
      - field
      properties:
        detail:
          type: string
        field:
          type: string
        resource_type:
          type: string
        section:
          type: string
        status:
          type: integer
        title:
          type: string
        type:
          type: string
          enum:
          - https://api.x.com/2/problems/field-hydration-failure
    CreatePostsMediaCallToActionsVisitSite:
      type: object
      required:
      - url
      properties:
        url:
          type: string
          description: HTTPS URL the CTA links to.
      additionalProperties: false
    Poll:
      type: object
      properties:
        duration_minutes:
          type: integer
        end_datetime:
          type: string
        id:
          type: string
        options:
          $ref: '#/components/schemas/PollOptions'
        voting_status:
          type: string
    CreatePostsPoll:
      type: object
      required:
      - options
      - duration_minutes
      properties:
        duration_minutes:
          type: integer
          description: Duration of the poll in minutes.
          minimum: 5
          maximum: 10080
        options:
          type: array
          description: Poll options (2-4 choices, 1-25 characters each).
          minItems: 2
          maxItems: 4
          items:
            type: string
            minLength: 1
            maxLength: 25
        reply_settings:
          type: string
          description: Who can reply to the poll Tweet. Accepted for compatibility; it carries no backend argument and is dropped before the mutation is issued (see `translate_body`).
          enum:
          - following
          - mentionedUsers
          - subscribers
          - verified
      additionalProperties: false
    UserWithheld:
      type: object
      description: Withholding details for withheld content.
      properties:
        country_codes:
          type:
          - array
          - 'null'
          description: A list of countries (as ISO 3166-1 alpha-2 codes) where this content is withheld.
          items:
            type: string
        scope:
          type:
          - string
          - 'null'
          description: The scope of the withholding. Only present, with the value "user", when the entire User is withheld.
          enum:
          - user
    Error:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
    ResourceUnavailableProblem:
      type: object
      required:
      - type
      - title
      - detail
      - resource_type
      properties:
        detail:
          type: string
        resource_id:
          type: string
        resource_type:
          type: string
        status:
          type: integer
        title:
          type: string
        type:
          type: string
          enum:
          - https://api.x.com/2/problems/resource-unavailable
    HidePostsReplyResponseData:
      type: object
      properties:
        hidden:
          type: boolean
          description: Whether the reply is hidden.
    AnalyticsId:
      type: string
      description: Unique identifier of a Analytics
      pattern: ^[0-9]{1,19}$
    UserEntities:
      type: object
      description: A list of metadata found in the User's profile description.
      properties:
        description:
          type:
          - object
          - 'null'
          description: Entities found in the User's bio.
          properties:
            cashtags:
              type:
              - array
              - 'null'
              items:
                type: object
                description: A hashtag or cashtag entity.
                required:
                - start
                - end
                - tag
                properties:
                  end:
                    type: integer
                    description: End index in the text (exclusive).
                    format: int64
                  start:
                    type: integer
                    description: Start index in the text (inclusive).
                    format: int64
                  tag:
                    type: string
            hashtags:
              type:
              - array
              - 'null'
              items:
                type: object
                description: A hashtag or cashtag entity.
                required:
                - start
                - end
                - tag
                properties:
                  end:
                    type: integer
                    description: End index in the text (exclusive).
                    format: int64
                  start:
                    type: integer
                    description: Start index in the text (inclusive).
                    format: int64
                  tag:
                    type: string
            mentions:
              type:
              - array
              - 'null'
              items:
                type: object
                description: A user mention entity.
                required:
                - start
                - end
                - username
                properties:
                  end:
                    type: integer
                    format: int64
                  id:
                    type:
                    - string
                    - 'null'
                  start:
                    type: integer
                    format: int64
                  username:
                    type: string
            urls:
              type:
              - array
              - 'null'
              items:
                type: object
                description: A URL entity found in profile text.
                required:
                - start
                - end
                - url
                properties:
                  description:
                    type:
                    - string
                    - 'null'
                    description: Description of the linked page, when available.
                  display_url:
                    type:
                    - string
                    - 'null'
                    description: The URL as displayed in the Post text.
                  end:
                    type: integer
                    format: int64
                  expanded_url:
                    type:
                    - string
                    - 'null'
                    description: The fully resolved URL.
                  images:
                    type:
                    - array
                    - 'null'
                    items:
                      type: object
                      description: A preview image for a linked page.
                      properties:
                        height:
                          type:
                          - integer
                          - 'null'
                          format: int64
                        url:
                          type:
                          - string
                          - 'null'
                        width:
                          type:
                          - integer
                          - 'null'
                          format: int64
                  media_key:
                    type:
                    - string
                    - 'null'
                  start:
                    type: integer
                    format: int64
                  status:
                    type:
                    - integer
                    - 'null'
                    description: HTTP status from resolving the URL.
                    format: int64
                  title:
                    type:
                    - string
                    - 'null'
                    description: Title of the linked page, when available.
                  unwound_url:
                    type:
                    - string
                    - 'null'
                    description: The final destination after following redirects.
                  url:
                    type: string
                    description: The t.co shortened URL.
        url:
          type:
          - object
          - 'null'
          description: Entities for the User's profile website URL.
          properties:
            urls:
              type:
              - array
              - 'null'
              items:
                type: object
                description: A URL entity found in profile text.
                required:
                - start
                - end
                - url
                properties:
                  description:
                    type:
                    - string
                    - 'null'
                    description: Description of the linked page, when available.
                  display_url:
                    type:
                    - string
                    - 'null'
                    description: The URL as displayed in the Post text.
                  end:
                    type: integer
                    format: int64
                  expanded_url:
                    type:
                    - string
                    - 'null'
                    description: The fully resolved URL.
                  images:
                    type:
                    - array
                    - 'null'
                    items:
                      type: object
                      description: A preview image for a linked page.
                      properties:
                        height:
                          type:
                          - integer
                          - 'null'
                          format: int64
                        url:
                          type:
                          - string
                          - 'null'
                        width:
                          type:
                          - integer
                          - 'null'
                          format: int64
                  media_key:
                    type:
                    - string
                    - 'null'
                  start:
                    type: integer
                    format: int64
                  status:
                    type:
                    - integer
                    - 'null'
                    description: HTTP status from resolving the URL.
                    format: int64
                  title:
                    type:
                    - string
                    - 'null'
                    description: Title of the linked page, when available.
                  unwound_url:
                    type:
                    - string
                    - 'null'
                    description: The final destination after following redirects.
                  url:
                    type: string
                    description: The t.co shortened URL.
    PostMediaMetadata:
      type: array
      description: Metadata for media attached to this Post.
      items:
        type: object
        description: Metadata for one media item attached to this Post.
        properties:
          alt_text:
            type:
            - string
            - 'null'
            description: Alternative text describing the media for accessibility.
          description:
            type:
            - string
            - 'null'
            description: Description of the media.
          media_key:
            type:
            - string
            - 'null'
            description: The unique identifier of the media.
          title:
            type:
            - string
            - 'null'
            description: Title of the media.
    InternalErrorProblem:
      type: object
      required:
      - type
      - title
      - detail
      properties:
        detail:
          type: string
        status:
          type: integer
        title:
          type: string
        type:
          type: string
          enum:
          - https://api.x.com/2/problems/internal-error
    CreatePostsReply:
      type: object
      required:
      - in_reply_to_tweet_id
      properties:
        auto_populate_reply_metadata:
          type: boolean
          description: If true, reply metadata is automatically populated. Accepted for compatibility; it carries no backend argument and is dropped before the mutation is issued (see `translate_body`).
        exclude_reply_user_ids:
          type: array
          description: User IDs to exclude from the reply thread.
          items:
            type: string
        in_reply_to_tweet_id:
          type: string
          description: The ID of the tweet being replied to.
          pattern: ^[0-9]{1,19}$
      additionalProperties: false
    PostEditControls:
      type: object
      description: Indicates how much longer (if at all) this Post can be edited.
      properties:
        editable_until:
          type:
          - string
          - 'null'
          description: The time until which this Post can be edited.
        edits_remaining:
          type:
          - integer
          - 'null'
          description: Number of edits still allowed for this Post.
          format: int64
        is_edit_eligible:
          type:
          - boolean
          - 'null'
          description: Indicates whether this Post is eligible to be edited.
    UserAffiliation:
      type: object
      description: Metadata about a user's affiliation.
      properties:
        badge_url:
          type:
          - string
          - 'null'
          description: URL of the affiliation badge image shown on the User's profile.
        description:
          type:
          - string
          - 'null'
          description: Description of the affiliation.
        url:
          type:
          - string
          - 'null'
          description: URL associated with the affiliation.
        user_id:
          type:
          - array
          - 'null'
          description: A list of unique identifiers of the accounts this User is affiliated with.
          items:
            type: string
    Problem:
      oneOf:
      - $ref: '#/components/schemas/ResourceNotFoundProblem'
      - $ref: '#/components/schemas/InvalidRequestProblem'
      - $ref: '#/components/schemas/NotAuthorizedForResourceProblem'
      - $ref: '#/components/schemas/NotAuthorizedForFieldProblem'
      - $ref: '#/components/schemas/FieldUnauthorizedProblem'
      - $ref: '#/components/schemas/FieldHydrationFailureProblem'
      - $ref: '#/components/schemas/ResourceUnavailableProblem'
      - $ref: '#/components/schemas/DisallowedResourceProblem'
      - $ref: '#/components/schemas/InternalErrorProblem'
      discriminator:
        propertyName: type
        mapping:
          https://api.x.com/2/problems/disallowed-resource: '#/components/schemas/DisallowedResourceProblem'
          https://api.x.com/2/problems/field-hydration-failure: '#/components/schemas/FieldHydrationFailureProblem'
          https://api.x.com/2/problems/field-unauthorized: '#/components/schemas/FieldUnauthorizedProblem'
          https://api.x.com/2/problems/internal-error: '#/components/schemas/InternalErrorProblem'
          https://api.x.com/2/problems/invalid-request: '#/components/schemas/InvalidRequestProblem'
          https://api.x.com/2/problems/not-authorized-for-field: '#/components/schemas/NotAuthorizedForFieldProblem'
          https://api.x.com/2/problems/not-authorized-for-resource: '#/components/schemas/NotAuthorizedForResourceProblem'
          https://api.x.com/2/problems/resource-not-found: '#/components/schemas/ResourceNotFoundProblem'
          https://api.x.com/2/problems/resource-unavailable: '#/components/schemas/ResourceUnavailableProblem'
    DeletePostsResponseData:
      type: object
      required:
      - deleted
      properties:
        deleted:
          type: boolean
          description: Whether the Post was deleted.
    GetPostsQuotedPostsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Post'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
        includes:
          $ref: '#/components/schemas/Expansions'
        meta:
          type: object
          properties:
            next_token:
              type: string
              description: Pagination token for the next page of results.
            result_count:
              type: integer
              description: Number of items in the data array.
              format: int32
    CreatePostsRequest:
      type: object
      properties:
        card_uri:
          type: string
          description: Card URI parameter.
        community_id:
          type: string
          description: Community to post the tweet to.
          pattern: ^[0-9]{1,19}$
        direct_message_deep_link:
          type: string
          description: Direct message deep link.
        edit_options:
          description: Edit an existing tweet rather than creating a new one.
          $ref: '#/components/schemas/CreatePostsEditOptions'
        for_super_followers_only:
          type: boolean
          description: Restrict tweet to super followers.
        geo:
          description: Geo location for the tweet.
          $ref: '#/components/schemas/CreatePostsGeo'
        made_with_ai:
          type: boolean
          description: Disclose that the tweet contains AI-generated media.
        media:
          description: Media attachments.
          $ref: '#/components/schemas/CreatePostsMedia'
        nullcast:
          type: boolean
          description: If true, the tweet is not shown in the public timeline.
        paid_partnership:
          type: boolean
          description: Disclose that the tweet is a paid partnership.
        poll:
          description: Poll configuration.
          $ref: '#/components/schemas/CreatePostsPoll'
        quote_tweet_id:
          type: string
          description: Tweet ID to quote.
          pattern: ^[0-9]{1,19}$
        reply:
          description: Tweet reply configuration.
          $ref: '#/components/schemas/CreatePostsReply'
        reply_settings:
          type: string
          description: Who can reply to this tweet.
          enum:
          - following
          - mentionedUsers
          - subscribers
          - verified
        share_with_followers:
          type: boolean
          description: Share an exclusive (super-follower) tweet with all followers.
        text:
          type: string
          description: 'Text of the tweet. Required unless media is provided.  Defaulted to an empty string so it is always sent: the backend''s `tweet_text` variable is non-null and rejects an absent value.'
          default: ''
      additionalProperties: false
    UserSubscription:
      type: object
      description: The subscription relationship between this User and you.
      required:
      - subscribes_to_you
      properties:
        subscribes_to_you:
          type: boolean
          description: Indicates if this User subscribes to you.
    CreatePostsResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/CreatePostsResponseData'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
    CreatePostsMedia:
      type: object
      required:
      - media_ids
      properties:
        call_to_actions:
          description: Call-to-action button rendered on the media entity.
          $ref: '#/components/schemas/CreatePostsMediaCallToActions'
        description:
          type: string
          description: Description for the media, rendered on the Post card for video and Amplify content.
        embeddable:
          type: boolean
          description: When true, the media's asset URLs do not expire and external syndicated playback is allowed.
        media_ids:
          type: array
          description: Media IDs to attach to the tweet.
          minItems: 1
          maxItems: 4
          items:
            type: string
            pattern: ^[0-9]{1,19}$
        preview_media_id:
          type: string
          description: Media id whose asset is used as the preview image.
          pattern: ^[0-9]{1,19}$
        tagged_user_ids:
          type: array
          description: User IDs tagged in the media.
          maxItems: 10
          items:
            type: string
            pattern: ^[0-9]{1,19}$
        title:
          type: string
          description: Title for the media, rendered on the Post card for video and Amplify content.
      additionalProperties: false
    GetPostsByIdsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Post'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
        includes:
          $ref: '#/components/schemas/Expansions'
        meta:
          type: object
          properties:
            result_count:
              type: integer
              description: Number of items in the data array.
              format: int32
    HidePostsReplyRequest:
      type: object
      required:
      - hidden
      properties:
        hidden:
          type: boolean
          description: Whether the reply should be hidden.
      additionalProperties: false
    PostReferencedPosts:
      type: array
      description: A list of Posts this Post refers to. If the Post is a Retweet, Quote or Reply, it includes the referenced Post's type and ID.
      items:
        type: object
        description: A reference from this Post to another Post (repost, quote, or reply).
        required:
        - type
        - id
        properties:
          id:
            type: string
            description: Unique identifier of the referenced Post.
          type:
            description: How this Post references the other Post.
            oneOf:
            - type: string
              description: The kind of Post-to-Post reference.
              enum:
              - retweeted
              - quoted
              - replied_to
    GetPostsCountsAllResponseData:
      type: object
      required:
      - start
      - end
      - post_count
      properties:
        end:
          type: string
          description: End of the count bucket (exclusive), RFC 3339.
        post_count:
          type: integer
          description: Number of Posts in the bucket.
        start:
          type: string
          description: Start of the count bucket (inclusive), RFC 3339.
    GetPostsRepostedByResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/User'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
        includes:
          $ref: '#/components/schemas/Expansions'
        meta:
          type: object
          properties:
            next_token:
              type: string
              description: Pagination token for the next page of results.
            previous_token:
              type: string
              description: Pagination token for the previous page of results.
            result_count:
              type: integer
              description: Number of items in the data array.
              format: int32
    SearchPostsRecentResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Post'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
        includes:
          $ref: '#/components/schemas/Expansions'
        meta:
          type: object
          properties:
            newest_id:
              type: string
              description: Most recent ID in the data array.
            next_token:
              type: string
              description: Pagination token for the next page of results.
            oldest_id:
              type: string
              description: Oldest ID in the data array.
            previous_token:
              type: string
              description: Pagination token for the previous page of results.
            result_count:
              type: integer
              description: Number of items in the data array.
              format: int32
    PostNotePost:
      type: object
      description: The full content of the Post, including text beyond 280 characters.
      required:
      - text
      properties:
        entities:
          type:
          - object
          - 'null'
          description: Metadata entities (hashtags, cashtags, mentions, URLs) found in the note Post text.
          properties:
            cashtags:
              type:
              - array
              - 'null'
              items:
                type: object
                description: A hashtag or cashtag entity.
                required:
                - start
                - end
                - tag
                properties:
                  end:
                    type: integer
                    description: End index in the text (exclusive).
                    format: int64
                  start:
                    type: integer
                    description: Start index in the text (inclusive).
                    format: int64
                  tag:
                    type: string
            hashtags:
              type:
              - array
              - 'null'
              items:
                type: object
                description: A hashtag or cashtag entity.
                required:
                - start
                - end
                - tag
                properties:
                  end:
                    type: integer
                    description: End index in the text (exclusive).
                    format: int64
                  start:
                    type: integer
                    description: Start index in the text (inclusive).
                    format: int64
                  tag:
                    type: string
            mentions:
              type:
              - array
              - 'null'
              items:
                type: object
                description: A user mention entity.
                required:
                - start
                - end
                properties:
                  end:
                    type: integer
                    format: int64
                  id:
                    type:
                    - string
                    - 'null'
                  start:
                    type: integer
                    format: int64
                  username:
                    type:
                    - string
                    - 'null'
            urls:
              type:
              - array
              - 'null'
              items:
                type: object
                description: A URL entity found in note Post text.
                required:
                - start
                - end
                properties:
                  display_url:
                    type:
                    - string
                    - 'null'
                  end:
                    type: integer
                    format: int64
                  expanded_url:
                    type:
                    - string
                    - 'null'
                  start:
                    type: integer
                    format: int64
                  url:
                    type:
                    - string
                    - 'null'
        text:
          type: string
          description: The full note text of the Post.
    PostScopes:
      type: object
      description: The scopes for this Post.
      required:
      - followers
      properties:
        followers:
          type: boolean
          description: Indicates whether visibility of this Post is limited to the author's followers.
    DisallowedResourceProblem:
      type: object
      required:
      - type
      - title
      - detail
      properties:
        detail:
          type: string
        resource_id:
          type: string
        resource_type:
          type: string
        section:
          type: string
        status:
          type: integer
        title:
          type: string
        type:
          type: string
          enum:
          - https://api.x.com/2/problems/disallowed-resource
    PostSuggestedSourceLinksWithCounts:
      type: array
      description: Suggested source URLs for this Post, each with the number of times it was suggested.
      items:
        type: object
        description: A suggested source URL for this Post with the number of times it was suggested.
        properties:
          count:
            type:
            - integer
            - 'null'
            description: Number of times this source link was suggested.
            format: int64
          url:
            type:
            - string
            - 'null'
            description: The suggested source URL.
    HidePostsReplyResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/HidePostsReplyResponseData'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
    Topic:
      type: object
      properties:
        description:
          type: string
        id:
          type: string
        name:
          type: string
    GetPostsByIdResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Post'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
        includes:
          $ref: '#/components/schemas/Expansions'
    PlaceContainedWithin:
      type: array
      description: A list of unique identifiers of the Places that contain this place.
      items:
        type: string
    DeletePostsResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/DeletePostsResponseData'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
    MediaPublicMetrics:
      type: object
      description: Public engagement metrics for the media at the time of the request.
      required:
      - view_count
      properties:
        view_count:
          type: integer
          description: The number of times this video has been viewed.
          format: int64
    Analytics:
      type: object
      properties:
        app_install_attempts:
          type: integer
        app_opens:
          type: integer
        bookmarks:
          type: integer
        detail_expands:
          type: integer
        email_tweet:
          type: integer
        engagements:
          type: integer
        follows:
          type: integer
        hashtag_clicks:
          type: integer
        id:
          type: string
        impressions:
          type: integer
        likes:
          type: integer
        media_views:
          type: integer
        permalink_clicks:
          type: integer
        quote_tweets:
          type: integer
        replies:
          type: integer
        retweets:
          type: integer
        shares:
          type: integer
        timestamp:
          type: string
        timestamped_metrics:
          $ref: '#/components/schemas/AnalyticsTimestampedMetrics'
        unfollows:
          type: integer
        unlikes:
          type: integer
        url_clicks:
          type: integer
        user_profile_clicks:
          type: integer
    PostDisplayTextRange:
      type: array
      description: The inclusive start and exclusive end indices of the displayable content of the Post.
      minItems: 2
      maxItems: 2
      items:
        type: integer
        format: int64
    Expansions:
      type: object
      properties:
        media:
          type: array
          items:
            $ref: '#/components/schemas/Media'
        places:
          type: array
          items:
            $ref: '#/components/schemas/Place'
        polls:
          type: array
          items:
            $ref: '#/components/schemas/Poll'
        posts:
          type: array
          items:
            $ref: '#/components/schemas/Post'
        topics:
          type: array
          items:
            $ref: '#/components/schemas/Topic'
        users:
          type: array
          items:
            $ref: '#/components/schemas/User'
    GetPostsLikingUsersResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/User'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
        includes:
          $ref: '#/components/schemas/Expansions'
        meta:
          type: object
          properties:
            next_token:
              type: string
              description: Pagination token for the next page of results.
            previous_token:
              type: string
              description: Pagination token for the previous page of results.
            result_count:
              type: integer
              description: Number of items in the data array.
              format: int32
    PostGeo:
      type: object
      description: The location tagged on the Post, if the user provided one.
      properties:
        coordinates:
          type:
          - object
          - 'null'
          description: A GeoJSON Point geometry.
          required:
          - type
          - coordinates
          properties:
            coordinates:
              type: array
              description: '[longitude, latitude].'
              minItems: 2
              maxItems: 2
              items:
                type: number
                format: double
            type:
              type: string
              description: The GeoJSON geometry type.
              enum:
              - Point
        place_id:
          type:
          - string
          - 'null'
          description: The unique identifier of the tagged place.
    CreatePostsMediaCallToActions:
      type: object
      properties:
        app_install:
          description: App Install CTA. At least one store id should be provided.
          $ref: '#/components/schemas/CreatePostsMediaCallToActionsAppInstall'
        visit_site:
          description: Visit Site CTA.
          $ref: '#/components/schemas/CreatePostsMediaCallToActionsVisitSite'
        watch_now:
          description: Watch Now CTA.
          $ref: '#/components/schemas/CreatePostsMediaCallToActionsWatchNow'
      additionalProperties: false
    PostEntities:
      type: object
      description: A list of metadata entities (hashtags, mentions, URLs) found in the Post text.
      properties:
        cashtags:
          type:
          - array
          - 'null'
          items:
            type: object
            description: A hashtag or cashtag entity.
            required:
            - start
            - end
            - tag
            properties:
              end:
                type: integer
                description: End index in the text (exclusive).
                format: int64
              start:
                type: integer
                description: Start index in the text (inclusive).
                format: int64
              tag:
                type: string
        hashtags:
          type:
          - array
          - 'null'
          items:
            type: object
            description: A hashtag or cashtag entity.
            required:
            - start
            - end
            - tag
            properties:
              end:
                type: integer
                description: End index in the text (exclusive).
                format: int64
              start:
                type: integer
                description: Start index in the text (inclusive).
                format: int64
              tag:
                type: string
        mentions:
          type:
          - array
          - 'null'
          items:
            type: object
            description: A user mention entity.
            required:
            - start
            - end
            properties:
              end:
                type: integer
                format: int64
              id:
                type:
                - string
                - 'null'
              start:
                type: integer
                format: int64
              username:
                type:
                - string
                - 'null'
        urls:
          type:
          - array
          - 'null'
          items:
            type: object
            description: A URL entity found in the Post text, enriched with link metadata.
            required:
            - start
            - end
            properties:
              description:
                type:
                - string
                - 'null'
                description: Description of the linked page, when available.
              display_url:
                type:
                - string
                - 'null'
                description: The URL as displayed in the Post text.
              end:
                type: integer
                format: int64
              expanded_url:
                type:
                - string
                - 'null'
                description: The fully resolved URL.
              images:
                type:
                - array
                - 'null'
                items:
                  type: object
                  description: A preview image for a linked page.
                  properties:
                    height:
                      type:
                      - integer
                      - 'null'
                      format: int64
                    url:
                      type:
                      - string
                      - 'null'
                    width:
                      type:
                      - integer
                      - 'null'
                      format: int64
              media_key:
                type:
                - string
                - 'null'
              start:
                type: integer
                format: int64
              status:
                type:
                - integer
                - 'null'
                description: HTTP status from resolving the URL.
                format: int64
              title:
                type:
                - string
                - 'null'
                description: Title of the linked page, when available.
              unwound_url:
                type:
                - string
                - 'null'
                description: The final destination after following redirects.
              url:
                type:
                - string
                - 'null'
                description: The t.co shortened URL.
    MediaVariants:
      type: array
      description: Each media object may have multiple display or playback variants, with different resolutions or formats.
      items:
        type: object
        description: A single playback or display variant of a media object.
        properties:
          bit_rate:
            type:
            - integer
            - 'null'
            description: The bit rate of this variant, in bits per second. Absent for playlist variants.
            format: int64
          content_type:
            type:
            - string
            - 'null'
            description: The MIME type of this variant, for example "video/mp4" or "application/x-mpegURL".
          url:
            type:
            - string
            - 'null'
            description: The URL to this media variant.
    NotAuthorizedForFieldProblem:
      type: object
      required:
      - type
      - title
      - detail
      - field
      properties:
        detail:
          type: string
        field:
          type: string
        parameter:
          type: string
        resource_id:
          type: string
        resource_type:
          type: string
        section:
          type: string
        status:
          type: integer
        title:
          type: string
        type:
          type: string
          enum:
          - https://api.x.com/2/problems/not-authorized-for-field
        value:
          type: string
    PostNoteRequestSuggestions:
      type: array
      description: Community-Notes request suggestions for this Post.
      items:
        type: object
        description: A Community-Notes request suggestion for this Post.
        properties:
          source_link:
            type:
            - string
            - 'null'
            description: A suggested source link supporting the note request.
          suggestion:
            type:
            - string
            - 'null'
            description: The text of the note request suggestion.
          suggestion_id:
            type:
            - string
            - 'null'
            description: The unique identifier of the note request suggestion.
    MediaPromotedMetrics:
      type: object
      description: Promoted nonpublic engagement metrics for the media at the time of the request.
      properties:
        playback_0_count:
          type:
          - integer
          - 'null'
          description: Number of users who started playback (0% quartile) of this video.
          format: int64
        playback_100_count:
          type:
          - integer
          - 'null'
          description: Number of users who completed playback (100% quartile) of this video.
          format: int64
        playback_25_count:
          type:
          - integer
          - 'null'
          description: Number of users who watched at least 25% of this video.
          format: int64
        playback_50_count:
          type:
          - integer
          - 'null'
          description: Number of users who watched at least 50% of this video.
          format: int64
        playback_75_count:
          type:
          - integer
          - 'null'
          description: Number of users who watched at least 75% of this video.
          format: int64
        view_count:
          type:
          - integer
          - 'null'
          description: The number of promoted views of this video. Null when the backend returns quartile data without a view count.
          format: int64
    CreatePostsEditOptions:
      type: object
      required:
      - previous_post_id
      properties:
        previous_post_id:
          type: string
          description: The ID of the Post being edited.
          pattern: ^[0-9]{1,19}$
      additionalProperties: false
    User:
      type: object
      properties:
        affiliation:
          $ref: '#/components/schemas/UserAffiliation'
        confirmed_email:
          type: string
        connection_status:
          $ref: '#/components/schemas/UserConnectionStatus'
        created_at:
          type: string
          description: Creation time of this User.
          format: date-time
        description:
          type: string
          description: The text of this User's profile description (also known as bio), if the User provided one.
        entities:
          $ref: '#/components/schemas/UserEntities'
        id:
          type: string
          description: Unique identifier of this User.
        is_identity_verified:
          type: boolean
          description: Indicates if this User has completed identity verification.
        location:
          type: string
          description: The location specified in the User's profile, if the User provided one. As this is a freeform value, it may not indicate a valid location.
        most_recent_post_id:
          type: string
          description: Unique identifier of this User's most recent Post.
        name:
          type: string
          description: The friendly name of this User, as shown on their profile.
        parody:
          type: boolean
          description: Indicates if this User is a parody account.
        pinned_post_id:
          type: string
          description: Unique identifier of this User's pinned Post.
        profile_banner_url:
          type: string
          description: The URL to the profile banner for this User.
        profile_image_url:
          type: string
          description: The URL to the profile image for this User.
        protected:
          type: boolean
          description: Indicates if this User has chosen to protect their Posts (in other words, if this User's Posts are private).
        public_metrics:
          $ref: '#/components/schemas/UserPublicMetrics'
        receives_your_dm:
          type: boolean
          description: Indicates if you can send a DM to this User.
        subscriber_count:
          type: integer
          description: The number of Premium subscribers of this User.
        subscribes_to_you:
          type: boolean
          description: Indicates if this User subscribes to you.
        subscription:
          $ref: '#/components/schemas/UserSubscription'
        subscription_type:
          type: string
          description: 'The X Blue subscription type of the user, e.g.: Basic, Premium, PremiumPlus or None.'
        url:
          type: string
          description: The URL specified in the User's profile.
        username:
          type: string
          description: The X handle (screen name) of this User.
        verified:
          type: boolean
          description: Indicates if this User is a verified X User.
        verified_followers_count:
          type: integer
          description: The number of verified followers of this User.
        verified_type:
          type: string
          description: 'The X Blue verified type of the user, e.g.: blue, government, business or none.'
        withheld:
          $ref: '#/components/schemas/UserWithheld'
    UserPublicMetrics:
      type: object
      description: A list of metrics for this User.
      required:
      - followers_count
      - following_count
      - post_count
      - listed_count
      properties:
        followers_count:
          type: integer
          description: Number of Users who follow this User.
          format: int64
        following_count:
          type: integer
          description: Number of Users this User follows.
          format: int64
        like_count:
          type:
          - integer
          - 'null'
          description: Number of Posts this User has liked.
          format: int64
        listed_count:
          type: integer
          description: Number of Lists that include this User.
          format: int64
        media_count:
          type:
          - integer
          - 'null'
          description: Number of media items posted by this User.
          format: int64
        post_count:
          type: integer
          description: Number of Posts (including Reposts) created by this User.
          format: int64
    GetPostsRepostsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Post'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
        includes:
          $ref: '#/components/schemas/Expansions'
        meta:
          type: object
          properties:
            next_token:
              type: string
              description: Pagination token for the next page of results.
            previous_token:
              type: string
              description: Pagination token for the previous page of results.
            result_count:
              type: integer
              description: Number of items in the data array.
              format: int32
    Place:
      type: object
      properties:
        contained_within:
          $ref: '#/components/schemas/PlaceContainedWithin'
        country:
          type: string
        country_code:
          type: string
        full_name:
          type: string
        geo:
          $ref: '#/components/schemas/PlaceGeo'
        id:
          type: string
        name:
          type: string
        place_type:
          type: string
    GetPostsCountsAllResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/GetPostsCountsAllResponseData'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
        meta:
          type: object
          properties:
            next_token:
              type: string
              description: Pagination token for the next page of results.
            total_post_count:
              type: integer
              format: int64
    GetPostsCountsRecentResponseData:
      type: object
      required:
      - start
      - end
      - post_count
      properties:
        end:
          type: string
          description: End of the count bucket (exclusive), RFC 3339.
        post_count:
          type: integer
          description: Number of Posts in the bucket.
        start:
          type: string
          description: Start of the count bucket (inclusive), RFC 3339.
    PostPublicMetrics:
      type: object
      description: Engagement metrics for the Post at the time of the request.
      required:
      - repost_count
      - reply_count
      - like_count
      - quote_count
      - bookmark_count
      - impression_count
      properties:
        bookmark_count:
          type: integer
          description: Number of times this Post has been bookmarked.
          format: int64
        impression_count:
          type: integer
          description: Number of times this Post has been viewed.
          format: int64
        like_count:
          type: integer
          description: Number of likes on this Post.
          format: int64
        quote_count:
          type: integer
          description: Number of quote Posts of this Post.
          format: int64
        reply_count:
          type: integer
          description: Number of replies to this Post.
          format: int64
        repost_count:
          type: integer
          description: Number of times this Post has been reposted.
          format: int64
    Media:
      type: object
      properties:
        alt_text:
          type: string
        duration_ms:
          type: integer
        height:
          type: integer
        media_key:
          type: string
        non_public_metrics:
          $ref: '#/components/schemas/MediaNonPublicMetrics'
        organic_metrics:
          $ref: '#/components/schemas/MediaOrganicMetrics'
        preview_image_url:
          type: string
        promoted_metrics:
          $ref: '#/components/schemas/MediaPromotedMetrics'
        public_metrics:
          $ref: '#/components/schemas/MediaPublicMetrics'
        type:
          type: string
        url:
          type: string
        variants:
          $ref: '#/components/schemas/MediaVariants'
        width:
          type: integer
    PostId:
      type: string
      description: Unique identifier of a Post
      pattern: ^[0-9]{1,19}$
      example: '1346889436626259968'
    GetPostsAnalyticsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Analytics'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
    GetPostsCountsRecentResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/GetPostsCountsRecentResponseData'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
        meta:
          type: object
          properties:
            next_token:
              type: string
              description: Pagination token for the next page of results.
            total_post_count:
              type: integer
              format: int64
    PostSuggestedSourceLinks:
      type: array
      description: URLs suggested as sources for this Post.
      items:
        type: string
    NotAuthorizedForResourceProblem:
      type: object
      required:
      - type
      - title
      - detail
      - resource_type
      properties:
        detail:
          type: string
        parameter:
          type: string
        resource_id:
          type: string
        resource_type:
          type: string
        section:
          type: string
        status:
          type: integer
        title:
          type: string
        type:
          type: string
          enum:
          - https://api.x.com/2/problems/not-authorized-for-resource
        value:
          type: string
    CreatePostsGeo:
      type: object
      required:
      - place_id
      properties:
        place_id:
          type: string
          description: Place ID for geo tagging.
      additionalProperties: false
    MediaNonPublicMetrics:
      type: object
      description: Nonpublic engagement metrics for the media at the time of the request.
      properties:
        playback_0_count:
          type:
          - integer
          - 'null'
          description: Number of users who started playback (0% quartile) of this video.
          format: int64
        playback_100_count:
          type:
          - integer
          - 'null'
          description: Number of users who completed playback (100% quartile) of this video.
          format: int64
        playback_25_count:
          type:
          - integer
          - 'null'
          description: Number of users who watched at least 25% of this video.
          format: int64
        playback_50_count:
          type:
          - integer
          - 'null'
          description: Number of users who watched at least 50% of this video.
          format: int64
        playback_75_count:
          type:
          - integer
          - 'null'
          description: Number of users who watched at least 75% of this video.
          format: int64
    UserConnectionStatus:
      type: array
      description: Returns detailed information about the relationship between two users.
      items:
        type: string
        description: A connection between the authenticated User and this User.
        enum:
        - blocking
        - follow_request_received
        - follow_request_sent
        - followed_by
        - following
        - muting
    Post:
      type: object
      properties:
        article:
          type: object
        article_title:
          type: object
          description: Metadata about the long-form Article attached to this Post, if any.
        attachments:
          $ref: '#/components/schemas/PostAttachments'
        author_id:
          type: string
          description: Unique identifier of the author of this Post.
        card_uri:
          type: string
        community_id:
          type: string
          description: The unique identifier of the Community this Post belongs to, if any.
        context_annotations:
          $ref: '#/components/schemas/PostContextAnnotations'
        conversation_id:
          type: string
          description: The ID of the conversation this Post belongs to (matches the root Post's ID).
        created_at:
          type: string
          description: Creation time of the Post.
          format: date-time
        display_text_range:
          $ref: '#/components/schemas/PostDisplayTextRange'
        edit_controls:
          $ref: '#/components/schemas/PostEditControls'
        edit_history_post_ids:
          type: array
          description: A list of Post IDs in this Post's edit history chain.
          items:
            type: string
        entities:
          $ref: '#/components/schemas/PostEntities'
        geo:
          $ref: '#/components/schemas/PostGeo'
        id:
          type: string
          description: Unique identifier of this Post.
        in_reply_to_user_id:
          type: string
          description: Unique identifier of the User this Post is replying to.
        lang:
          type: string
          description: Language of the Post, if detected by X. Returned as a BCP47 language tag.
        matched_media_notes:
          $ref: '#/components/schemas/PostMatchedMediaNotes'
        media_metadata:
          $ref: '#/components/schemas/PostMediaMetadata'
        non_public_metrics:
          type: object
          description: Nonpublic engagement metrics for the Post at the time of the request.
        note_post:
          $ref: '#/components/schemas/PostNotePost'
        note_request_suggestions:
          $ref: '#/components/schemas/PostNoteRequestSuggestions'
        organic_metrics:
          type: object
          description: Organic nonpublic engagement metrics for the Post at the time of the request.
        paid_partnership:
          type: boolean
          description: Indicates if this Post is a paid partnership, i.e. it has been disclosed by the author as containing paid promotion.
        possibly_sensitive:
          type: boolean
          description: Indicates if this Post contains URLs marked as sensitive, for example content suitable for mature audiences.
        promoted_metrics:
          type: object
          description: Promoted nonpublic engagement metrics for the Post at the time of the request.
        public_metrics:
          $ref: '#/components/schemas/PostPublicMetrics'
        referenced_posts:
          $ref: '#/components/schemas/PostReferencedPosts'
        reply_settings:
          type: string
          description: Shows who can reply to this Post.
        scopes:
          $ref: '#/components/schemas/PostScopes'
        source:
          type: string
          description: The name of the app the user posted from. This is deprecated.
        suggested_source_links:
          $ref: '#/components/schemas/PostSuggestedSourceLinks'
        suggested_source_links_with_counts:
          $ref: '#/components/schemas/PostSuggestedSourceLinksWithCounts'
        text:
          type: string
          description: The content of the Post.
        username:
          type: string
        withheld:
          $ref: '#/components/schemas/PostWithheld'
    InvalidRequestProblem:
      type: object
      required:
      - type
      - title
      - detail
      properties:
        detail:
          type: string
        parameter:
          type: string
        status:
          type: integer
        title:
          type: string
        type:
          type: string
          enum:
          - https://api.x.com/2/problems/invalid-request
        value:
          type: string
    PostAttachments:
      type: object
      description: Specifies the type of attachments (if any) present in this Post.
      properties:
        media_keys:
          type:
          - array
          - 'null'
          description: Media keys of media attached to this Post.
          items:
            type: string
        media_source_tweet_id:
          type:
          - array
          - 'null'
          description: IDs of the source Posts the attached media originated from.
          items:
            type: string
        poll_ids:
          type:
          - array
          - 'null'
          description: IDs of polls attached to this Post.
          items:
            type: string
    PostContextAnnotations:
      type: array
      description: Annotations inferred about the Post (domain and entity context).
      items:
        type: object
        description: A single inferred annotation about the Post (domain and entity context).
        required:
        - domain
        - entity
        properties:
          domain:
            description: The domain (broad category) this annotation belongs to.
            oneOf:
            - type: object
              description: A domain or entity referenced by a context annotation.
              properties:
                description:
                  type:
                  - string
                  - 'null'
                id:
                  type:
                  - string
                  - 'null'
                name:
                  type:
                  - string
                  - 'null'
          entity:
            description: The specific entity recognized within the domain.
            oneOf:
            - type: object
              description: A domain or entity referenced by a context annotation.
              properties:
                description:
                  type:
                  - string
                  - 'null'
                id:
                  type:
                  - string
                  - 'null'
                name:
                  type:
                  - string
                  - 'null'
    PollOptions:
      type: array
      description: The list of options (choices) available in this poll.
      items:
        type: object
        description: A single option (choice) available in a poll.
        required:
        - position
        - label
        - votes
        properties:
          label:
            type: string
            description: The text label of this poll option.
          position:
            type: integer
            description: The 1-based position of this option within the poll.
            format: int64
          votes:
            type: integer
            description: The number of votes this option has received.
            format: int64
    SearchPostsAllResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Post'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
        includes:
          $ref: '#/components/schemas/Expansions'
        meta:
          type: object
          properties:
            newest_id:
              type: string
              description: Most recent ID in the data array.
            next_token:
              type: string
              description: Pagination token for the next page of results.
            oldest_id:
              type: string
              description: Oldest ID in the data array.
            previous_token:
              type: string
              description: Pagination token for the previous page of results.
            result_count:
              type: integer
              description: Number of items in the data array.
              format: int32
    PlaceGeo:
      type: object
      description: The geographic location of this place, expressed as a GeoJSON Feature.
      required:
      - type
      - bbox
      - properties
      properties:
        bbox:
          type: array
          description: The bounding box as [southwest_longitude, southwest_latitude, northeast_longitude, northeast_latitude].
          minItems: 4
          maxItems: 4
          items:
            type: number
            format: double
        properties:
          type: object
          description: Additional GeoJSON feature properties.
        type:
          description: The GeoJSON feature type.
          oneOf:
          - type: string
            enum:
            - Feature
    CreatePostsMediaCallToActionsWatchNow:
      type: object
      required:
      - url
      properties:
        url:
          type: string
          description: HTTPS URL the CTA links to.
      additionalProperties: false
    PostWithheld:
      type: object
      description: Withholding details for withheld content.
      required:
      - copyright
      - country_codes
      properties:
        copyright:
          type: boolean
          description: Indicates whether this content is withheld due to a copyright claim.
        country_codes:
          type: array
          description: Uppercase ISO 3166-1 alpha-2 country codes where this content is withheld.
          items:
            type: string
        scope:
          type:
          - string
          - 'null'
          description: Whether the withholding applies to a Post or a User.
          enum:
          - post
          - user
    MediaOrganicMetrics:
      type: object
      description: Organic nonpublic engagement metrics for the media at the time of the request.
      properties:
        playback_0_count:
          type:
          - integer
          - 'null'
          description: Number of users who started playback (0% quartile) of this video.
          format: int64
        playback_100_count:
          type:
          - integer
          - 'null'
          description: Number of users who completed playback (100% quartile) of this video.
          format: int64
        playback_25_count:
          type:
          - integer
          - 'null'
          description: Number of users who watched at least 25% of this video.
          format: int64
        playback_50_count:
          type:
          - integer
          - 'null'
          description: Number of users who watched at least 50% of this video.
          format: int64
        playback_75_count:
          type:
          - integer
          - 'null'
          description: Number of users who watched at least 75% of this video.
          format: int64
        view_count:
          type:
          - integer
          - 'null'
          description: The number of organic views of this video. Null when the backend returns quartile data without a view count.
          format: int64
    ResourceNotFoundProblem:
      type: object
      required:
      - type
      - title
      - detail
      - resource_type
      properties:
        detail:
          type: string
        parameter:
          type: string
        resource_id:
          type: string
        resource_type:
          type: string
        status:
          type: integer
        title:
          type: string
        type:
          type: string
          enum:
          - https://api.x.com/2/problems/resource-not-found
        value:
          type: string
    CreatePostsMediaCallToActionsAppInstall:
      type: object
      properties:
        app_store_id:
          type: string
          description: Apple App Store iPhone app id.
        ipad_app_store_id:
          type: string
          description: Apple App Store iPad app id.
        play_store_id:
          type: string
          description: Google Play Store app id.
      additionalProperties: false
    PostMatchedMediaNotes:
      type: array
      description: Community-Notes media matches for this Post.
      items:
        type: object
        description: A Community-Notes media match for this Post.
        properties:
          match_status:
            type:
            - string
            - 'null'
            description: The status of the media note match.
          note_id:
            type:
            - string
            - 'null'
            description: The matched note's unique identifier.
    FieldUnauthorizedProblem:
      type: object
[...]
