openapi: 3.1.0
info:
  title: X API v2 Stream API
  version: '2.168'
  description: The Stream surface of the X API v2, split by tag from the X-published OpenAPI at https://api.x.com/2/openapi.json.
  termsOfService: https://developer.x.com/en/developer-terms/agreement-and-policy.html
  contact:
    name: X Developers
    url: https://developer.x.com/
  license:
    name: X Developer Agreement and Policy
    url: https://developer.x.com/en/developer-terms/agreement-and-policy.html
servers:
- description: X API
  url: https://api.x.com
tags:
- name: Stream
  description: Endpoints related to streaming
  externalDocs:
    description: Find out more
    url: https://developer.x.com/
paths:
  /2/activity/stream:
    get:
      security:
      - BearerToken: []
      tags:
      - Stream
      summary: Activity Stream
      description: Stream of X Activities
      externalDocs:
        url: https://docs.x.com/x-api/activity/activity-stream
      operationId: activityStream
      parameters:
      - name: backfill_minutes
        in: query
        description: The number of minutes of backfill requested.
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 5
          format: int32
        style: form
      - name: start_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The earliest UTC timestamp from which the activities will be
          provided.
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - name: end_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The latest UTC timestamp from which the activities will be
          provided.
        required: false
        schema:
          type: string
          format: date-time
        style: form
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityStreamResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      x-twitter-streaming: true
  /2/likes/compliance/stream:
    get:
      security:
      - BearerToken: []
      tags:
      - Stream
      summary: Stream Likes compliance data
      description: Streams all compliance data related to Likes for Users.
      operationId: streamLikesCompliance
      parameters:
      - name: backfill_minutes
        in: query
        description: The number of minutes of backfill requested.
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 5
          format: int32
        style: form
      - name: start_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The earliest UTC timestamp from which the Likes Compliance
          events will be provided.
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - name: end_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The latest UTC timestamp from which the Likes Compliance events
          will be provided.
        required: false
        schema:
          type: string
          format: date-time
        style: form
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamLikesComplianceResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      x-twitter-streaming: true
  /2/likes/firehose/stream:
    get:
      security:
      - BearerToken: []
      tags:
      - Stream
      summary: Stream all Likes
      description: Streams all public Likes in real-time.
      operationId: streamLikesFirehose
      parameters:
      - name: backfill_minutes
        in: query
        description: The number of minutes of backfill requested.
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 5
          format: int32
        style: form
      - name: partition
        in: query
        description: The partition number.
        required: true
        schema:
          type: integer
          minimum: 1
          maximum: 20
          format: int32
        style: form
      - name: start_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The earliest UTC timestamp to which the Likes will be provided.
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - name: end_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The latest UTC timestamp to which the Posts will be provided.
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - name: like_with_tweet_author.fields
        in: query
        description: A comma separated list of LikeWithTweetAuthor fields to display.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - attachments_media_keys
            - created_at
            - id
            - liked_tweet_author_id
            - liked_tweet_id
            - timestamp_ms
        explode: false
        style: form
      - name: expansions
        in: query
        description: A comma separated list of fields to expand.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - attachments.media_keys
            - liked_tweet_author_id
            - liked_tweet_id
        explode: false
        style: form
      - name: media.fields
        in: query
        description: A comma separated list of Media fields to display.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - alt_text
            - duration_ms
            - height
            - media_key
            - non_public_metrics
            - organic_metrics
            - preview_image_url
            - promoted_metrics
            - public_metrics
            - type
            - url
            - variants
            - width
        explode: false
        style: form
      - name: user.fields
        in: query
        description: A comma separated list of User fields to display.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - affiliation
            - confirmed_email
            - connection_status
            - created_at
            - description
            - entities
            - id
            - is_identity_verified
            - location
            - most_recent_tweet_id
            - name
            - parody
            - pinned_tweet_id
            - profile_banner_url
            - profile_image_url
            - protected
            - public_metrics
            - receives_your_dm
            - subscription
            - subscription_type
            - url
            - username
            - verified
            - verified_followers_count
            - verified_type
            - withheld
        explode: false
        style: form
      - name: tweet.fields
        in: query
        description: A comma separated list of Tweet fields to display.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - article
            - attachments
            - author_id
            - card_uri
            - community_id
            - context_annotations
            - conversation_id
            - created_at
            - display_text_range
            - edit_controls
            - edit_history_tweet_ids
            - entities
            - geo
            - id
            - in_reply_to_user_id
            - lang
            - matched_media_notes
            - media_metadata
            - non_public_metrics
            - note_request_suggestions
            - note_tweet
            - organic_metrics
            - paid_partnership
            - possibly_sensitive
            - promoted_metrics
            - public_metrics
            - referenced_tweets
            - reply_settings
            - scopes
            - source
            - suggested_source_links
            - suggested_source_links_with_counts
            - text
            - withheld
        explode: false
        style: form
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamLikesFirehoseResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      x-twitter-streaming: true
  /2/likes/sample10/stream:
    get:
      security:
      - BearerToken: []
      tags:
      - Stream
      summary: Stream sampled Likes
      description: Streams a 10% sample of public Likes in real-time.
      operationId: streamLikesSample10
      parameters:
      - name: backfill_minutes
        in: query
        description: The number of minutes of backfill requested.
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 5
          format: int32
        style: form
      - name: partition
        in: query
        description: The partition number.
        required: true
        schema:
          type: integer
          minimum: 1
          maximum: 2
          format: int32
        style: form
      - name: start_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The earliest UTC timestamp to which the Likes will be provided.
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - name: end_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The latest UTC timestamp to which the Posts will be provided.
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - name: like_with_tweet_author.fields
        in: query
        description: A comma separated list of LikeWithTweetAuthor fields to display.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - attachments_media_keys
            - created_at
            - id
            - liked_tweet_author_id
            - liked_tweet_id
            - timestamp_ms
        explode: false
        style: form
      - name: expansions
        in: query
        description: A comma separated list of fields to expand.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - attachments.media_keys
            - liked_tweet_author_id
            - liked_tweet_id
        explode: false
        style: form
      - name: media.fields
        in: query
        description: A comma separated list of Media fields to display.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - alt_text
            - duration_ms
            - height
            - media_key
            - non_public_metrics
            - organic_metrics
            - preview_image_url
            - promoted_metrics
            - public_metrics
            - type
            - url
            - variants
            - width
        explode: false
        style: form
      - name: user.fields
        in: query
        description: A comma separated list of User fields to display.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - affiliation
            - confirmed_email
            - connection_status
            - created_at
            - description
            - entities
            - id
            - is_identity_verified
            - location
            - most_recent_tweet_id
            - name
            - parody
            - pinned_tweet_id
            - profile_banner_url
            - profile_image_url
            - protected
            - public_metrics
            - receives_your_dm
            - subscription
            - subscription_type
            - url
            - username
            - verified
            - verified_followers_count
            - verified_type
            - withheld
        explode: false
        style: form
      - name: tweet.fields
        in: query
        description: A comma separated list of Tweet fields to display.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - article
            - attachments
            - author_id
            - card_uri
            - community_id
            - context_annotations
            - conversation_id
            - created_at
            - display_text_range
            - edit_controls
            - edit_history_tweet_ids
            - entities
            - geo
            - id
            - in_reply_to_user_id
            - lang
            - matched_media_notes
            - media_metadata
            - non_public_metrics
            - note_request_suggestions
            - note_tweet
            - organic_metrics
            - paid_partnership
            - possibly_sensitive
            - promoted_metrics
            - public_metrics
            - referenced_tweets
            - reply_settings
            - scopes
            - source
            - suggested_source_links
            - suggested_source_links_with_counts
            - text
            - withheld
        explode: false
        style: form
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamLikesSample10Response'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      x-twitter-streaming: true
  /2/tweets/compliance/stream:
    get:
      security:
      - BearerToken: []
      tags:
      - Stream
      summary: Stream Posts compliance data
      description: Streams all compliance data related to Posts.
      operationId: streamPostsCompliance
      parameters:
      - name: backfill_minutes
        in: query
        description: The number of minutes of backfill requested.
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 5
          format: int32
        style: form
      - name: partition
        in: query
        description: The partition number.
        required: true
        schema:
          type: integer
          minimum: 1
          maximum: 4
          format: int32
        style: form
      - name: start_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The earliest UTC timestamp from which the Post Compliance events
          will be provided.
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - name: end_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The latest UTC timestamp from which the Post Compliance events
          will be provided.
        required: false
        schema:
          type: string
          format: date-time
        style: form
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamPostsComplianceResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      x-twitter-streaming: true
  /2/tweets/firehose/stream:
    get:
      security:
      - BearerToken: []
      tags:
      - Stream
      summary: Stream all Posts
      description: Streams all public Posts in real-time.
      operationId: streamPostsFirehose
      parameters:
      - name: backfill_minutes
        in: query
        description: The number of minutes of backfill requested.
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 5
          format: int32
        style: form
      - name: tweet.fields
        in: query
        description: A comma separated list of Tweet fields to display.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - article
            - attachments
            - author_id
            - card_uri
            - community_id
            - context_annotations
            - conversation_id
            - created_at
            - display_text_range
            - edit_controls
            - edit_history_tweet_ids
            - entities
            - geo
            - id
            - in_reply_to_user_id
            - lang
            - matched_media_notes
            - media_metadata
            - non_public_metrics
            - note_request_suggestions
            - note_tweet
            - organic_metrics
            - paid_partnership
            - possibly_sensitive
            - promoted_metrics
            - public_metrics
            - referenced_tweets
            - reply_settings
            - scopes
            - source
            - suggested_source_links
            - suggested_source_links_with_counts
            - text
            - withheld
        explode: false
        style: form
      - name: expansions
        in: query
        description: A comma separated list of fields to expand.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - article.cover_media
            - article.media_entities
            - attachments.media_keys
            - attachments.media_source_tweet
            - attachments.poll_ids
            - author_id
            - edit_history_tweet_ids
            - entities.mentions.username
            - geo.place_id
            - in_reply_to_user_id
            - entities.note.mentions.username
            - referenced_tweets.id
            - referenced_tweets.id.attachments.media_keys
            - referenced_tweets.id.author_id
        explode: false
        style: form
      - name: media.fields
        in: query
        description: A comma separated list of Media fields to display.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - alt_text
            - duration_ms
            - height
            - media_key
            - non_public_metrics
            - organic_metrics
            - preview_image_url
            - promoted_metrics
            - public_metrics
            - type
            - url
            - variants
            - width
        explode: false
        style: form
      - name: poll.fields
        in: query
        description: A comma separated list of Poll fields to display.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - duration_minutes
            - end_datetime
            - id
            - options
            - voting_status
        explode: false
        style: form
      - name: user.fields
        in: query
        description: A comma separated list of User fields to display.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - affiliation
            - confirmed_email
            - connection_status
            - created_at
            - description
            - entities
            - id
            - is_identity_verified
            - location
            - most_recent_tweet_id
            - name
            - parody
            - pinned_tweet_id
            - profile_banner_url
            - profile_image_url
            - protected
            - public_metrics
            - receives_your_dm
            - subscription
            - subscription_type
            - url
            - username
            - verified
            - verified_followers_count
            - verified_type
            - withheld
        explode: false
        style: form
      - name: place.fields
        in: query
        description: A comma separated list of Place fields to display.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - contained_within
            - country
            - country_code
            - full_name
            - geo
            - id
            - name
            - place_type
        explode: false
        style: form
      - name: partition
        in: query
        description: The partition number.
        required: true
        schema:
          type: integer
          minimum: 1
          maximum: 20
          format: int32
        style: form
      - name: start_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The earliest UTC timestamp to which the Posts will be provided.
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - name: end_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The latest UTC timestamp to which the Posts will be provided.
        required: false
        schema:
          type: string
          format: date-time
        style: form
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamPostsFirehoseResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      x-twitter-streaming: true
  /2/tweets/firehose/stream/lang/en:
    get:
      security:
      - BearerToken: []
      tags:
      - Stream
      summary: Stream English Posts
      description: Streams all public English-language Posts in real-time.
      operationId: streamPostsFirehoseEn
      parameters:
      - name: backfill_minutes
        in: query
        description: The number of minutes of backfill requested.
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 5
          format: int32
        style: form
      - name: tweet.fields
        in: query
        description: A comma separated list of Tweet fields to display.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - article
            - attachments
            - author_id
            - card_uri
            - community_id
            - context_annotations
            - conversation_id
            - created_at
            - display_text_range
            - edit_controls
            - edit_history_tweet_ids
            - entities
            - geo
            - id
            - in_reply_to_user_id
            - lang
            - matched_media_notes
            - media_metadata
            - non_public_metrics
            - note_request_suggestions
            - note_tweet
            - organic_metrics
            - paid_partnership
            - possibly_sensitive
            - promoted_metrics
            - public_metrics
            - referenced_tweets
            - reply_settings
            - scopes
            - source
            - suggested_source_links
            - suggested_source_links_with_counts
            - text
            - withheld
        explode: false
        style: form
      - name: expansions
        in: query
        description: A comma separated list of fields to expand.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - article.cover_media
            - article.media_entities
            - attachments.media_keys
            - attachments.media_source_tweet
            - attachments.poll_ids
            - author_id
            - edit_history_tweet_ids
            - entities.mentions.username
            - geo.place_id
            - in_reply_to_user_id
            - entities.note.mentions.username
            - referenced_tweets.id
            - referenced_tweets.id.attachments.media_keys
            - referenced_tweets.id.author_id
        explode: false
        style: form
      - name: media.fields
        in: query
        description: A comma separated list of Media fields to display.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - alt_text
            - duration_ms
            - height
            - media_key
            - non_public_metrics
            - organic_metrics
            - preview_image_url
            - promoted_metrics
            - public_metrics
            - type
            - url
            - variants
            - width
        explode: false
        style: form
      - name: poll.fields
        in: query
        description: A comma separated list of Poll fields to display.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - duration_minutes
            - end_datetime
            - id
            - options
            - voting_status
        explode: false
        style: form
      - name: user.fields
        in: query
        description: A comma separated list of User fields to display.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - affiliation
            - confirmed_email
            - connection_status
            - created_at
            - description
            - entities
            - id
            - is_identity_verified
            - location
            - most_recent_tweet_id
            - name
            - parody
            - pinned_tweet_id
            - profile_banner_url
            - profile_image_url
            - protected
            - public_metrics
            - receives_your_dm
            - subscription
            - subscription_type
            - url
            - username
            - verified
            - verified_followers_count
            - verified_type
            - withheld
        explode: false
        style: form
      - name: place.fields
        in: query
        description: A comma separated list of Place fields to display.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - contained_within
            - country
            - country_code
            - full_name
            - geo
            - id
            - name
            - place_type
        explode: false
        style: form
      - name: partition
        in: query
        description: The partition number.
        required: true
        schema:
          type: integer
          minimum: 1
          maximum: 8
          format: int32
        style: form
      - name: start_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The earliest UTC timestamp to which the Posts will be provided.
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - name: end_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The latest UTC timestamp to which the Posts will be provided.
        required: false
        schema:
          type: string
          format: date-time
        style: form
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamPostsFirehoseEnResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      x-twitter-streaming: true
  /2/tweets/firehose/stream/lang/ja:
    get:
      security:
      - BearerToken: []
      tags:
      - Stream
      summary: Stream Japanese Posts
      description: Streams all public Japanese-language Posts in real-time.
      operationId: streamPostsFirehoseJa
      parameters:
      - name: backfill_minutes
        in: query
        description: The number of minutes of backfill requested.
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 5
          format: int32
        style: form
      - name: tweet.fields
        in: query
        description: A comma separated list of Tweet fields to display.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - article
            - attachments
            - author_id
            - card_uri
            - community_id
            - context_annotations
            - conversation_id
            - created_at
            - display_text_range
            - edit_controls
            - edit_history_tweet_ids
            - entities
            - geo
            - id
            - in_reply_to_user_id
            - lang
            - matched_media_notes
            - media_metadata
            - non_public_metrics
            - note_request_suggestions
            - note_tweet
            - organic_metrics
            - paid_partnership
            - possibly_sensitive
            - promoted_metrics
            - public_metrics
            - referenced_tweets
            - reply_settings
            - scopes
            - source
            - suggested_source_links
            - suggested_source_links_with_counts
            - text
            - withheld
        explode: false
        style: form
      - name: expansions
        in: query
        description: A comma separated list of fields to expand.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - article.cover_media
            - article.media_entities
            - attachments.media_keys
            - attachments.media_source_tweet
            - attachments.poll_ids
            - author_id
            - edit_history_tweet_ids
            - entities.mentions.username
            - geo.place_id
            - in_reply_to_user_id
            - entities.note.mentions.username
            - referenced_tweets.id
            - referenced_tweets.id.attachments.media_keys
            - referenced_tweets.id.author_id
        explode: false
        style: form
      - name: media.fields
        in: query
        description: A comma separated list of Media fields to display.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - alt_text
            - duration_ms
            - height
            - media_key
            - non_public_metrics
            - organic_metrics
            - preview_image_url
            - promoted_metrics
            - public_metrics
            - type
            - url
            - variants
            - width
        explode: false
        style: form
      - name: poll.fields
        in: query
        description: A comma separated list of Poll fields to display.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - duration_minutes
            - end_datetime
            - id
            - options
            - voting_status
        explode: false
        style: form
      - name: user.fields
        in: query
        description: A comma separated list of User fields to display.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - affiliation
            - confirmed_email
            - connection_status
            - created_at
            - description
            - entities
            - id
            - is_identity_verified
            - location
            - most_recent_tweet_id
            - name
            - parody
            - pinned_tweet_id
            - profile_banner_url
            - profile_image_url
            - protected
            - public_metrics
            - receives_your_dm
            - subscription
            - subscription_type
            - url
            - username
            - verified
            - verified_followers_count
            - verified_type
            - withheld
        explode: false
        style: form
      - name: place.fields
        in: query
        description: A comma separated list of Place fields to display.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - contained_within
            - country
            - country_code
            - full_name
            - geo
            - id
            - name
            - place_type
        explode: false
        style: form
      - name: partition
        in: query
        description: The partition number.
        required: true
        schema:
          type: integer
          minimum: 1
          maximum: 2
          format: int32
        style: form
      - name: start_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The earliest UTC timestamp to which the Posts will be provided.
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - name: end_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The latest UTC timestamp to which the Posts will be provided.
        required: false
        schema:
          type: string
          format: date-time
        style: form
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamPostsFirehoseJaResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      x-twitter-streaming: true
  /2/tweets/firehose/stream/lang/ko:
    get:
      security:
      - BearerToken: []
      tags:
      - Stream
      summary: Stream Korean Posts
      description: Streams all public Korean-language Posts in real-time.
      operationId: streamPostsFirehoseKo
      parameters:
      - name: backfill_minutes
        in: query
        description: The number of minutes of backfill requested.
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 5
          format: int32
        style: form
      - name: tweet.fields
        in: query
        description: A comma separated list of Tweet fields to display.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - article
            - attachments
            - author_id
            - card_uri
            - community_id
            - context_annotations
            - conversation_id
            - created_at
            - display_text_range
            - edit_controls
            - edit_history_tweet_ids
            - entities
            - geo
            - id
            - in_reply_to_user_id
            - lang
            - matched_media_notes
            - media_metadata
            - non_public_metrics
            - note_request_suggestions
            - note_tweet
            - organic_metrics
            - paid_partnership
            - possibly_sensitive
            - promoted_metrics
            - public_metrics
            - referenced_tweets
            - reply_settings
            - scopes
            - source
            - suggested_source_links
            - suggested_source_links_with_counts
            - text
            - withheld
        explode: false
        style: form
      - name: expansions
        in: query
        description: A comma separated list of fields to expand.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - article.cover_media
            - article.media_entities
            - attachments.media_keys
            - attachments.media_source_tweet
            - attachments.poll_ids
            - author_id
            - edit_history_tweet_ids
            - entities.mentions.username
            - geo.place_id
            - in_reply_to_user_id
            - entities.note.mentions.username
            - referenced_tweets.id
            - referenced_tweets.id.attachments.media_keys
            - referenced_tweets.id.author_id
        explode: false
        style: form
      - name: media.fields
        in: query
        description: A comma separated list of Media fields to display.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - alt_text
            - duration_ms
            - height
            - media_key
            - non_public_metrics
            - organic_metrics
            - preview_image_url
            - promoted_metrics
            - public_metrics
            - type
            - url
            - variants
            - width
        explode: false
        style: form
      - name: poll.fields
        in: query
        description: A comma separated list of Poll fields to display.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - duration_minutes
            - end_datetime
            - id
            - options
            - voting_status
        explode: false
        style: form
      - name: user.fields
        in: query
        description: A comma separated list of User fields to display.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - affiliation
            - confirmed_email
            - connection_status
            - created_at
            - description
            - entities
            - id
            - is_identity_verified
            - location
            - most_recent_tweet_id
            - name
            - parody
            - pinned_tweet_id
            - profile_banner_url
            - profile_image_url
            - protected
            - public_metrics
            - receives_your_dm
            - subscription
            - subscription_type
            - url
            - username
            - verified
            - verified_followers_count
            - verified_type
            - withheld
        explode: false
        style: form
      - name: place.fields
        in: query
        description: A comma separated list of Place fields to display.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - contained_within
            - country
            - country_code
            - full_name
            - geo
            - id
            - name
            - place_type
        explode: false
        style: form
      - name: partition
        in: query
        description: The partition number.
        required: true
        schema:
          type: integer
          minimum: 1
          maximum: 2
          format: int32
        style: form
      - name: start_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The earliest UTC timestamp to which the Posts will be provided.
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - name: end_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The latest UTC timestamp to which the Posts will be provided.
        required: false
        schema:
          type: string
          format: date-time
        style: form
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamPostsFirehoseKoResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      x-twitter-streaming: true
  /2/tweets/firehose/stream/lang/pt:
    get:
      security:
      - BearerToken: []
      tags:
      - Stream
      summary: Stream Portuguese Posts
      description: Streams all public Portuguese-language Posts in real-time.
      operationId: streamPostsFirehosePt
      parameters:
      - name: backfill_minutes
        in: query
        description: The number of minutes of backfill requested.
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 5
          format: int32
        style: form
      - name: tweet.fields
        in: query
        description: A comma separated list of Tweet fields to display.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - article
            - attachments
            - author_id
            - card_uri
            - community_id
            - context_annotations
            - conversation_id
            - created_at
            - display_text_range
            - edit_controls
            - edit_history_tweet_ids
            - entities
            - geo
            - id
            - in_reply_to_user_id
            - lang
            - matched_media_notes
            - media_metadata
            - non_public_metrics
            - note_request_suggestions
            - note_tweet
            - organic_metrics
            - paid_partnership
            - possibly_sensitive
            - promoted_metrics
            - public_metrics
            - referenced_tweets
            - reply_settings
            - scopes
            - source
            - suggested_source_links
            - suggested_source_links_with_counts
            - text
            - withheld
        explode: false
        style: form
      - name: expansions
        in: query
        description: A comma separated list of fields to expand.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - article.cover_media
            - article.media_entities
            - attachments.media_keys
            - attachments.media_source_tweet
            - attachments.poll_ids
            - author_id
            - edit_history_tweet_ids
            - entities.mentions.username
            - geo.place_id
            - in_reply_to_user_id
            - entities.note.mentions.username
            - referenced_tweets.id
            - referenced_tweets.id.attachments.media_keys
            - referenced_tweets.id.author_id
        explode: false
        style: form
      - name: media.fields
        in: query
        description: A comma separated list of Media fields to display.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - alt_text
            - duration_ms
            - height
            - media_key
            - non_public_metrics
            - organic_metrics
            - preview_image_url
            - promoted_metrics
            - public_metrics
            - type
            - url
            - variants
            - width
        explode: false
        style: form
      - name: poll.fields
        in: query
        description: A comma separated list of Poll fields to display.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - duration_minutes
            - end_datetime
            - id
            - options
            - voting_status
        explode: false
        style: form
      - name: user.fields
        in: query
        description: A comma separated list of User fields to display.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - affiliation
            - confirmed_email
            - connection_status
            - created_at
            - description
            - entities
            - id
            - is_identity_verified
            - location
            - most_recent_tweet_id
            - name
            - parody
            - pinned_tweet_id
            - profile_banner_url
            - profile_image_url
            - protected
            - public_metrics
            - receives_your_dm
            - subscription
            - subscription_type
            - url
            - username
            - verified
            - verified_followers_count
            - verified_type
            - withheld
        explode: false
        style: form
      - name: place.fields
        in: query
        description: A comma separated list of Place fields to display.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - contained_within
            - country
            - country_code
            - full_name
            - geo
            - id
            - name
            - place_type
        explode: false
        style: form
      - name: partition
        in: query
        description: The partition number.
        required: true
        schema:
          type: integer
          minimum: 1
          maximum: 2
          format: int32
        style: form
      - name: start_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The earliest UTC timestamp to which the Posts will be provided.
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - name: end_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The latest UTC timestamp to which the Posts will be provided.
        required: false
        schema:
          type: string
          format: date-time
        style: form
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamPostsFirehosePtResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      x-twitter-streaming: true
  /2/tweets/label/stream:
    get:
      security:
      - BearerToken: []
      tags:
      - Stream
      summary: Stream Post labels
      description: Streams all labeling events applied to Posts.
      operationId: streamLabelsCompliance
      parameters:
      - name: backfill_minutes
        in: query
        description: The number of minutes of backfill requested.
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 5
          format: int32
        style: form
      - name: start_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The earliest UTC timestamp from which the Post labels will
          be provided.
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - name: end_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The latest UTC timestamp from which the Post labels will be
          provided.
        required: false
        schema:
          type: string
          format: date-time
        style: form
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamLabelsComplianceResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      x-twitter-streaming: true
  /2/tweets/sample/stream:
    get:
      security:
      - BearerToken: []
      tags:
      - Stream
      summary: Stream sampled Posts
      description: Streams a 1% sample of public Posts in real-time.
      externalDocs:
        url: https://docs.x.com/x-api/posts/volume-streams/introduction
      operationId: streamPostsSample
      parameters:
      - name: backfill_minutes
        in: query
        description: The number of minutes of backfill requested.
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 5
          format: int32
        style: form
      - name: tweet.fields
        in: query
        description: A comma separated list of Tweet fields to display.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - article
            - attachments
            - author_id
            - card_uri
            - community_id
            - context_annotations
            - conversation_id
            - created_at
            - display_text_range
            - edit_controls
            - edit_history_tweet_ids
            - entities
            - geo
            - id
            - in_reply_to_user_id
            - lang
            - matched_media_notes
            - media_metadata
            - non_public_metrics
            - note_request_suggestions
            - note_tweet
            - organic_metrics
            - paid_partnership
            - possibly_sensitive
            - promoted_metrics
            - public_metrics
            - referenced_tweets
            - reply_settings
            - scopes
            - source
            - suggested_source_links
            - suggested_source_links_with_counts
            - text
            - withheld
        explode: false
        style: form
      - name: expansions
        in: query
        description: A comma separated list of fields to expand.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - article.cover_media
            - article.media_entities
            - attachments.media_keys
            - attachments.media_source_tweet
            - attachments.poll_ids
            - author_id
            - edit_history_tweet_ids
            - entities.mentions.username
            - geo.place_id
            - in_reply_to_user_id
            - entities.note.mentions.username
            - referenced_tweets.id
            - referenced_tweets.id.attachments.media_keys
            - referenced_tweets.id.author_id
        explode: false
        style: form
      - name: media.fields
        in: query
        description: A comma separated list of Media fields to display.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - alt_text
            - duration_ms
            - height
            - media_key
            - non_public_metrics
            - organic_metrics
            - preview_image_url
            - promoted_metrics
            - public_metrics
            - type
            - url
            - variants
            - width
        explode: false
        style: form
      - name: poll.fields
        in: query
        description: A comma separated list of Poll fields to display.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - duration_minutes
            - end_datetime
            - id
            - options
            - voting_status
        explode: false
        style: form
      - name: user.fields
        in: query
        description: A comma separated list of User fields to display.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - affiliation
            - confirmed_email
            - connection_status
            - created_at
            - description
            - entities
            - id
            - is_identity_verified
            - location
            - most_recent_tweet_id
            - name
            - parody
            - pinned_tweet_id
            - profile_banner_url
            - profile_image_url
            - protected
            - public_metrics
            - receives_your_dm
            - subscription
            - subscription_type
            - url
            - username
            - verified
            - verified_followers_count
            - verified_type
            - withheld
        explode: false
        style: form
      - name: place.fields
        in: query
        description: A comma separated list of Place fields to display.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - contained_within
            - country
            - country_code
            - full_name
            - geo
            - id
            - name
            - place_type
        explode: false
        style: form
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamPostsSampleResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      x-twitter-streaming: true
  /2/tweets/sample10/stream:
    get:
      security:
      - BearerToken: []
      tags:
      - Stream
      summary: Stream 10% sampled Posts
      description: Streams a 10% sample of public Posts in real-time.
      operationId: streamPostsSample10
      parameters:
      - name: backfill_minutes
        in: query
        description: The number of minutes of backfill requested.
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 5
          format: int32
        style: form
      - name: tweet.fields
        in: query
        description: A comma separated list of Tweet fields to display.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - article
            - attachments
            - author_id
            - card_uri
            - community_id
            - context_annotations
            - conversation_id
            - created_at
            - display_text_range
            - edit_controls
            - edit_history_tweet_ids
            - entities
            - geo
            - id
            - in_reply_to_user_id
            - lang
            - matched_media_notes
            - media_metadata
            - non_public_metrics
            - note_request_suggestions
            - note_tweet
            - organic_metrics
            - paid_partnership
            - possibly_sensitive
            - promoted_metrics
            - public_metrics
            - referenced_tweets
            - reply_settings
            - scopes
            - source
            - suggested_source_links
            - suggested_source_links_with_counts
            - text
            - withheld
        explode: false
        style: form
      - name: expansions
        in: query
        description: A comma separated list of fields to expand.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - article.cover_media
            - article.media_entities
            - attachments.media_keys
            - attachments.media_source_tweet
            - attachments.poll_ids
            - author_id
            - edit_history_tweet_ids
            - entities.mentions.username
            - geo.place_id
            - in_reply_to_user_id
            - entities.note.mentions.username
            - referenced_tweets.id
            - referenced_tweets.id.attachments.media_keys
            - referenced_tweets.id.author_id
        explode: false
        style: form
      - name: media.fields
        in: query
        description: A comma separated list of Media fields to display.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - alt_text
            - duration_ms
            - height
            - media_key
            - non_public_metrics
            - organic_metrics
            - preview_image_url
            - promoted_metrics
            - public_metrics
            - type
            - url
            - variants
            - width
        explode: false
        style: form
      - name: poll.fields
        in: query
        description: A comma separated list of Poll fields to display.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - duration_minutes
            - end_datetime
            - id
            - options
            - voting_status
        explode: false
        style: form
      - name: user.fields
        in: query
        description: A comma separated list of User fields to display.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - affiliation
            - confirmed_email
            - connection_status
            - created_at
            - description
            - entities
            - id
            - is_identity_verified
            - location
            - most_recent_tweet_id
            - name
            - parody
            - pinned_tweet_id
            - profile_banner_url
            - profile_image_url
            - protected
            - public_metrics
            - receives_your_dm
            - subscription
            - subscription_type
            - url
            - username
            - verified
            - verified_followers_count
            - verified_type
            - withheld
        explode: false
        style: form
      - name: place.fields
        in: query
        description: A comma separated list of Place fields to display.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - contained_within
            - country
            - country_code
            - full_name
            - geo
            - id
            - name
            - place_type
        explode: false
        style: form
      - name: partition
        in: query
        description: The partition number.
        required: true
        schema:
          type: integer
          minimum: 1
          maximum: 2
          format: int32
        style: form
      - name: start_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The earliest UTC timestamp to which the Posts will be provided.
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - name: end_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The latest UTC timestamp to which the Posts will be provided.
        required: false
        schema:
          type: string
          format: date-time
        style: form
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamPostsSample10Response'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      x-twitter-streaming: true
  /2/tweets/search/stream:
    get:
      security:
      - BearerToken: []
      tags:
      - Stream
      summary: Stream filtered Posts
      description: Streams Posts in real-time matching the active rule set.
      externalDocs:
        url: https://docs.x.com/x-api/posts/filtered-stream/introduction
      operationId: streamPosts
      parameters:
      - name: backfill_minutes
        in: query
        description: The number of minutes of backfill requested.
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 5
          format: int32
        style: form
      - name: start_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The earliest UTC timestamp to which the Posts will be provided.
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - name: end_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The latest UTC timestamp to which the Posts will be provided.
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - name: tweet.fields
        in: query
        description: A comma separated list of Tweet fields to display.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - article
            - attachments
            - author_id
            - card_uri
            - community_id
            - context_annotations
            - conversation_id
            - created_at
            - display_text_range
            - edit_controls
            - edit_history_tweet_ids
            - entities
            - geo
            - id
            - in_reply_to_user_id
            - lang
            - matched_media_notes
            - media_metadata
            - non_public_metrics
            - note_request_suggestions
            - note_tweet
            - organic_metrics
            - paid_partnership
            - possibly_sensitive
            - promoted_metrics
            - public_metrics
            - referenced_tweets
            - reply_settings
            - scopes
            - source
            - suggested_source_links
            - suggested_source_links_with_counts
            - text
            - withheld
        explode: false
        style: form
      - name: expansions
        in: query
        description: A comma separated list of fields to expand.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - article.cover_media
            - article.media_entities
            - attachments.media_keys
            - attachments.media_source_tweet
            - attachments.poll_ids
            - author_id
            - edit_history_tweet_ids
            - entities.mentions.username
            - geo.place_id
            - in_reply_to_user_id
            - entities.note.mentions.username
            - referenced_tweets.id
            - referenced_tweets.id.attachments.media_keys
            - referenced_tweets.id.author_id
        explode: false
        style: form
      - name: media.fields
        in: query
        description: A comma separated list of Media fields to display.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - alt_text
            - duration_ms
            - height
            - media_key
            - non_public_metrics
            - organic_metrics
            - preview_image_url
            - promoted_metrics
            - public_metrics
            - type
            - url
            - variants
            - width
        explode: false
        style: form
      - name: poll.fields
        in: query
        description: A comma separated list of Poll fields to display.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - duration_minutes
            - end_datetime
            - id
            - options
            - voting_status
        explode: false
        style: form
      - name: user.fields
        in: query
        description: A comma separated list of User fields to display.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - affiliation
            - confirmed_email
            - connection_status
            - created_at
            - description
            - entities
            - id
            - is_identity_verified
            - location
            - most_recent_tweet_id
            - name
            - parody
            - pinned_tweet_id
            - profile_banner_url
            - profile_image_url
            - protected
            - public_metrics
            - receives_your_dm
            - subscription
            - subscription_type
            - url
            - username
            - verified
            - verified_followers_count
            - verified_type
            - withheld
        explode: false
        style: form
      - name: place.fields
        in: query
        description: A comma separated list of Place fields to display.
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - contained_within
            - country
            - country_code
            - full_name
            - geo
            - id
            - name
            - place_type
        explode: false
        style: form
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamPostsResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      x-twitter-streaming: true
  /2/tweets/search/stream/rules:
    get:
      security:
      - BearerToken: []
      tags:
      - Stream
      summary: Get filtered-stream rules
      description: Returns the active filtered-stream rules for the authenticated app. Provide `ids` to
        fetch specific rules; omit it to list all rules.
      externalDocs:
        url: https://docs.x.com/x-api/posts/rules-lookup
      operationId: getRules
      parameters:
      - name: ids
        in: query
        required: false
        schema:
          type: array
          maxItems: 1000
          items:
            type: string
            pattern: ^[0-9]{1,19}$
        explode: false
        style: form
      - name: max_results
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          format: int32
          default: 1000
        style: form
      - name: pagination_token
        in: query
        description: A base32hex-encoded pagination token.
        required: false
        schema:
          type: string
          minLength: 16
          maxLength: 16
        style: form
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRulesResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    post:
      security:
      - BearerToken: []
      tags:
      - Stream
      summary: Update stream rules
      description: Adds or deletes rules from the active rule set for the filtered stream. Exactly one
        of `add`, `delete`, or `?delete_all=true` must be specified. Use `?dry_run=true` to validate without
        committing.
      externalDocs:
        url: https://docs.x.com/x-api/posts/filtered-stream/integrate/add-or-delete-rules
      operationId: updateRules
      parameters:
      - name: dry_run
        in: query
        required: false
        schema:
          type: boolean
        style: form
      - name: delete_all
        in: query
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRulesRequest'
        required: true
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateRulesResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/tweets/search/stream/rules/counts:
    get:
      security:
      - BearerToken: []
      tags:
      - Stream
      summary: Get Rule Counts
      operationId: getRuleCounts
      parameters:
      - name: rules_count.fields
        in: query
        required: false
        schema:
          type: string
        style: form
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRuleCountsResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/compliance/stream:
    get:
      security:
      - BearerToken: []
      tags:
      - Stream
      summary: Stream Users compliance data
      description: Streams all compliance data related to Users.
      operationId: streamUsersCompliance
      parameters:
      - name: backfill_minutes
        in: query
        description: The number of minutes of backfill requested.
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 5
          format: int32
        style: form
      - name: partition
        in: query
        description: The partition number.
        required: true
        schema:
          type: integer
          minimum: 1
          maximum: 4
          format: int32
        style: form
      - name: start_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The earliest UTC timestamp from which the User Compliance events
          will be provided.
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - name: end_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The latest UTC timestamp from which the User Compliance events
          will be provided.
        required: false
        schema:
          type: string
          format: date-time
        style: form
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamUsersComplianceResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      x-twitter-streaming: true
components:
  schemas:
    InvalidRequestProblem:
      type: object
      required:
      - type
      - title
      - detail
      properties:
        detail:
          type: string
        parameter:
          type: string
        status:
          type: integer
        title:
          type: string
        type:
          type: string
          enum:
          - https://api.x.com/2/problems/invalid-request
        value:
          type: string
    PostNoteRequestSuggestions:
      type: array
      description: Community-Notes request suggestions for this Post.
      items:
        type: object
        description: A Community-Notes request suggestion for this Post.
        properties:
          source_link:
            type: string
            description: A suggested source link supporting the note request.
            nullable: true
          suggestion:
            type: string
            description: The text of the note request suggestion.
            nullable: true
          suggestion_id:
            type: string
            description: The unique identifier of the note request suggestion.
            nullable: true
    ProfileUpdateActivityResponsePayload:
      type: object
      properties:
        after:
          type: string
        before:
          type: string
      additionalProperties: false
    PostEditControls:
      type: object
      description: Indicates how much longer (if at all) this Post can be edited.
      properties:
        editable_until:
          type: string
          description: The time until which this Post can be edited.
          nullable: true
        edits_remaining:
          type: integer
          description: Number of edits still allowed for this Post.
          format: int64
          nullable: true
        is_edit_eligible:
          type: boolean
          description: Indicates whether this Post is eligible to be edited.
          nullable: true
    PostGeo:
      type: object
      description: The location tagged on the Post, if the user provided one.
      properties:
        coordinates:
          type: object
          description: A GeoJSON Point geometry.
          required:
          - type
          - coordinates
          properties:
            coordinates:
              type: array
              description: '[longitude, latitude].'
              minItems: 2
              maxItems: 2
              items:
                type: number
                format: double
            type:
              type: string
              description: The GeoJSON geometry type.
              enum:
              - Point
          nullable: true
        place_id:
          type: string
          description: The unique identifier of the tagged place.
          nullable: true
    PostWithheld:
      type: object
      description: Withholding details for withheld content.
      required:
      - copyright
      - country_codes
      properties:
        copyright:
          type: boolean
          description: Indicates whether this content is withheld due to a copyright claim.
        country_codes:
          type: array
          description: Uppercase ISO 3166-1 alpha-2 country codes where this content is withheld.
          items:
            type: string
        scope:
          type: string
          description: Whether the withholding applies to a Post or a User.
          enum:
          - post
          - user
          nullable: true
    GetRuleCountsResponseDataAllProjectClientApps:
      type: object
      required:
      - rule_count
      properties:
        client_app_id:
          type: string
          description: Unique identifier of the client application.
        rule_count:
          type: integer
          description: Number of rules configured for the client application.
      additionalProperties: false
    PostContextAnnotations:
      type: array
      description: Annotations inferred about the Post (domain and entity context).
      items:
        type: object
        description: A single inferred annotation about the Post (domain and entity context).
        required:
        - domain
        - entity
        properties:
          domain:
            description: The domain (broad category) this annotation belongs to.
            oneOf:
            - type: object
              description: A domain or entity referenced by a context annotation.
              properties:
                description:
                  type: string
                  nullable: true
                id:
                  type: string
                  nullable: true
                name:
                  type: string
                  nullable: true
          entity:
            description: The specific entity recognized within the domain.
            oneOf:
            - type: object
              description: A domain or entity referenced by a context annotation.
              properties:
                description:
                  type: string
                  nullable: true
                id:
                  type: string
                  nullable: true
                name:
                  type: string
                  nullable: true
    PostWithheldComplianceSchema:
      type: object
      required:
      - withheld
      properties:
        withheld:
          $ref: '#/components/schemas/PostTakedownComplianceSchema'
    ActivityStreamResponse:
      type: object
      description: An activity event or error that can be returned by the x activity streaming API.
      properties:
        data:
          type: object
          properties:
            event_type:
              type: string
            event_uuid:
              $ref: '#/components/schemas/ActivityEventId'
            filter:
              $ref: '#/components/schemas/ActivitySubscriptionFilter'
            includes:
              $ref: '#/components/schemas/Expansions'
            payload:
              $ref: '#/components/schemas/ActivityStreamingResponsePayload'
            tag:
              type: string
        errors:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/Problem'
    Keyword:
      type: string
      description: A keyword to filter on.
      minLength: 1
      maxLength: 150
      example: The President
    UserUndeleteComplianceSchema:
      type: object
      required:
      - user_undelete
      properties:
        user_undelete:
          $ref: '#/components/schemas/UserComplianceSchema'
    UpdateRulesDelete:
      type: object
      properties:
        ids:
          type: array
          description: Rule ids (Snowflake external ids) to delete.
          items:
            type: string
            pattern: ^[0-9]{1,19}$
        values:
          type: array
          description: Rule values to delete.
          items:
            type: string
      additionalProperties: false
    UpdateRulesAdd:
      type: object
      required:
      - value
      properties:
        tag:
          type: string
          description: Optional caller-defined label for the rule.
        value:
          type: string
          description: Rule filter expression.
      additionalProperties: false
    StreamPostsFirehoseEnResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Post'
        errors:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/Problem'
        includes:
          $ref: '#/components/schemas/Expansions'
    Error:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
    UserDeleteComplianceSchema:
      type: object
      required:
      - user_delete
      properties:
        user_delete:
          $ref: '#/components/schemas/UserComplianceSchema'
    StreamPostsFirehoseResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Post'
        errors:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/Problem'
        includes:
          $ref: '#/components/schemas/Expansions'
    ActivityEventId:
      type: string
      description: The unique identifier of an Activity event.
      pattern: ^[0-9]{1,19}$
      example: '1146654567674912769'
    ActivitySubscriptionFilter:
      type: object
      description: An XAA subscription filter.
      properties:
        direction:
          type: string
          description: Optional direction filter for directional events.
          enum:
          - inbound
          - outbound
        keyword:
          $ref: '#/components/schemas/Keyword'
        user_id:
          $ref: '#/components/schemas/UserId'
      additionalProperties: false
    PostDeleteComplianceSchema:
      type: object
      required:
      - delete
      properties:
        delete:
          $ref: '#/components/schemas/PostComplianceSchema'
    PostAttachments:
      type: object
      description: Specifies the type of attachments (if any) present in this Post.
      properties:
        media_keys:
          type: array
          description: Media keys of media attached to this Post.
          items:
            type: string
          nullable: true
        media_source_tweet_id:
          type: array
          description: IDs of the source Posts the attached media originated from.
          items:
            type: string
          nullable: true
        poll_ids:
          type: array
          description: IDs of polls attached to this Post.
          items:
            type: string
          nullable: true
    LikeComplianceSchema:
      type: object
      required:
      - delete
      properties:
        delete:
          $ref: '#/components/schemas/UnlikeComplianceSchema'
    User:
      type: object
      properties:
        affiliation:
          $ref: '#/components/schemas/UserAffiliation'
        confirmed_email:
          type: string
        connection_status:
          $ref: '#/components/schemas/UserConnectionStatus'
        created_at:
          type: string
          description: Creation time of this User.
          format: date-time
        description:
          type: string
          description: The text of this User's profile description (also known as bio), if the User provided
            one.
        entities:
          $ref: '#/components/schemas/UserEntities'
        id:
          type: string
          description: Unique identifier of this User.
        is_identity_verified:
          type: boolean
          description: Indicates if this User has completed identity verification.
        location:
          type: string
          description: The location specified in the User's profile, if the User provided one. As this
            is a freeform value, it may not indicate a valid location.
        most_recent_post_id:
          type: string
          description: Unique identifier of this User's most recent Post.
        name:
          type: string
          description: The friendly name of this User, as shown on their profile.
        parody:
          type: boolean
          description: Indicates if this User is a parody account.
        pinned_post_id:
          type: string
          description: Unique identifier of this User's pinned Post.
        profile_banner_url:
          type: string
          description: The URL to the profile banner for this User.
        profile_image_url:
          type: string
          description: The URL to the profile image for this User.
        protected:
          type: boolean
          description: Indicates if this User has chosen to protect their Posts (in other words, if this
            User's Posts are private).
        public_metrics:
          $ref: '#/components/schemas/UserPublicMetrics'
        receives_your_dm:
          type: boolean
          description: Indicates if you can send a DM to this User.
        subscriber_count:
          type: integer
          description: The number of Premium subscribers of this User.
        subscribes_to_you:
          type: boolean
          description: Indicates if this User subscribes to you.
        subscription:
          $ref: '#/components/schemas/UserSubscription'
        subscription_type:
          type: string
          description: 'The X Blue subscription type of the user, e.g.: Basic, Premium, PremiumPlus or
            None.'
        url:
          type: string
          description: The URL specified in the User's profile.
        username:
          type: string
          description: The X handle (screen name) of this User.
        verified:
          type: boolean
          description: Indicates if this User is a verified X User.
        verified_followers_count:
          type: integer
          description: The number of verified followers of this User.
        verified_type:
          type: string
          description: 'The X Blue verified type of the user, e.g.: blue, government, business or none.'
        withheld:
          $ref: '#/components/schemas/UserWithheld'
    NotAuthorizedForFieldProblem:
      type: object
      required:
      - type
      - title
      - detail
      - field
      properties:
        detail:
          type: string
        field:
          type: string
        parameter:
          type: string
        resource_id:
          type: string
        resource_type:
          type: string
        section:
          type: string
        status:
          type: integer
        title:
          type: string
        type:
          type: string
          enum:
          - https://api.x.com/2/problems/not-authorized-for-field
        value:
          type: string
    PostComplianceSchema:
      type: object
      required:
      - tweet
      - event_at
      properties:
        event_at:
          type: string
          description: Event time.
          format: date-time
          example: '2021-07-06T18:40:40.000Z'
        quote_tweet_id:
          $ref: '#/components/schemas/PostId'
        tweet:
          type: object
          required:
          - id
          - author_id
          properties:
            author_id:
              $ref: '#/components/schemas/UserId'
            id:
              $ref: '#/components/schemas/PostId'
    UpdateRulesResponseData:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the rule.
        tag:
          type: string
          description: Optional caller-defined label for the rule.
        value:
          type: string
          description: The rule's filter expression.
    PostReferencedPosts:
      type: array
      description: A list of Posts this Post refers to. If the Post is a Retweet, Quote or Reply, it includes
        the referenced Post's type and ID.
      items:
        type: object
        description: A reference from this Post to another Post (repost, quote, or reply).
        required:
        - type
        - id
        properties:
          id:
            type: string
            description: Unique identifier of the referenced Post.
          type:
            description: How this Post references the other Post.
            oneOf:
            - type: string
              description: The kind of Post-to-Post reference.
              enum:
              - retweeted
              - quoted
              - replied_to
    GetRuleCountsResponseData:
      type: object
      required:
      - cap_per_client_app
      - cap_per_project
      - project_rules_count
      - client_app_rules_count
      properties:
        all_project_client_apps:
          type: array
          description: Per-client-app rule counts across the project.
          items:
            $ref: '#/components/schemas/GetRuleCountsResponseDataAllProjectClientApps'
        cap_per_client_app:
          type: string
          description: Maximum number of rules allowed per client application.
        cap_per_project:
          type: string
          description: Maximum number of rules allowed across the project.
        client_app_rules_count:
          description: The calling client application's own rule count.
          $ref: '#/components/schemas/GetRuleCountsResponseDataClientAppRulesCount'
        project_rules_count:
          type: string
          description: Number of rules across every client application in the project.
    StreamPostsSampleResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Post'
        errors:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/Problem'
        includes:
          $ref: '#/components/schemas/Expansions'
    PostEditComplianceObjectSchema:
      type: object
      required:
      - tweet
      - event_at
      - initial_tweet_id
      - edit_tweet_ids
      properties:
        edit_tweet_ids:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/PostId'
        event_at:
          type: string
          description: Event time.
          format: date-time
          example: '2021-07-06T18:40:40.000Z'
        initial_tweet_id:
          $ref: '#/components/schemas/PostId'
        tweet:
          type: object
          required:
          - id
          properties:
            id:
              $ref: '#/components/schemas/PostId'
    UserScrubGeoObjectSchema:
      type: object
      required:
      - user
      - up_to_tweet_id
      - event_at
      properties:
        event_at:
          type: string
          description: Event time.
          format: date-time
          example: '2021-07-06T18:40:40.000Z'
        up_to_tweet_id:
          $ref: '#/components/schemas/PostId'
        user:
          type: object
          required:
          - id
          properties:
            id:
              $ref: '#/components/schemas/UserId'
    PostUndropComplianceSchema:
      type: object
      required:
      - undrop
      properties:
        undrop:
          $ref: '#/components/schemas/PostComplianceSchema'
    MediaVariants:
      type: array
      description: Each media object may have multiple display or playback variants, with different resolutions
        or formats.
      items:
        type: object
        description: A single playback or display variant of a media object.
        properties:
          bit_rate:
            type: integer
            description: The bit rate of this variant, in bits per second. Absent for playlist variants.
            format: int64
            nullable: true
          content_type:
            type: string
            description: The MIME type of this variant, for example "video/mp4" or "application/x-mpegURL".
            nullable: true
          url:
            type: string
            description: The URL to this media variant.
            nullable: true
    UserTakedownComplianceSchema:
      type: object
      required:
      - user
      - withheld_in_countries
      - event_at
      properties:
        event_at:
          type: string
          description: Event time.
          format: date-time
          example: '2021-07-06T18:40:40.000Z'
        user:
          type: object
          required:
          - id
          properties:
            id:
              $ref: '#/components/schemas/UserId'
        withheld_in_countries:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/CountryCode'
    StreamPostsFirehoseKoResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Post'
        errors:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/Problem'
        includes:
          $ref: '#/components/schemas/Expansions'
    PostUnviewable:
      type: object
      required:
      - tweet
      - event_at
      - application
      properties:
        application:
          type: string
          description: If the label is being applied or removed. Possible values are ‘apply’ or ‘remove’.
          example: apply
        event_at:
          type: string
          description: Event time.
          format: date-time
          example: '2021-07-06T18:40:40.000Z'
        tweet:
          type: object
          required:
          - id
          - author_id
          properties:
            author_id:
              $ref: '#/components/schemas/UserId'
            id:
              $ref: '#/components/schemas/PostId'
    PostMatchedMediaNotes:
      type: array
      description: Community-Notes media matches for this Post.
      items:
        type: object
        description: A Community-Notes media match for this Post.
        properties:
          match_status:
            type: string
            description: The status of the media note match.
            nullable: true
          note_id:
            type: string
            description: The matched note's unique identifier.
            nullable: true
    PostNoticeSchema:
      type: object
      required:
      - public_tweet_notice
      properties:
        public_tweet_notice:
          $ref: '#/components/schemas/PostNotice'
    UserComplianceSchema:
      type: object
      required:
      - user
      - event_at
      properties:
        event_at:
          type: string
          description: Event time.
          format: date-time
          example: '2021-07-06T18:40:40.000Z'
        user:
          type: object
          required:
          - id
          properties:
            id:
              $ref: '#/components/schemas/UserId'
    UserEntities:
      type: object
      description: A list of metadata found in the User's profile description.
      properties:
        description:
          type: object
          description: Entities found in the User's bio.
          properties:
            cashtags:
              type: array
              items:
                type: object
                description: A hashtag or cashtag entity.
                required:
                - start
                - end
                - tag
                properties:
                  end:
                    type: integer
[...]
