openapi: 3.1.0
info:
  title: X API v2 Users API
  version: '2.168'
  description: The Users surface of the X API v2, split by tag from the X-published OpenAPI at https://api.x.com/2/openapi.json.
  termsOfService: https://developer.x.com/en/developer-terms/agreement-and-policy.html
  contact:
    name: X Developers
    url: https://developer.x.com/
  license:
    name: X Developer Agreement and Policy
    url: https://developer.x.com/en/developer-terms/agreement-and-policy.html
servers:
- description: X API
  url: https://api.x.com
tags:
- name: Users
  description: Endpoints related to retrieving, managing relationships of Users
  externalDocs:
    description: Find out more
    url: https://docs.x.com/x-api/users/introduction
paths:
  /2/users:
    get:
      security:
      - OAuth2UserToken:
        - tweet.read
        - users.read
      - UserToken: []
      - BearerToken: []
      tags:
      - Users
      summary: Get Users by IDs
      operationId: getUsersByIds
      parameters:
      - name: ids
        in: query
        required: true
        schema:
          type: array
          minItems: 1
          maxItems: 100
          items:
            $ref: '#/components/schemas/UserId'
        explode: false
        style: form
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/UserExpansionsParameter'
      - $ref: '#/components/parameters/PostFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersByIdsResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/by:
    get:
      security:
      - OAuth2UserToken:
        - users.read
        - tweet.read
      - UserToken: []
      - BearerToken: []
      tags:
      - Users
      summary: Get Users by Usernames
      operationId: getUsersByUsernames
      parameters:
      - name: usernames
        in: query
        required: true
        schema:
          type: array
          minItems: 1
          maxItems: 100
          items:
            type: string
            pattern: ^[A-Za-z0-9_]{1,15}$
        explode: false
        style: form
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/UserExpansionsParameter'
      - $ref: '#/components/parameters/PostFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersByUsernamesResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/by/username/{username}:
    get:
      security:
      - OAuth2UserToken:
        - tweet.read
        - users.read
      - UserToken: []
      - BearerToken: []
      tags:
      - Users
      summary: Get Users by Username
      operationId: getUsersByUsername
      parameters:
      - name: username
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_]{1,15}$
        style: simple
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/UserExpansionsParameter'
      - $ref: '#/components/parameters/PostFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersByUsernameResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/me:
    get:
      security:
      - OAuth2UserToken:
        - users.read
        - tweet.read
      - UserToken: []
      tags:
      - Users
      summary: Get Users Me
      operationId: getUsersMe
      parameters:
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/UserExpansionsParameter'
      - $ref: '#/components/parameters/PostFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersMeResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/public_keys:
    get:
      security:
      - OAuth2UserToken:
        - tweet.read
        - dm.read
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Get public keys
      description: Returns registered public keys for X Chat encryption for the specified users.
      externalDocs:
        url: https://developer.x.com/
      operationId: getUsersPublicKeys
      parameters:
      - name: ids
        in: query
        required: true
        schema:
          type: array
          minItems: 1
          maxItems: 100
          items:
            $ref: '#/components/schemas/PublicKeyId'
        explode: false
        style: form
      - $ref: '#/components/parameters/PublicKeyFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersPublicKeysResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/reposts_of_me:
    get:
      security:
      - OAuth2UserToken:
        - timeline.read
        - tweet.read
      - UserToken: []
      tags:
      - Users
      summary: Get Users Reposts of Me
      operationId: getUsersRepostsOfMe
      parameters:
      - name: max_results
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          format: int32
          default: 100
        style: form
      - name: pagination_token
        in: query
        description: A base32hex-encoded pagination token.
        required: false
        schema:
          type: string
          minLength: 1
        style: form
      - $ref: '#/components/parameters/PostFieldsParameter'
      - $ref: '#/components/parameters/PostExpansionsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/MediaFieldsParameter'
      - $ref: '#/components/parameters/PollFieldsParameter'
      - $ref: '#/components/parameters/PlaceFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersRepostsOfMeResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/search:
    get:
      security:
      - OAuth2UserToken:
        - users.read
        - tweet.read
      - UserToken: []
      tags:
      - Users
      summary: Search Users
      operationId: searchUsers
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_' ]{1,50}$
        style: form
      - name: max_results
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          format: int32
          default: 100
        style: form
      - name: next_token
        in: query
        required: false
        schema:
          type: string
          minLength: 1
        style: form
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/UserExpansionsParameter'
      - $ref: '#/components/parameters/PostFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchUsersResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}:
    get:
      security:
      - OAuth2UserToken:
        - users.read
        - tweet.read
      - UserToken: []
      - BearerToken: []
      tags:
      - Users
      summary: Get Users by ID
      operationId: getUsersById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/UserExpansionsParameter'
      - $ref: '#/components/parameters/PostFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersByIdResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/affiliates:
    get:
      security:
      - OAuth2UserToken:
        - users.read
        - tweet.read
      - UserToken: []
      - BearerToken: []
      tags:
      - Users
      summary: Get Users Affiliates
      operationId: getUsersAffiliates
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: max_results
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          format: int32
        style: form
      - name: pagination_token
        in: query
        description: A 64-bit signed integer.
        required: false
        schema:
          type: string
        style: form
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/UserExpansionsParameter'
      - $ref: '#/components/parameters/PostFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersAffiliatesResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/blocking:
    get:
      security:
      - OAuth2UserToken:
        - block.read
        - users.read
        - tweet.read
      - UserToken: []
      tags:
      - Users
      summary: Get Users Blocking
      operationId: getUsersBlocking
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: max_results
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          format: int32
        style: form
      - name: pagination_token
        in: query
        required: false
        schema:
          type: string
          minLength: 16
        style: form
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/UserExpansionsParameter'
      - $ref: '#/components/parameters/PostFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersBlockingResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/bookmarks:
    get:
      security:
      - OAuth2UserToken:
        - bookmark.read
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Get Users Bookmarks
      operationId: getUsersBookmarks
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: max_results
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          format: int32
        style: form
      - name: pagination_token
        in: query
        description: A base32hex-encoded pagination token.
        required: false
        schema:
          type: string
          minLength: 1
        style: form
      - $ref: '#/components/parameters/PostFieldsParameter'
      - $ref: '#/components/parameters/PostExpansionsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/MediaFieldsParameter'
      - $ref: '#/components/parameters/PollFieldsParameter'
      - $ref: '#/components/parameters/PlaceFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersBookmarksResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    post:
      security:
      - OAuth2UserToken:
        - users.read
        - bookmark.write
        - tweet.read
      tags:
      - Users
      summary: Create Users Bookmark
      operationId: createUsersBookmark
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUsersBookmarkRequest'
        required: true
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateUsersBookmarkResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/bookmarks/folders:
    get:
      security:
      - OAuth2UserToken:
        - users.read
        - bookmark.read
      - UserToken: []
      tags:
      - Users
      summary: Get Users Bookmark Folders
      operationId: getUsersBookmarkFolders
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: max_results
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          format: int32
        style: form
      - name: pagination_token
        in: query
        description: A base32hex-encoded pagination token.
        required: false
        schema:
          type: string
          minLength: 1
        style: form
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersBookmarkFoldersResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    post:
      security:
      - OAuth2UserToken:
        - users.read
        - bookmark.write
      tags:
      - Users
      summary: Create Bookmark Folder
      description: Creates a new Bookmark folder for the authenticated user.
      operationId: createUsersBookmarkFolder
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUsersBookmarkFolderRequest'
        required: true
      responses:
        '201':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateUsersBookmarkFolderResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/bookmarks/folders/{folder_id}:
    get:
      security:
      - OAuth2UserToken:
        - users.read
        - tweet.read
        - bookmark.read
      - UserToken: []
      tags:
      - Users
      summary: Get Users Bookmarks by Folder ID
      operationId: getUsersBookmarksByFolderId
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: folder_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[0-9]{1,19}$
        style: simple
      - name: max_results
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          format: int32
        style: form
      - name: pagination_token
        in: query
        description: A base32hex-encoded pagination token.
        required: false
        schema:
          type: string
        style: form
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersBookmarksByFolderIdResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/bookmarks/{tweet_id}:
    delete:
      security:
      - OAuth2UserToken:
        - users.read
        - tweet.read
        - bookmark.write
      tags:
      - Users
      summary: Delete Bookmark
      description: Removes a Post from the authenticated user's Bookmarks by its ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/bookmarks/api-reference/delete-users-id-bookmarks-tweet_id
      operationId: deleteUsersBookmark
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: tweet_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/PostId'
        style: simple
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteUsersBookmarkResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/dm/block:
    post:
      security:
      - OAuth2UserToken:
        - tweet.read
        - dm.write
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Block Users Dms
      operationId: blockUsersDms
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockUsersDmsResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/dm/unblock:
    post:
      security:
      - OAuth2UserToken:
        - dm.write
        - users.read
        - tweet.read
      - UserToken: []
      tags:
      - Users
      summary: Unblock Users Dms
      operationId: unblockUsersDms
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnblockUsersDmsResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/followed_lists:
    get:
      security:
      - OAuth2UserToken:
        - list.read
        - tweet.read
        - users.read
      - UserToken: []
      - BearerToken: []
      tags:
      - Users
      summary: Get Users Followed Lists
      operationId: getUsersFollowedLists
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: max_results
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          format: int32
          default: 100
        style: form
      - name: pagination_token
        in: query
        description: A 64-bit signed integer.
        required: false
        schema:
          type: string
        style: form
      - $ref: '#/components/parameters/ListFieldsParameter'
      - $ref: '#/components/parameters/ListExpansionsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersFollowedListsResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    post:
      security:
      - OAuth2UserToken:
        - tweet.read
        - list.write
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Follow List
      operationId: followList
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FollowListRequest'
        required: true
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FollowListResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/followed_lists/{list_id}:
    delete:
      security:
      - OAuth2UserToken:
        - tweet.read
        - list.write
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Unfollow a List
      description: Causes the authenticated user to unfollow a List by its ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/lists/list-follows/api-reference/delete-users-id-followed-lists-list_id
      operationId: unfollowList
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: list_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/ListId'
        style: simple
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnfollowListResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/followers:
    get:
      security:
      - OAuth2UserToken:
        - users.read
        - tweet.read
        - follows.read
      - UserToken: []
      - BearerToken: []
      tags:
      - Users
      summary: Get Users Followers
      operationId: getUsersFollowers
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: max_results
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          format: int32
        style: form
      - name: pagination_token
        in: query
        description: A base32hex-encoded pagination token.
        required: false
        schema:
          type: string
          minLength: 16
        style: form
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/UserExpansionsParameter'
      - $ref: '#/components/parameters/PostFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersFollowersResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/following:
    get:
      security:
      - OAuth2UserToken:
        - tweet.read
        - follows.read
        - users.read
      - UserToken: []
      - BearerToken: []
      tags:
      - Users
      summary: Get Users Following
      operationId: getUsersFollowing
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: max_results
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          format: int32
        style: form
      - name: pagination_token
        in: query
        description: A base32hex-encoded pagination token.
        required: false
        schema:
          type: string
          minLength: 16
        style: form
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/UserExpansionsParameter'
      - $ref: '#/components/parameters/PostFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersFollowingResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    post:
      security:
      - OAuth2UserToken:
        - users.read
        - follows.write
        - tweet.read
      - UserToken: []
      tags:
      - Users
      summary: Follow User
      operationId: followUser
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FollowUserRequest'
        required: true
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FollowUserResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/liked_tweets:
    get:
      security:
      - OAuth2UserToken:
        - users.read
        - like.read
        - tweet.read
      - UserToken: []
      tags:
      - Users
      summary: Get Users Liked Posts
      operationId: getUsersLikedPosts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: max_results
        in: query
        required: false
        schema:
          type: integer
          minimum: 5
          maximum: 100
          format: int32
        style: form
      - name: pagination_token
        in: query
        description: A base32hex-encoded pagination token.
        required: false
        schema:
          type: string
          minLength: 1
        style: form
      - $ref: '#/components/parameters/PostFieldsParameter'
      - $ref: '#/components/parameters/PostExpansionsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/MediaFieldsParameter'
      - $ref: '#/components/parameters/PollFieldsParameter'
      - $ref: '#/components/parameters/PlaceFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersLikedPostsResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/likes:
    post:
      security:
      - OAuth2UserToken:
        - users.read
        - like.write
        - tweet.read
      - UserToken: []
      tags:
      - Users
      summary: Like Post
      operationId: likePost
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LikePostRequest'
        required: true
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LikePostResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/likes/{tweet_id}:
    delete:
      security:
      - OAuth2UserToken:
        - users.read
        - tweet.read
        - like.write
      - UserToken: []
      tags:
      - Users
      summary: Unlike Post
      operationId: unlikePost
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: tweet_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/PostId'
        style: simple
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnlikePostResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/list_memberships:
    get:
      security:
      - OAuth2UserToken:
        - tweet.read
        - users.read
        - list.read
      - UserToken: []
      - BearerToken: []
      tags:
      - Users
      summary: Get Users List Memberships
      operationId: getUsersListMemberships
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: max_results
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          format: int32
          default: 100
        style: form
      - name: pagination_token
        in: query
        required: false
        schema:
          type: string
        style: form
      - $ref: '#/components/parameters/ListFieldsParameter'
      - $ref: '#/components/parameters/ListExpansionsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersListMembershipsResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/mentions:
    get:
      security:
      - OAuth2UserToken:
        - tweet.read
        - users.read
      - UserToken: []
      - BearerToken: []
      tags:
      - Users
      summary: Get Users Mentions
      description: When both are provided, `start_time` must be earlier than `end_time`. When both are
        provided, `since_id` must be less than `until_id`.
      operationId: getUsersMentions
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: max_results
        in: query
        required: false
        schema:
          type: integer
          minimum: 5
          maximum: 100
          format: int32
        style: form
      - name: pagination_token
        in: query
        description: A base32hex-encoded pagination token.
        required: false
        schema:
          type: string
          minLength: 1
        style: form
      - name: start_time
        in: query
        description: Must be on or after 2010-11-06.
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - name: end_time
        in: query
        description: Must be on or after 2010-11-06.
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - name: since_id
        in: query
        required: false
        schema:
          type: string
          pattern: ^[0-9]{1,19}$
        style: form
      - name: until_id
        in: query
        required: false
        schema:
          type: string
          pattern: ^[0-9]{1,19}$
        style: form
      - $ref: '#/components/parameters/PostFieldsParameter'
      - $ref: '#/components/parameters/PostExpansionsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/MediaFieldsParameter'
      - $ref: '#/components/parameters/PollFieldsParameter'
      - $ref: '#/components/parameters/PlaceFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersMentionsResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/muting:
    get:
      security:
      - OAuth2UserToken:
        - tweet.read
        - users.read
        - mute.read
      - UserToken: []
      tags:
      - Users
      summary: Get Users Muting
      operationId: getUsersMuting
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: max_results
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          format: int32
          default: 100
        style: form
      - name: pagination_token
        in: query
        required: false
        schema:
          type: string
        style: form
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/UserExpansionsParameter'
      - $ref: '#/components/parameters/PostFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersMutingResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    post:
      security:
      - OAuth2UserToken:
        - users.read
        - mute.write
        - tweet.read
      - UserToken: []
      tags:
      - Users
      summary: Mute User
      operationId: muteUser
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MuteUserRequest'
        required: true
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MuteUserResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/owned_lists:
    get:
      security:
      - OAuth2UserToken:
        - tweet.read
        - users.read
        - list.read
      - UserToken: []
      - BearerToken: []
      tags:
      - Users
      summary: Get Users Owned Lists
      operationId: getUsersOwnedLists
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: max_results
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          format: int32
          default: 100
        style: form
      - name: pagination_token
        in: query
        description: A 64-bit signed integer.
        required: false
        schema:
          type: string
        style: form
      - $ref: '#/components/parameters/ListFieldsParameter'
      - $ref: '#/components/parameters/ListExpansionsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersOwnedListsResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/pinned_lists:
    get:
      security:
      - OAuth2UserToken:
        - users.read
        - list.read
        - tweet.read
      - UserToken: []
      tags:
      - Users
      summary: Get Users Pinned Lists
      operationId: getUsersPinnedLists
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - $ref: '#/components/parameters/ListFieldsParameter'
      - $ref: '#/components/parameters/ListExpansionsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersPinnedListsResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    post:
      security:
      - OAuth2UserToken:
        - users.read
        - tweet.read
        - list.write
      - UserToken: []
      tags:
      - Users
      summary: Pin List
      description: Causes the authenticated user to pin a specific List by its ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/lists/pinned-lists/api-reference/post-users-id-pinned-lists
      operationId: pinList
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PinListRequest'
        required: true
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PinListResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/pinned_lists/{list_id}:
    delete:
      security:
      - OAuth2UserToken:
        - tweet.read
        - list.write
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Unpin a List
      description: Causes the authenticated user to unpin a List by its ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/lists/pinned-lists/api-reference/delete-users-id-pinned-lists-list_id
      operationId: unpinList
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: list_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/ListId'
        style: simple
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnpinListResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/public_keys:
    get:
      security:
      - OAuth2UserToken:
        - users.read
        - dm.read
        - tweet.read
      - UserToken: []
      tags:
      - Users
      summary: Get public keys
      description: Returns a user's registered public keys for X Chat encryption.
      externalDocs:
        url: https://developer.x.com/
      operationId: getUsersPublicKey
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - $ref: '#/components/parameters/PublicKeyFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersPublicKeyResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/retweets:
    post:
      security:
      - OAuth2UserToken:
        - users.read
        - tweet.read
        - tweet.write
      - UserToken: []
      tags:
      - Users
      summary: Repost Post
      description: Causes the authenticated user to repost a specific Post by its ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/retweets/api-reference/post-users-id-retweets
      operationId: repostPost
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RepostPostRequest'
        required: true
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepostPostResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/retweets/{source_tweet_id}:
    delete:
      security:
      - OAuth2UserToken:
        - users.read
        - tweet.read
        - tweet.write
      - UserToken: []
      tags:
      - Users
      summary: Unrepost Post
      description: Causes the authenticated user to unrepost a specific Post by its ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/retweets/api-reference/delete-users-id-retweets-tweet_id
      operationId: unrepostPost
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: source_tweet_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[0-9]{1,19}$
        style: simple
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnrepostPostResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/timelines/reverse_chronological:
    get:
      security:
      - OAuth2UserToken:
        - users.read
        - tweet.read
      - UserToken: []
      tags:
      - Users
      summary: Get Users Timeline
      description: When both are provided, `start_time` must be earlier than `end_time`. When both are
        provided, `since_id` must be less than `until_id`.
      operationId: getUsersTimeline
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: max_results
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          format: int32
        style: form
      - name: pagination_token
        in: query
        description: A base32hex-encoded pagination token.
        required: false
        schema:
          type: string
          minLength: 1
        style: form
      - name: start_time
        in: query
        description: Must be on or after 2010-11-06.
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - name: end_time
        in: query
        description: Must be on or after 2010-11-06.
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - name: since_id
        in: query
        required: false
        schema:
          type: string
          pattern: ^[0-9]{1,19}$
        style: form
      - name: until_id
        in: query
        required: false
        schema:
          type: string
          pattern: ^[0-9]{1,19}$
        style: form
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            enum:
            - replies
            - retweets
        explode: false
        style: form
      - $ref: '#/components/parameters/PostFieldsParameter'
      - $ref: '#/components/parameters/PostExpansionsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/MediaFieldsParameter'
      - $ref: '#/components/parameters/PollFieldsParameter'
      - $ref: '#/components/parameters/PlaceFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersTimelineResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/tweets:
    get:
      security:
      - OAuth2UserToken:
        - users.read
        - tweet.read
      - UserToken: []
      - BearerToken: []
      tags:
      - Users
      summary: Get Users Posts
      description: When both are provided, `start_time` must be earlier than `end_time`. When both are
        provided, `since_id` must be less than `until_id`.
      operationId: getUsersPosts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: max_results
        in: query
        required: false
        schema:
          type: integer
          minimum: 5
          maximum: 100
          format: int32
        style: form
      - name: pagination_token
        in: query
        description: A base32hex-encoded pagination token.
        required: false
        schema:
          type: string
          minLength: 1
        style: form
      - name: start_time
        in: query
        description: Must be on or after 2010-11-06.
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - name: end_time
        in: query
        description: Must be on or after 2010-11-06.
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - name: since_id
        in: query
        required: false
        schema:
          type: string
          pattern: ^[0-9]{1,19}$
        style: form
      - name: until_id
        in: query
        required: false
        schema:
          type: string
          pattern: ^[0-9]{1,19}$
        style: form
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - replies
            - retweets
        explode: false
        style: form
      - $ref: '#/components/parameters/PostFieldsParameter'
      - $ref: '#/components/parameters/PostExpansionsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/MediaFieldsParameter'
      - $ref: '#/components/parameters/PollFieldsParameter'
      - $ref: '#/components/parameters/PlaceFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersPostsResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{source_user_id}/following/{target_user_id}:
    delete:
      security:
      - OAuth2UserToken:
        - follows.write
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Unfollow User
      description: Causes the authenticated user to unfollow a specific user by their ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/users/follows/api-reference/delete-users-source_id-following
      operationId: unfollowUser
      parameters:
      - name: source_user_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: target_user_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnfollowUserResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{source_user_id}/muting/{target_user_id}:
    delete:
      security:
      - OAuth2UserToken:
        - mute.write
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Unmute User
      description: Causes the authenticated user to unmute the target user.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/users/mutes/api-reference/delete-users-user_id-muting
      operationId: unmuteUser
      parameters:
      - name: source_user_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: target_user_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnmuteUserResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
components:
  schemas:
    InvalidRequestProblem:
      type: object
      required:
      - type
      - title
      - detail
      properties:
        detail:
          type: string
        parameter:
          type: string
        status:
          type: integer
        title:
          type: string
        type:
          type: string
          enum:
          - https://api.x.com/2/problems/invalid-request
        value:
          type: string
    ListFollowerCount:
      type: integer
      description: The number of users who follow this List.
      format: int64
    PostNoteRequestSuggestions:
      type: array
      description: Community-Notes request suggestions for this Post.
      items:
        type: object
        description: A Community-Notes request suggestion for this Post.
        properties:
          source_link:
            type: string
            description: A suggested source link supporting the note request.
            nullable: true
          suggestion:
            type: string
            description: The text of the note request suggestion.
            nullable: true
          suggestion_id:
            type: string
            description: The unique identifier of the note request suggestion.
            nullable: true
    PostEditControls:
      type: object
      description: Indicates how much longer (if at all) this Post can be edited.
      properties:
        editable_until:
          type: string
          description: The time until which this Post can be edited.
          nullable: true
        edits_remaining:
          type: integer
          description: Number of edits still allowed for this Post.
          format: int64
          nullable: true
        is_edit_eligible:
          type: boolean
          description: Indicates whether this Post is eligible to be edited.
          nullable: true
    PostGeo:
      type: object
      description: The location tagged on the Post, if the user provided one.
      properties:
        coordinates:
          type: object
          description: A GeoJSON Point geometry.
          required:
          - type
          - coordinates
          properties:
            coordinates:
              type: array
              description: '[longitude, latitude].'
              minItems: 2
              maxItems: 2
              items:
                type: number
                format: double
            type:
              type: string
              description: The GeoJSON geometry type.
              enum:
              - Point
          nullable: true
        place_id:
          type: string
          description: The unique identifier of the tagged place.
          nullable: true
    PostWithheld:
      type: object
      description: Withholding details for withheld content.
      required:
      - copyright
      - country_codes
      properties:
        copyright:
          type: boolean
          description: Indicates whether this content is withheld due to a copyright claim.
        country_codes:
          type: array
          description: Uppercase ISO 3166-1 alpha-2 country codes where this content is withheld.
          items:
            type: string
        scope:
          type: string
          description: Whether the withholding applies to a Post or a User.
          enum:
          - post
          - user
          nullable: true
    FollowListResponseData:
      type: object
      required:
      - following
      properties:
        following:
          type: boolean
          description: Whether the user is following the List.
    FollowUserResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/FollowUserResponseData'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
    PostContextAnnotations:
      type: array
      description: Annotations inferred about the Post (domain and entity context).
      items:
        type: object
        description: A single inferred annotation about the Post (domain and entity context).
        required:
        - domain
        - entity
        properties:
          domain:
            description: The domain (broad category) this annotation belongs to.
            oneOf:
            - type: object
              description: A domain or entity referenced by a context annotation.
              properties:
                description:
                  type: string
                  nullable: true
                id:
                  type: string
                  nullable: true
                name:
                  type: string
                  nullable: true
          entity:
            description: The specific entity recognized within the domain.
            oneOf:
            - type: object
              description: A domain or entity referenced by a context annotation.
              properties:
                description:
                  type: string
                  nullable: true
                id:
                  type: string
                  nullable: true
                name:
                  type: string
                  nullable: true
    UnmuteUserResponseData:
      type: object
      required:
      - muting
      properties:
        muting:
          type: boolean
          description: Whether the user is muted.
    FollowListResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/FollowListResponseData'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
    GetUsersListMembershipsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/List'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
        includes:
          $ref: '#/components/schemas/Expansions'
        meta:
          type: object
          properties:
            next_token:
              type: string
              description: Pagination token for the next page of results.
            previous_token:
              type: string
              description: Pagination token for the previous page of results.
            result_count:
              type: integer
              description: Number of items in the data array.
              format: int32
    CreateUsersBookmarkFolderRequest:
      type: object
      required:
      - name
      properties:
        name:
          type: string
          description: Name of the Bookmark folder (1-25 characters).
          minLength: 1
          maxLength: 25
      additionalProperties: false
    PublicKeyId:
      type: string
      description: Unique identifier of a PublicKey
      pattern: ^[0-9]{1,19}$
    GetUsersBookmarksByFolderIdResponse:
      type: object
      properties:
        data:
          type: array
          description: The Posts in this bookmark folder, by ID.
          items:
            type: object
            required:
            - id
            properties:
              id:
                $ref: '#/components/schemas/PostId'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
    UnpinListResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/UnpinListResponseData'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
    GetUsersOwnedListsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/List'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
        includes:
          $ref: '#/components/schemas/Expansions'
        meta:
          type: object
          properties:
            next_token:
              type: string
              description: Pagination token for the next page of results.
            previous_token:
              type: string
              description: Pagination token for the previous page of results.
            result_count:
              type: integer
              description: Number of items in the data array.
              format: int32
    RepostPostRequest:
      type: object
      required:
      - tweet_id
      properties:
        tweet_id:
          type: string
          pattern: ^[0-9]{1,19}$
      additionalProperties: false
    RepostPostResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/RepostPostResponseData'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
    GetUsersLikedPostsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Post'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
        includes:
          $ref: '#/components/schemas/Expansions'
        meta:
          type: object
          properties:
            next_token:
              type: string
              description: Pagination token for the next page of results.
            previous_token:
              type: string
              description: Pagination token for the previous page of results.
            result_count:
              type: integer
              description: Number of items in the data array.
              format: int32
    GetUsersPostsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Post'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
        includes:
          $ref: '#/components/schemas/Expansions'
        meta:
          type: object
          properties:
            newest_id:
              type: string
              description: Most recent ID in the data array.
            next_token:
              type: string
              description: Pagination token for the next page of results.
            oldest_id:
              type: string
              description: Oldest ID in the data array.
            previous_token:
              type: string
              description: Pagination token for the previous page of results.
            result_count:
              type: integer
              description: Number of items in the data array.
              format: int32
    Error:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
    LikePostResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/LikePostResponseData'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
    GetUsersBlockingResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/User'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
        includes:
          $ref: '#/components/schemas/Expansions'
        meta:
          type: object
          properties:
            next_token:
              type: string
              description: Pagination token for the next page of results.
            previous_token:
              type: string
              description: Pagination token for the previous page of results.
            result_count:
              type: integer
              description: Number of items in the data array.
              format: int32
    GetUsersFollowersResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/User'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
        includes:
          $ref: '#/components/schemas/Expansions'
        meta:
          type: object
          properties:
            next_token:
              type: string
              description: Pagination token for the next page of results.
            previous_token:
              type: string
              description: Pagination token for the previous page of results.
            result_count:
              type: integer
              description: Number of items in the data array.
              format: int32
    UnfollowListResponseData:
      type: object
      required:
      - following
      properties:
        following:
          type: boolean
          description: Indicates whether the user is following the List.
    PostAttachments:
      type: object
      description: Specifies the type of attachments (if any) present in this Post.
      properties:
        media_keys:
          type: array
          description: Media keys of media attached to this Post.
          items:
            type: string
          nullable: true
        media_source_tweet_id:
          type: array
          description: IDs of the source Posts the attached media originated from.
          items:
            type: string
          nullable: true
        poll_ids:
          type: array
          description: IDs of polls attached to this Post.
          items:
            type: string
          nullable: true
    GetUsersMutingResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/User'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
        includes:
          $ref: '#/components/schemas/Expansions'
        meta:
          type: object
          properties:
            next_token:
              type: string
              description: Pagination token for the next page of results.
            previous_token:
              type: string
              description: Pagination token for the previous page of results.
            result_count:
              type: integer
              description: Number of items in the data array.
              format: int32
    SearchUsersResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/User'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
        includes:
          $ref: '#/components/schemas/Expansions'
        meta:
          type: object
          properties:
            next_token:
              type: string
              description: Pagination token for the next page of results.
            previous_token:
              type: string
              description: Pagination token for the previous page of results.
    CreateUsersBookmarkFolderResponseData:
      type: object
      required:
      - id
      - name
      properties:
        id:
          type: string
          description: Unique identifier of the created Bookmark folder.
        name:
          type: string
          description: The name of the created Bookmark folder.
    User:
      type: object
      properties:
        affiliation:
          $ref: '#/components/schemas/UserAffiliation'
        confirmed_email:
          type: string
        connection_status:
          $ref: '#/components/schemas/UserConnectionStatus'
        created_at:
          type: string
          description: Creation time of this User.
          format: date-time
        description:
          type: string
          description: The text of this User's profile description (also known as bio), if the User provided
            one.
        entities:
          $ref: '#/components/schemas/UserEntities'
        id:
          type: string
          description: Unique identifier of this User.
        is_identity_verified:
          type: boolean
          description: Indicates if this User has completed identity verification.
        location:
          type: string
          description: The location specified in the User's profile, if the User provided one. As this
            is a freeform value, it may not indicate a valid location.
        most_recent_post_id:
          type: string
          description: Unique identifier of this User's most recent Post.
        name:
          type: string
          description: The friendly name of this User, as shown on their profile.
        parody:
          type: boolean
          description: Indicates if this User is a parody account.
        pinned_post_id:
          type: string
          description: Unique identifier of this User's pinned Post.
        profile_banner_url:
          type: string
          description: The URL to the profile banner for this User.
        profile_image_url:
          type: string
          description: The URL to the profile image for this User.
        protected:
          type: boolean
          description: Indicates if this User has chosen to protect their Posts (in other words, if this
            User's Posts are private).
        public_metrics:
          $ref: '#/components/schemas/UserPublicMetrics'
        receives_your_dm:
          type: boolean
          description: Indicates if you can send a DM to this User.
        subscriber_count:
          type: integer
          description: The number of Premium subscribers of this User.
        subscribes_to_you:
          type: boolean
          description: Indicates if this User subscribes to you.
        subscription:
          $ref: '#/components/schemas/UserSubscription'
        subscription_type:
          type: string
          description: 'The X Blue subscription type of the user, e.g.: Basic, Premium, PremiumPlus or
            None.'
        url:
          type: string
          description: The URL specified in the User's profile.
        username:
          type: string
          description: The X handle (screen name) of this User.
        verified:
          type: boolean
          description: Indicates if this User is a verified X User.
        verified_followers_count:
          type: integer
          description: The number of verified followers of this User.
        verified_type:
          type: string
          description: 'The X Blue verified type of the user, e.g.: blue, government, business or none.'
        withheld:
          $ref: '#/components/schemas/UserWithheld'
    CreateUsersBookmarkFolderResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/CreateUsersBookmarkFolderResponseData'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
    NotAuthorizedForFieldProblem:
      type: object
      required:
      - type
      - title
      - detail
      - field
      properties:
        detail:
          type: string
        field:
          type: string
        parameter:
          type: string
        resource_id:
          type: string
        resource_type:
          type: string
        section:
          type: string
        status:
          type: integer
        title:
          type: string
        type:
          type: string
          enum:
          - https://api.x.com/2/problems/not-authorized-for-field
        value:
          type: string
    GetUsersTimelineResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Post'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
        includes:
          $ref: '#/components/schemas/Expansions'
        meta:
          type: object
          properties:
            newest_id:
              type: string
              description: Most recent ID in the data array.
            next_token:
              type: string
              description: Pagination token for the next page of results.
            oldest_id:
              type: string
              description: Oldest ID in the data array.
            previous_token:
              type: string
              description: Pagination token for the previous page of results.
            result_count:
              type: integer
              description: Number of items in the data array.
              format: int32
    PostReferencedPosts:
      type: array
      description: A list of Posts this Post refers to. If the Post is a Retweet, Quote or Reply, it includes
        the referenced Post's type and ID.
      items:
        type: object
        description: A reference from this Post to another Post (repost, quote, or reply).
        required:
        - type
        - id
        properties:
          id:
            type: string
            description: Unique identifier of the referenced Post.
          type:
            description: How this Post references the other Post.
            oneOf:
            - type: string
              description: The kind of Post-to-Post reference.
              enum:
              - retweeted
              - quoted
              - replied_to
    GetUsersPinnedListsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/List'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
        includes:
          $ref: '#/components/schemas/Expansions'
        meta:
          type: object
          properties:
            result_count:
              type: integer
              description: Number of items in the data array.
              format: int32
    GetUsersByUsernamesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/User'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
        includes:
          $ref: '#/components/schemas/Expansions'
    MediaVariants:
      type: array
      description: Each media object may have multiple display or playback variants, with different resolutions
        or formats.
      items:
        type: object
        description: A single playback or display variant of a media object.
        properties:
          bit_rate:
            type: integer
            description: The bit rate of this variant, in bits per second. Absent for playlist variants.
            format: int64
            nullable: true
          content_type:
            type: string
            description: The MIME type of this variant, for example "video/mp4" or "application/x-mpegURL".
            nullable: true
          url:
            type: string
            description: The URL to this media variant.
            nullable: true
    BlockUsersDmsResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/BlockUsersDmsResponseData'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
    PostMatchedMediaNotes:
      type: array
      description: Community-Notes media matches for this Post.
      items:
        type: object
        description: A Community-Notes media match for this Post.
        properties:
          match_status:
            type: string
            description: The status of the media note match.
            nullable: true
          note_id:
            type: string
            description: The matched note's unique identifier.
            nullable: true
    UserEntities:
      type: object
      description: A list of metadata found in the User's profile description.
      properties:
        description:
          type: object
          description: Entities found in the User's bio.
          properties:
            cashtags:
              type: array
              items:
                type: object
                description: A hashtag or cashtag entity.
                required:
                - start
                - end
                - tag
                properties:
                  end:
                    type: integer
                    description: End index in the text (exclusive).
                    format: int64
                  start:
                    type: integer
                    description: Start index in the text (inclusive).
                    format: int64
                  tag:
                    type: string
              nullable: true
            hashtags:
              type: array
              items:
                type: object
                description: A hashtag or cashtag entity.
                required:
                - start
                - end
                - tag
                properties:
                  end:
                    type: integer
                    description: End index in the text (exclusive).
                    format: int64
                  start:
                    type: integer
                    description: Start index in the text (inclusive).
                    format: int64
                  tag:
                    type: string
              nullable: true
            mentions:
              type: array
              items:
                type: object
                description: A user mention entity.
                required:
                - start
                - end
                - username
                properties:
                  end:
                    type: integer
                    format: int64
                  id:
                    type: string
                    nullable: true
                  start:
                    type: integer
                    format: int64
                  username:
                    type: string
              nullable: true
            urls:
              type: array
              items:
                type: object
                description: A URL entity found in profile text.
                required:
                - start
                - end
                - url
                properties:
                  description:
                    type: string
                    description: Description of the linked page, when available.
                    nullable: true
                  display_url:
                    type: string
                    description: The URL as displayed in the Post text.
                    nullable: true
                  end:
                    type: integer
                    format: int64
                  expanded_url:
                    type: string
                    description: The fully resolved URL.
                    nullable: true
                  images:
                    type: array
                    items:
                      type: object
                      description: A preview image for a linked page.
                      properties:
                        height:
                          type: integer
                          format: int64
                          nullable: true
                        url:
                          type: string
                          nullable: true
                        width:
                          type: integer
                          format: int64
                          nullable: true
                    nullable: true
                  media_key:
                    type: string
                    nullable: true
                  start:
                    type: integer
                    format: int64
                  status:
                    type: integer
                    description: HTTP status from resolving the URL.
                    format: int64
                    nullable: true
                  title:
                    type: string
                    description: Title of the linked page, when available.
                    nullable: true
                  unwound_url:
                    type: string
                    description: The final destination after following redirects.
                    nullable: true
                  url:
                    type: string
                    description: The t.co shortened URL.
              nullable: true
          nullable: true
        url:
          type: object
          description: Entities for the User's profile website URL.
          properties:
            urls:
              type: array
              items:
                type: object
                description: A URL entity found in profile text.
                required:
                - start
                - end
                - url
                properties:
                  description:
                    type: string
                    description: Description of the linked page, when available.
                    nullable: true
                  display_url:
                    type: string
                    description: The URL as displayed in the Post text.
                    nullable: true
                  end:
                    type: integer
                    format: int64
                  expanded_url:
                    type: string
                    description: The fully resolved URL.
                    nullable: true
                  images:
                    type: array
                    items:
                      type: object
                      description: A preview image for a linked page.
                      properties:
                        height:
                          type: integer
                          format: int64
                          nullable: true
                        url:
                          type: string
                          nullable: true
                        width:
                          type: integer
                          format: int64
                          nullable: true
                    nullable: true
                  media_key:
                    type: string
                    nullable: true
                  start:
                    type: integer
                    format: int64
                  status:
                    type: integer
                    description: HTTP status from resolving the URL.
                    format: int64
                    nullable: true
                  title:
                    type: string
                    description: Title of the linked page, when available.
                    nullable: true
                  unwound_url:
                    type: string
                    description: The final destination after following redirects.
                    nullable: true
                  url:
                    type: string
                    description: The t.co shortened URL.
              nullable: true
          nullable: true
    PinListRequest:
      type: object
      required:
      - list_id
      properties:
        list_id:
          type: string
          pattern: ^[0-9]{1,19}$
      additionalProperties: false
    PinListResponseData:
      type: object
      required:
      - pinned
      properties:
        pinned:
          type: boolean
          description: Indicates whether the List is pinned by the authenticated user.
    UnblockUsersDmsResponseData:
      type: object
      required:
      - blocked
      properties:
        blocked:
          type: boolean
          description: Indicates whether the target user is DM-blocked.
    GetUsersByIdResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/User'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
        includes:
          $ref: '#/components/schemas/Expansions'
    GetUsersByIdsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/User'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
        includes:
          $ref: '#/components/schemas/Expansions'
    PostEntities:
      type: object
      description: A list of metadata entities (hashtags, mentions, URLs) found in the Post text.
      properties:
        cashtags:
          type: array
          items:
            type: object
            description: A hashtag or cashtag entity.
            required:
            - start
            - end
            - tag
            properties:
              end:
                type: integer
                description: End index in the text (exclusive).
                format: int64
              start:
                type: integer
                description: Start index in the text (inclusive).
                format: int64
              tag:
                type: string
          nullable: true
        hashtags:
          type: array
          items:
            type: object
            description: A hashtag or cashtag entity.
            required:
            - start
            - end
            - tag
            properties:
              end:
                type: integer
                description: End index in the text (exclusive).
                format: int64
              start:
                type: integer
                description: Start index in the text (inclusive).
                format: int64
              tag:
                type: string
          nullable: true
        mentions:
          type: array
          items:
            type: object
            description: A user mention entity.
            required:
            - start
            - end
            properties:
              end:
                type: integer
                format: int64
              id:
                type: string
                nullable: true
              start:
                type: integer
                format: int64
              username:
                type: string
                nullable: true
          nullable: true
        urls:
          type: array
          items:
            type: object
            description: A URL entity found in the Post text, enriched with link metadata.
            required:
            - start
            - end
            properties:
              description:
                type: string
                description: Description of the linked page, when available.
                nullable: true
              display_url:
                type: string
                description: The URL as displayed in the Post text.
                nullable: true
              end:
                type: integer
                format: int64
              expanded_url:
                type: string
                description: The fully resolved URL.
                nullable: true
              images:
                type: array
                items:
                  type: object
                  description: A preview image for a linked page.
                  properties:
                    height:
                      type: integer
                      format: int64
                      nullable: true
                    url:
                      type: string
                      nullable: true
                    width:
                      type: integer
                      format: int64
                      nullable: true
                nullable: true
              media_key:
                type: string
                nullable: true
              start:
                type: integer
                format: int64
              status:
                type: integer
                description: HTTP status from resolving the URL.
                format: int64
                nullable: true
              title:
                type: string
                description: Title of the linked page, when available.
                nullable: true
              unwound_url:
                type: string
                description: The final destination after following redirects.
                nullable: true
              url:
                type: string
                description: The t.co shortened URL.
                nullable: true
          nullable: true
    GetUsersBookmarksResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Post'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
        includes:
          $ref: '#/components/schemas/Expansions'
        meta:
          type: object
          properties:
            next_token:
              type: string
              description: Pagination token for the next page of results.
            previous_token:
              type: string
              description: Pagination token for the previous page of results.
            result_count:
              type: integer
              description: Number of items in the data array.
              format: int32
    UserWithheld:
      type: object
      description: Withholding details for withheld content.
      properties:
        country_codes:
          type: array
          description: A list of countries (as ISO 3166-1 alpha-2 codes) where this content is withheld.
          items:
            type: string
          nullable: true
        scope:
          type: string
          description: The scope of the withholding. Only present, with the value "user", when the entire
            User is withheld.
          enum:
          - user
          nullable: true
    InternalErrorProblem:
      type: object
      required:
      - type
      - title
      - detail
      properties:
        detail:
          type: string
        status:
          type: integer
        title:
          type: string
        type:
          type: string
          enum:
          - https://api.x.com/2/problems/internal-error
    LikePostResponseData:
      type: object
      required:
      - liked
      properties:
        liked:
          type: boolean
          description: Whether the User likes the Post.
    Post:
      type: object
      properties:
        article:
          type: object
        article_title:
          type: object
          description: Metadata about the long-form Article attached to this Post, if any.
        attachments:
          $ref: '#/components/schemas/PostAttachments'
        author_id:
          type: string
          description: Unique identifier of the author of this Post.
        card_uri:
          type: string
        community_id:
          type: string
          description: The unique identifier of the Community this Post belongs to, if any.
        context_annotations:
          $ref: '#/components/schemas/PostContextAnnotations'
        conversation_id:
          type: string
          description: The ID of the conversation this Post belongs to (matches the root Post's ID).
        created_at:
          type: string
          description: Creation time of the Post.
          format: date-time
        display_text_range:
          $ref: '#/components/schemas/PostDisplayTextRange'
        edit_controls:
          $ref: '#/components/schemas/PostEditControls'
        edit_history_post_ids:
          type: array
          description: A list of Post IDs in this Post's edit history chain.
          items:
            type: string
        entities:
          $ref: '#/components/schemas/PostEntities'
        geo:
          $ref: '#/components/schemas/PostGeo'
        id:
          type: string
          description: Unique identifier of this Post.
        in_reply_to_user_id:
          type: string
          description: Unique identifier of the User this Post is replying to.
        lang:
          type: string
[...]
