openapi: 3.2.0
info:
  title: X Users API
  version: '1.0'
  description: 'Operations tagged Users across 2 of this provider''s published API definitions: x-api-v2-openapi.json, x-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- description: X API
  url: https://api.x.com
- url: https://api.x.com/2
  description: X API v2 production server
tags:
- name: Users
  description: Endpoints related to retrieving, managing relationships of Users
  externalDocs:
    description: Find out more
    url: https://docs.x.com/x-api/users/introduction
paths:
  /2/users:
    get:
      security:
      - OAuth2UserToken:
        - tweet.read
        - users.read
      - UserToken: []
      - BearerToken: []
      tags:
      - Users
      summary: Get Users by IDs
      operationId: getUsersByIds
      parameters:
      - name: ids
        in: query
        required: true
        schema:
          type: array
          minItems: 1
          maxItems: 100
          items:
            $ref: '#/components/schemas/UserId'
        explode: false
        style: form
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/UserExpansionsParameter'
      - $ref: '#/components/parameters/PostFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersByIdsResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - description: X API
      url: https://api.x.com
  /2/users/by:
    get:
      security:
      - OAuth2UserToken:
        - users.read
        - tweet.read
      - UserToken: []
      - BearerToken: []
      tags:
      - Users
      summary: Get Users by Usernames
      operationId: getUsersByUsernames
      parameters:
      - name: usernames
        in: query
        required: true
        schema:
          type: array
          minItems: 1
          maxItems: 100
          items:
            type: string
            pattern: ^[A-Za-z0-9_]{1,15}$
        explode: false
        style: form
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/UserExpansionsParameter'
      - $ref: '#/components/parameters/PostFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersByUsernamesResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - description: X API
      url: https://api.x.com
  /2/users/by/username/{username}:
    get:
      security:
      - OAuth2UserToken:
        - tweet.read
        - users.read
      - UserToken: []
      - BearerToken: []
      tags:
      - Users
      summary: Get Users by Username
      operationId: getUsersByUsername
      parameters:
      - name: username
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_]{1,15}$
        style: simple
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/UserExpansionsParameter'
      - $ref: '#/components/parameters/PostFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersByUsernameResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - description: X API
      url: https://api.x.com
  /2/users/me:
    get:
      security:
      - OAuth2UserToken:
        - users.read
        - tweet.read
      - UserToken: []
      tags:
      - Users
      summary: Get Users Me
      operationId: getUsersMe
      parameters:
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/UserExpansionsParameter'
      - $ref: '#/components/parameters/PostFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersMeResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - description: X API
      url: https://api.x.com
  /2/users/public_keys:
    get:
      security:
      - OAuth2UserToken:
        - tweet.read
        - dm.read
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Get public keys
      description: Returns registered public keys for X Chat encryption for the specified users.
      externalDocs:
        url: https://developer.x.com/
      operationId: getUsersPublicKeys
      parameters:
      - name: ids
        in: query
        required: true
        schema:
          type: array
          minItems: 1
          maxItems: 100
          items:
            $ref: '#/components/schemas/PublicKeyId'
        explode: false
        style: form
      - $ref: '#/components/parameters/PublicKeyFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersPublicKeysResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - description: X API
      url: https://api.x.com
  /2/users/reposts_of_me:
    get:
      security:
      - OAuth2UserToken:
        - timeline.read
        - tweet.read
      - UserToken: []
      tags:
      - Users
      summary: Get Users Reposts of Me
      operationId: getUsersRepostsOfMe
      parameters:
      - name: max_results
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          format: int32
          default: 100
        style: form
      - name: pagination_token
        in: query
        description: A base32hex-encoded pagination token.
        required: false
        schema:
          type: string
          minLength: 1
        style: form
      - $ref: '#/components/parameters/PostFieldsParameter'
      - $ref: '#/components/parameters/PostExpansionsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/MediaFieldsParameter'
      - $ref: '#/components/parameters/PollFieldsParameter'
      - $ref: '#/components/parameters/PlaceFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersRepostsOfMeResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - description: X API
      url: https://api.x.com
  /2/users/search:
    get:
      security:
      - OAuth2UserToken:
        - users.read
        - tweet.read
      - UserToken: []
      tags:
      - Users
      summary: Search Users
      operationId: searchUsers
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_' ]{1,50}$
        style: form
      - name: max_results
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          format: int32
          default: 100
        style: form
      - name: next_token
        in: query
        required: false
        schema:
          type: string
          minLength: 1
        style: form
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/UserExpansionsParameter'
      - $ref: '#/components/parameters/PostFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchUsersResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - description: X API
      url: https://api.x.com
  /2/users/{id}:
    get:
      security:
      - OAuth2UserToken:
        - users.read
        - tweet.read
      - UserToken: []
      - BearerToken: []
      tags:
      - Users
      summary: Get Users by ID
      operationId: getUsersById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/UserExpansionsParameter'
      - $ref: '#/components/parameters/PostFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersByIdResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - description: X API
      url: https://api.x.com
  /2/users/{id}/affiliates:
    get:
      security:
      - OAuth2UserToken:
        - users.read
        - tweet.read
      - UserToken: []
      - BearerToken: []
      tags:
      - Users
      summary: Get Users Affiliates
      operationId: getUsersAffiliates
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: max_results
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          format: int32
        style: form
      - name: pagination_token
        in: query
        description: A 64-bit signed integer.
        required: false
        schema:
          type: string
        style: form
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/UserExpansionsParameter'
      - $ref: '#/components/parameters/PostFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersAffiliatesResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - description: X API
      url: https://api.x.com
  /2/users/{id}/blocking:
    get:
      security:
      - OAuth2UserToken:
        - block.read
        - users.read
        - tweet.read
      - UserToken: []
      tags:
      - Users
      summary: Get Users Blocking
      operationId: getUsersBlocking
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: max_results
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          format: int32
        style: form
      - name: pagination_token
        in: query
        required: false
        schema:
          type: string
          minLength: 16
        style: form
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/UserExpansionsParameter'
      - $ref: '#/components/parameters/PostFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersBlockingResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - description: X API
      url: https://api.x.com
  /2/users/{id}/bookmarks:
    get:
      security:
      - OAuth2UserToken:
        - bookmark.read
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Get Users Bookmarks
      operationId: getUsersBookmarks
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: max_results
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          format: int32
        style: form
      - name: pagination_token
        in: query
        description: A base32hex-encoded pagination token.
        required: false
        schema:
          type: string
          minLength: 1
        style: form
      - $ref: '#/components/parameters/PostFieldsParameter'
      - $ref: '#/components/parameters/PostExpansionsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/MediaFieldsParameter'
      - $ref: '#/components/parameters/PollFieldsParameter'
      - $ref: '#/components/parameters/PlaceFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersBookmarksResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    post:
      security:
      - OAuth2UserToken:
        - users.read
        - bookmark.write
        - tweet.read
      tags:
      - Users
      summary: Create Users Bookmark
      operationId: createUsersBookmark
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUsersBookmarkRequest'
        required: true
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateUsersBookmarkResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - description: X API
      url: https://api.x.com
  /2/users/{id}/bookmarks/folders:
    get:
      security:
      - OAuth2UserToken:
        - users.read
        - bookmark.read
      - UserToken: []
      tags:
      - Users
      summary: Get Users Bookmark Folders
      operationId: getUsersBookmarkFolders
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: max_results
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          format: int32
        style: form
      - name: pagination_token
        in: query
        description: A base32hex-encoded pagination token.
        required: false
        schema:
          type: string
          minLength: 1
        style: form
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersBookmarkFoldersResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    post:
      security:
      - OAuth2UserToken:
        - users.read
        - bookmark.write
      tags:
      - Users
      summary: Create Bookmark Folder
      description: Creates a new Bookmark folder for the authenticated user.
      operationId: createUsersBookmarkFolder
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUsersBookmarkFolderRequest'
        required: true
      responses:
        '201':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateUsersBookmarkFolderResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - description: X API
      url: https://api.x.com
  /2/users/{id}/bookmarks/folders/{folder_id}:
    get:
      security:
      - OAuth2UserToken:
        - users.read
        - tweet.read
        - bookmark.read
      - UserToken: []
      tags:
      - Users
      summary: Get Users Bookmarks by Folder ID
      operationId: getUsersBookmarksByFolderId
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: folder_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[0-9]{1,19}$
        style: simple
      - name: max_results
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          format: int32
        style: form
      - name: pagination_token
        in: query
        description: A base32hex-encoded pagination token.
        required: false
        schema:
          type: string
        style: form
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersBookmarksByFolderIdResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - description: X API
      url: https://api.x.com
  /2/users/{id}/bookmarks/{tweet_id}:
    delete:
      security:
      - OAuth2UserToken:
        - users.read
        - tweet.read
        - bookmark.write
      tags:
      - Users
      summary: Delete Bookmark
      description: Removes a Post from the authenticated user's Bookmarks by its ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/bookmarks/api-reference/delete-users-id-bookmarks-tweet_id
      operationId: deleteUsersBookmark
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: tweet_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/PostId'
        style: simple
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteUsersBookmarkResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - description: X API
      url: https://api.x.com
  /2/users/{id}/dm/block:
    post:
      security:
      - OAuth2UserToken:
        - tweet.read
        - dm.write
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Block Users Dms
      operationId: blockUsersDms
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockUsersDmsResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - description: X API
      url: https://api.x.com
  /2/users/{id}/dm/unblock:
    post:
      security:
      - OAuth2UserToken:
        - dm.write
        - users.read
        - tweet.read
      - UserToken: []
      tags:
      - Users
      summary: Unblock Users Dms
      operationId: unblockUsersDms
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnblockUsersDmsResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - description: X API
      url: https://api.x.com
  /2/users/{id}/followed_lists:
    get:
      security:
      - OAuth2UserToken:
        - list.read
        - tweet.read
        - users.read
      - UserToken: []
      - BearerToken: []
      tags:
      - Users
      summary: Get Users Followed Lists
      operationId: getUsersFollowedLists
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: max_results
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          format: int32
          default: 100
        style: form
      - name: pagination_token
        in: query
        description: A 64-bit signed integer.
        required: false
        schema:
          type: string
        style: form
      - $ref: '#/components/parameters/ListFieldsParameter'
      - $ref: '#/components/parameters/ListExpansionsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersFollowedListsResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    post:
      security:
      - OAuth2UserToken:
        - tweet.read
        - list.write
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Follow List
      operationId: followList
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FollowListRequest'
        required: true
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FollowListResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - description: X API
      url: https://api.x.com
  /2/users/{id}/followed_lists/{list_id}:
    delete:
      security:
      - OAuth2UserToken:
        - tweet.read
        - list.write
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Unfollow a List
      description: Causes the authenticated user to unfollow a List by its ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/lists/list-follows/api-reference/delete-users-id-followed-lists-list_id
      operationId: unfollowList
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: list_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/ListId'
        style: simple
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnfollowListResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - description: X API
      url: https://api.x.com
  /2/users/{id}/followers:
    get:
      security:
      - OAuth2UserToken:
        - users.read
        - tweet.read
        - follows.read
      - UserToken: []
      - BearerToken: []
      tags:
      - Users
      summary: Get Users Followers
      operationId: getUsersFollowers
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: max_results
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          format: int32
        style: form
      - name: pagination_token
        in: query
        description: A base32hex-encoded pagination token.
        required: false
        schema:
          type: string
          minLength: 16
        style: form
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/UserExpansionsParameter'
      - $ref: '#/components/parameters/PostFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersFollowersResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - description: X API
      url: https://api.x.com
  /2/users/{id}/following:
    get:
      security:
      - OAuth2UserToken:
        - tweet.read
        - follows.read
        - users.read
      - UserToken: []
      - BearerToken: []
      tags:
      - Users
      summary: Get Users Following
      operationId: getUsersFollowing
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: max_results
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          format: int32
        style: form
      - name: pagination_token
        in: query
        description: A base32hex-encoded pagination token.
        required: false
        schema:
          type: string
          minLength: 16
        style: form
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/UserExpansionsParameter'
      - $ref: '#/components/parameters/PostFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersFollowingResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    post:
      security:
      - OAuth2UserToken:
        - users.read
        - follows.write
        - tweet.read
      - UserToken: []
      tags:
      - Users
      summary: Follow User
      operationId: followUser
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FollowUserRequest'
        required: true
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FollowUserResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - description: X API
      url: https://api.x.com
  /2/users/{id}/liked_tweets:
    get:
      security:
      - OAuth2UserToken:
        - users.read
        - like.read
        - tweet.read
      - UserToken: []
      tags:
      - Users
      summary: Get Users Liked Posts
      operationId: getUsersLikedPosts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: max_results
        in: query
        required: false
        schema:
          type: integer
          minimum: 5
          maximum: 100
          format: int32
        style: form
      - name: pagination_token
        in: query
        description: A base32hex-encoded pagination token.
        required: false
        schema:
          type: string
          minLength: 1
        style: form
      - $ref: '#/components/parameters/PostFieldsParameter'
      - $ref: '#/components/parameters/PostExpansionsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/MediaFieldsParameter'
      - $ref: '#/components/parameters/PollFieldsParameter'
      - $ref: '#/components/parameters/PlaceFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersLikedPostsResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - description: X API
      url: https://api.x.com
  /2/users/{id}/likes:
    post:
      security:
      - OAuth2UserToken:
        - users.read
        - like.write
        - tweet.read
      - UserToken: []
      tags:
      - Users
      summary: Like Post
      operationId: likePost
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LikePostRequest'
        required: true
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LikePostResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - description: X API
      url: https://api.x.com
  /2/users/{id}/likes/{tweet_id}:
    delete:
      security:
      - OAuth2UserToken:
        - users.read
        - tweet.read
        - like.write
      - UserToken: []
      tags:
      - Users
      summary: Unlike Post
      operationId: unlikePost
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: tweet_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/PostId'
        style: simple
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnlikePostResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - description: X API
      url: https://api.x.com
  /2/users/{id}/list_memberships:
    get:
      security:
      - OAuth2UserToken:
        - tweet.read
        - users.read
        - list.read
      - UserToken: []
      - BearerToken: []
      tags:
      - Users
      summary: Get Users List Memberships
      operationId: getUsersListMemberships
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: max_results
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          format: int32
          default: 100
        style: form
      - name: pagination_token
        in: query
        required: false
        schema:
          type: string
        style: form
      - $ref: '#/components/parameters/ListFieldsParameter'
      - $ref: '#/components/parameters/ListExpansionsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersListMembershipsResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - description: X API
      url: https://api.x.com
  /2/users/{id}/mentions:
    get:
      security:
      - OAuth2UserToken:
        - tweet.read
        - users.read
      - UserToken: []
      - BearerToken: []
      tags:
      - Users
      summary: Get Users Mentions
      description: When both are provided, `start_time` must be earlier than `end_time`. When both are provided, `since_id` must be less than `until_id`.
      operationId: getUsersMentions
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: max_results
        in: query
        required: false
        schema:
          type: integer
          minimum: 5
          maximum: 100
          format: int32
        style: form
      - name: pagination_token
        in: query
        description: A base32hex-encoded pagination token.
        required: false
        schema:
          type: string
          minLength: 1
        style: form
      - name: start_time
        in: query
        description: Must be on or after 2010-11-06.
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - name: end_time
        in: query
        description: Must be on or after 2010-11-06.
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - name: since_id
        in: query
        required: false
        schema:
          type: string
          pattern: ^[0-9]{1,19}$
        style: form
      - name: until_id
        in: query
        required: false
        schema:
          type: string
          pattern: ^[0-9]{1,19}$
        style: form
      - $ref: '#/components/parameters/PostFieldsParameter'
      - $ref: '#/components/parameters/PostExpansionsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/MediaFieldsParameter'
      - $ref: '#/components/parameters/PollFieldsParameter'
      - $ref: '#/components/parameters/PlaceFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersMentionsResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - description: X API
      url: https://api.x.com
  /2/users/{id}/muting:
    get:
      security:
      - OAuth2UserToken:
        - tweet.read
        - users.read
        - mute.read
      - UserToken: []
      tags:
      - Users
      summary: Get Users Muting
      operationId: getUsersMuting
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: max_results
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          format: int32
          default: 100
        style: form
      - name: pagination_token
        in: query
        required: false
        schema:
          type: string
        style: form
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/UserExpansionsParameter'
      - $ref: '#/components/parameters/PostFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersMutingResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    post:
      security:
      - OAuth2UserToken:
        - users.read
        - mute.write
        - tweet.read
      - UserToken: []
      tags:
      - Users
      summary: Mute User
      operationId: muteUser
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MuteUserRequest'
        required: true
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MuteUserResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - description: X API
      url: https://api.x.com
  /2/users/{id}/owned_lists:
    get:
      security:
      - OAuth2UserToken:
        - tweet.read
        - users.read
        - list.read
      - UserToken: []
      - BearerToken: []
      tags:
      - Users
      summary: Get Users Owned Lists
      operationId: getUsersOwnedLists
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: max_results
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          format: int32
          default: 100
        style: form
      - name: pagination_token
        in: query
        description: A 64-bit signed integer.
        required: false
        schema:
          type: string
        style: form
      - $ref: '#/components/parameters/ListFieldsParameter'
      - $ref: '#/components/parameters/ListExpansionsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersOwnedListsResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - description: X API
      url: https://api.x.com
  /2/users/{id}/pinned_lists:
    get:
      security:
      - OAuth2UserToken:
        - users.read
        - list.read
        - tweet.read
      - UserToken: []
      tags:
      - Users
      summary: Get Users Pinned Lists
      operationId: getUsersPinnedLists
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - $ref: '#/components/parameters/ListFieldsParameter'
      - $ref: '#/components/parameters/ListExpansionsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersPinnedListsResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    post:
      security:
      - OAuth2UserToken:
        - users.read
        - tweet.read
        - list.write
      - UserToken: []
      tags:
      - Users
      summary: Pin List
      description: Causes the authenticated user to pin a specific List by its ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/lists/pinned-lists/api-reference/post-users-id-pinned-lists
      operationId: pinList
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PinListRequest'
        required: true
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PinListResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - description: X API
      url: https://api.x.com
  /2/users/{id}/pinned_lists/{list_id}:
    delete:
      security:
      - OAuth2UserToken:
        - tweet.read
        - list.write
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Unpin a List
      description: Causes the authenticated user to unpin a List by its ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/lists/pinned-lists/api-reference/delete-users-id-pinned-lists-list_id
      operationId: unpinList
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: list_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/ListId'
        style: simple
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnpinListResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - description: X API
      url: https://api.x.com
  /2/users/{id}/public_keys:
    get:
      security:
      - OAuth2UserToken:
        - users.read
        - dm.read
        - tweet.read
      - UserToken: []
      tags:
      - Users
      summary: Get public keys
      description: Returns a user's registered public keys for X Chat encryption.
      externalDocs:
        url: https://developer.x.com/
      operationId: getUsersPublicKey
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - $ref: '#/components/parameters/PublicKeyFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersPublicKeyResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - description: X API
      url: https://api.x.com
  /2/users/{id}/retweets:
    post:
      security:
      - OAuth2UserToken:
        - users.read
        - tweet.read
        - tweet.write
      - UserToken: []
      tags:
      - Users
      summary: Repost Post
      description: Causes the authenticated user to repost a specific Post by its ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/retweets/api-reference/post-users-id-retweets
      operationId: repostPost
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RepostPostRequest'
        required: true
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepostPostResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - description: X API
      url: https://api.x.com
  /2/users/{id}/retweets/{source_tweet_id}:
    delete:
      security:
      - OAuth2UserToken:
        - users.read
        - tweet.read
        - tweet.write
      - UserToken: []
      tags:
      - Users
      summary: Unrepost Post
      description: Causes the authenticated user to unrepost a specific Post by its ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/retweets/api-reference/delete-users-id-retweets-tweet_id
      operationId: unrepostPost
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: source_tweet_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[0-9]{1,19}$
        style: simple
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnrepostPostResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - description: X API
      url: https://api.x.com
  /2/users/{id}/timelines/reverse_chronological:
    get:
      security:
      - OAuth2UserToken:
        - users.read
        - tweet.read
      - UserToken: []
      tags:
      - Users
      summary: Get Users Timeline
      description: When both are provided, `start_time` must be earlier than `end_time`. When both are provided, `since_id` must be less than `until_id`.
      operationId: getUsersTimeline
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: max_results
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          format: int32
        style: form
      - name: pagination_token
        in: query
        description: A base32hex-encoded pagination token.
        required: false
        schema:
          type: string
          minLength: 1
        style: form
      - name: start_time
        in: query
        description: Must be on or after 2010-11-06.
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - name: end_time
        in: query
        description: Must be on or after 2010-11-06.
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - name: since_id
        in: query
        required: false
        schema:
          type: string
          pattern: ^[0-9]{1,19}$
        style: form
      - name: until_id
        in: query
        required: false
        schema:
          type: string
          pattern: ^[0-9]{1,19}$
        style: form
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            enum:
            - replies
            - retweets
        explode: false
        style: form
      - $ref: '#/components/parameters/PostFieldsParameter'
      - $ref: '#/components/parameters/PostExpansionsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/MediaFieldsParameter'
      - $ref: '#/components/parameters/PollFieldsParameter'
      - $ref: '#/components/parameters/PlaceFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersTimelineResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - description: X API
      url: https://api.x.com
  /2/users/{id}/tweets:
    get:
      security:
      - OAuth2UserToken:
        - users.read
        - tweet.read
      - UserToken: []
      - BearerToken: []
      tags:
      - Users
      summary: Get Users Posts
      description: When both are provided, `start_time` must be earlier than `end_time`. When both are provided, `since_id` must be less than `until_id`.
      operationId: getUsersPosts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: max_results
        in: query
        required: false
        schema:
          type: integer
          minimum: 5
          maximum: 100
          format: int32
        style: form
      - name: pagination_token
        in: query
        description: A base32hex-encoded pagination token.
        required: false
        schema:
          type: string
          minLength: 1
        style: form
      - name: start_time
        in: query
        description: Must be on or after 2010-11-06.
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - name: end_time
        in: query
        description: Must be on or after 2010-11-06.
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - name: since_id
        in: query
        required: false
        schema:
          type: string
          pattern: ^[0-9]{1,19}$
        style: form
      - name: until_id
        in: query
        required: false
        schema:
          type: string
          pattern: ^[0-9]{1,19}$
        style: form
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - replies
            - retweets
        explode: false
        style: form
      - $ref: '#/components/parameters/PostFieldsParameter'
      - $ref: '#/components/parameters/PostExpansionsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/MediaFieldsParameter'
      - $ref: '#/components/parameters/PollFieldsParameter'
      - $ref: '#/components/parameters/PlaceFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersPostsResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - description: X API
      url: https://api.x.com
  /2/users/{source_user_id}/following/{target_user_id}:
    delete:
      security:
      - OAuth2UserToken:
        - follows.write
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Unfollow User
      description: Causes the authenticated user to unfollow a specific user by their ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/users/follows/api-reference/delete-users-source_id-following
      operationId: unfollowUser
      parameters:
      - name: source_user_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: target_user_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnfollowUserResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - description: X API
      url: https://api.x.com
  /2/users/{source_user_id}/muting/{target_user_id}:
    delete:
      security:
      - OAuth2UserToken:
        - mute.write
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Unmute User
      description: Causes the authenticated user to unmute the target user.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/users/mutes/api-reference/delete-users-user_id-muting
      operationId: unmuteUser
      parameters:
      - name: source_user_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: target_user_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnmuteUserResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - description: X API
      url: https://api.x.com
  /users/{id}:
    get:
      tags:
      - Users
      summary: Look up a user by ID
      operationId: getUserById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A user
      security:
      - BearerAuth: []
    servers:
    - url: https://api.x.com/2
      description: X API v2 production server
  /users/by/username/{username}:
    get:
      tags:
      - Users
      summary: Look up a user by username
      operationId: getUserByUsername
      parameters:
      - name: username
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A user
      security:
      - BearerAuth: []
    servers:
    - url: https://api.x.com/2
      description: X API v2 production server
components:
  schemas:
    RepostPostResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/RepostPostResponseData'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
    FieldHydrationFailureProblem:
      type: object
      required:
      - type
      - title
      - detail
      - field
      properties:
        detail:
          type: string
        field:
          type: string
        resource_type:
          type: string
        section:
          type: string
        status:
          type: integer
        title:
          type: string
        type:
          type: string
          enum:
          - https://api.x.com/2/problems/field-hydration-failure
    CreateUsersBookmarkResponseData:
      type: object
      required:
      - bookmarked
      properties:
        bookmarked:
          type: boolean
          description: Indicates whether the Post is bookmarked by the user.
    DeleteUsersBookmarkResponseData:
      type: object
      required:
      - bookmarked
      properties:
        bookmarked:
          type: boolean
          description: Whether the Post is bookmarked.
    UnfollowListResponseData:
      type: object
      required:
      - following
      properties:
        following:
          type: boolean
          description: Indicates whether the user is following the List.
    PinListResponseData:
      type: object
      required:
      - pinned
      properties:
        pinned:
          type: boolean
          description: Indicates whether the List is pinned by the authenticated user.
    Poll:
      type: object
      properties:
        duration_minutes:
          type: integer
        end_datetime:
          type: string
        id:
          type: string
        options:
          $ref: '#/components/schemas/PollOptions'
        voting_status:
          type: string
    UnblockUsersDmsResponseData:
      type: object
      required:
      - blocked
      properties:
        blocked:
          type: boolean
          description: Indicates whether the target user is DM-blocked.
    UserWithheld:
      type: object
      description: Withholding details for withheld content.
      properties:
        country_codes:
          type:
          - array
          - 'null'
          description: A list of countries (as ISO 3166-1 alpha-2 codes) where this content is withheld.
          items:
            type: string
        scope:
          type:
          - string
          - 'null'
          description: The scope of the withholding. Only present, with the value "user", when the entire User is withheld.
          enum:
          - user
    Error:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
    GetUsersFollowersResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/User'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
        includes:
          $ref: '#/components/schemas/Expansions'
        meta:
          type: object
          properties:
            next_token:
              type: string
              description: Pagination token for the next page of results.
            previous_token:
              type: string
              description: Pagination token for the previous page of results.
            result_count:
              type: integer
              description: Number of items in the data array.
              format: int32
    ResourceUnavailableProblem:
      type: object
      required:
      - type
      - title
      - detail
      - resource_type
      properties:
        detail:
          type: string
        resource_id:
          type: string
        resource_type:
          type: string
        status:
          type: integer
        title:
          type: string
        type:
          type: string
          enum:
          - https://api.x.com/2/problems/resource-unavailable
    UserEntities:
      type: object
      description: A list of metadata found in the User's profile description.
      properties:
        description:
          type:
          - object
          - 'null'
          description: Entities found in the User's bio.
          properties:
            cashtags:
              type:
              - array
              - 'null'
              items:
                type: object
                description: A hashtag or cashtag entity.
                required:
                - start
                - end
                - tag
                properties:
                  end:
                    type: integer
                    description: End index in the text (exclusive).
                    format: int64
                  start:
                    type: integer
                    description: Start index in the text (inclusive).
                    format: int64
                  tag:
                    type: string
            hashtags:
              type:
              - array
              - 'null'
              items:
                type: object
                description: A hashtag or cashtag entity.
                required:
                - start
                - end
                - tag
                properties:
                  end:
                    type: integer
                    description: End index in the text (exclusive).
                    format: int64
                  start:
                    type: integer
                    description: Start index in the text (inclusive).
                    format: int64
                  tag:
                    type: string
            mentions:
              type:
              - array
              - 'null'
              items:
                type: object
                description: A user mention entity.
                required:
                - start
                - end
                - username
                properties:
                  end:
                    type: integer
                    format: int64
                  id:
                    type:
                    - string
                    - 'null'
                  start:
                    type: integer
                    format: int64
                  username:
                    type: string
            urls:
              type:
              - array
              - 'null'
              items:
                type: object
                description: A URL entity found in profile text.
                required:
                - start
                - end
                - url
                properties:
                  description:
                    type:
                    - string
                    - 'null'
                    description: Description of the linked page, when available.
                  display_url:
                    type:
                    - string
                    - 'null'
                    description: The URL as displayed in the Post text.
                  end:
                    type: integer
                    format: int64
                  expanded_url:
                    type:
                    - string
                    - 'null'
                    description: The fully resolved URL.
                  images:
                    type:
                    - array
                    - 'null'
                    items:
                      type: object
                      description: A preview image for a linked page.
                      properties:
                        height:
                          type:
                          - integer
                          - 'null'
                          format: int64
                        url:
                          type:
                          - string
                          - 'null'
                        width:
                          type:
                          - integer
                          - 'null'
                          format: int64
                  media_key:
                    type:
                    - string
                    - 'null'
                  start:
                    type: integer
                    format: int64
                  status:
                    type:
                    - integer
                    - 'null'
                    description: HTTP status from resolving the URL.
                    format: int64
                  title:
                    type:
                    - string
                    - 'null'
                    description: Title of the linked page, when available.
                  unwound_url:
                    type:
                    - string
                    - 'null'
                    description: The final destination after following redirects.
                  url:
                    type: string
                    description: The t.co shortened URL.
        url:
          type:
          - object
          - 'null'
          description: Entities for the User's profile website URL.
          properties:
            urls:
              type:
              - array
              - 'null'
              items:
                type: object
                description: A URL entity found in profile text.
                required:
                - start
                - end
                - url
                properties:
                  description:
                    type:
                    - string
                    - 'null'
                    description: Description of the linked page, when available.
                  display_url:
                    type:
                    - string
                    - 'null'
                    description: The URL as displayed in the Post text.
                  end:
                    type: integer
                    format: int64
                  expanded_url:
                    type:
                    - string
                    - 'null'
                    description: The fully resolved URL.
                  images:
                    type:
                    - array
                    - 'null'
                    items:
                      type: object
                      description: A preview image for a linked page.
                      properties:
                        height:
                          type:
                          - integer
                          - 'null'
                          format: int64
                        url:
                          type:
                          - string
                          - 'null'
                        width:
                          type:
                          - integer
                          - 'null'
                          format: int64
                  media_key:
                    type:
                    - string
                    - 'null'
                  start:
                    type: integer
                    format: int64
                  status:
                    type:
                    - integer
                    - 'null'
                    description: HTTP status from resolving the URL.
                    format: int64
                  title:
                    type:
                    - string
                    - 'null'
                    description: Title of the linked page, when available.
                  unwound_url:
                    type:
                    - string
                    - 'null'
                    description: The final destination after following redirects.
                  url:
                    type: string
                    description: The t.co shortened URL.
    UnrepostPostResponseData:
      type: object
      required:
      - retweeted
      properties:
        retweeted:
          type: boolean
          description: Whether the Post is reposted.
    CreateUsersBookmarkRequest:
      type: object
      required:
      - tweet_id
      properties:
        folder_id:
          type: string
          description: Optional ID of the Bookmark folder to add the Post to. When omitted, the Post is added to the user's top-level Bookmarks only.
          pattern: ^[0-9]{1,19}$
        tweet_id:
          type: string
          description: The ID of the Post to add to the user's Bookmarks.
          pattern: ^[0-9]{1,19}$
      additionalProperties: false
    PostMediaMetadata:
      type: array
      description: Metadata for media attached to this Post.
      items:
        type: object
        description: Metadata for one media item attached to this Post.
        properties:
          alt_text:
            type:
            - string
            - 'null'
            description: Alternative text describing the media for accessibility.
          description:
            type:
            - string
            - 'null'
            description: Description of the media.
          media_key:
            type:
            - string
            - 'null'
            description: The unique identifier of the media.
          title:
            type:
            - string
            - 'null'
            description: Title of the media.
    InternalErrorProblem:
      type: object
      required:
      - type
      - title
      - detail
      properties:
        detail:
          type: string
        status:
          type: integer
        title:
          type: string
        type:
          type: string
          enum:
          - https://api.x.com/2/problems/internal-error
    SearchUsersResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/User'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
        includes:
          $ref: '#/components/schemas/Expansions'
        meta:
          type: object
          properties:
            next_token:
              type: string
              description: Pagination token for the next page of results.
            previous_token:
              type: string
              description: Pagination token for the previous page of results.
    RepostPostRequest:
      type: object
      required:
      - tweet_id
      properties:
        tweet_id:
          type: string
          pattern: ^[0-9]{1,19}$
      additionalProperties: false
    PostEditControls:
      type: object
      description: Indicates how much longer (if at all) this Post can be edited.
      properties:
        editable_until:
          type:
          - string
          - 'null'
          description: The time until which this Post can be edited.
        edits_remaining:
          type:
          - integer
          - 'null'
          description: Number of edits still allowed for this Post.
          format: int64
        is_edit_eligible:
          type:
          - boolean
          - 'null'
          description: Indicates whether this Post is eligible to be edited.
    UserAffiliation:
      type: object
      description: Metadata about a user's affiliation.
      properties:
        badge_url:
          type:
          - string
          - 'null'
          description: URL of the affiliation badge image shown on the User's profile.
        description:
          type:
          - string
          - 'null'
          description: Description of the affiliation.
        url:
          type:
          - string
          - 'null'
          description: URL associated with the affiliation.
        user_id:
          type:
          - array
          - 'null'
          description: A list of unique identifiers of the accounts this User is affiliated with.
          items:
            type: string
    Problem:
      oneOf:
      - $ref: '#/components/schemas/ResourceNotFoundProblem'
      - $ref: '#/components/schemas/InvalidRequestProblem'
      - $ref: '#/components/schemas/NotAuthorizedForResourceProblem'
      - $ref: '#/components/schemas/NotAuthorizedForFieldProblem'
      - $ref: '#/components/schemas/FieldUnauthorizedProblem'
      - $ref: '#/components/schemas/FieldHydrationFailureProblem'
      - $ref: '#/components/schemas/ResourceUnavailableProblem'
      - $ref: '#/components/schemas/DisallowedResourceProblem'
      - $ref: '#/components/schemas/InternalErrorProblem'
      discriminator:
        propertyName: type
        mapping:
          https://api.x.com/2/problems/disallowed-resource: '#/components/schemas/DisallowedResourceProblem'
          https://api.x.com/2/problems/field-hydration-failure: '#/components/schemas/FieldHydrationFailureProblem'
          https://api.x.com/2/problems/field-unauthorized: '#/components/schemas/FieldUnauthorizedProblem'
          https://api.x.com/2/problems/internal-error: '#/components/schemas/InternalErrorProblem'
          https://api.x.com/2/problems/invalid-request: '#/components/schemas/InvalidRequestProblem'
          https://api.x.com/2/problems/not-authorized-for-field: '#/components/schemas/NotAuthorizedForFieldProblem'
          https://api.x.com/2/problems/not-authorized-for-resource: '#/components/schemas/NotAuthorizedForResourceProblem'
          https://api.x.com/2/problems/resource-not-found: '#/components/schemas/ResourceNotFoundProblem'
          https://api.x.com/2/problems/resource-unavailable: '#/components/schemas/ResourceUnavailableProblem'
    UnfollowUserResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/UnfollowUserResponseData'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
    UserSubscription:
      type: object
      description: The subscription relationship between this User and you.
      required:
      - subscribes_to_you
      properties:
        subscribes_to_you:
          type: boolean
          description: Indicates if this User subscribes to you.
    GetUsersByUsernameResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/User'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
        includes:
          $ref: '#/components/schemas/Expansions'
    GetUsersTimelineResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Post'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
        includes:
          $ref: '#/components/schemas/Expansions'
        meta:
          type: object
          properties:
            newest_id:
              type: string
              description: Most recent ID in the data array.
            next_token:
              type: string
              description: Pagination token for the next page of results.
            oldest_id:
              type: string
              description: Oldest ID in the data array.
            previous_token:
              type: string
              description: Pagination token for the previous page of results.
            result_count:
              type: integer
              description: Number of items in the data array.
              format: int32
    GetUsersFollowingResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/User'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
        includes:
          $ref: '#/components/schemas/Expansions'
        meta:
          type: object
          properties:
            next_token:
              type: string
              description: Pagination token for the next page of results.
            previous_token:
              type: string
              description: Pagination token for the previous page of results.
            result_count:
              type: integer
              description: Number of items in the data array.
              format: int32
    GetUsersByIdsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/User'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
        includes:
          $ref: '#/components/schemas/Expansions'
    UnrepostPostResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/UnrepostPostResponseData'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
    GetUsersOwnedListsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/List'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
        includes:
          $ref: '#/components/schemas/Expansions'
        meta:
          type: object
          properties:
            next_token:
              type: string
              description: Pagination token for the next page of results.
            previous_token:
              type: string
              description: Pagination token for the previous page of results.
            result_count:
              type: integer
              description: Number of items in the data array.
              format: int32
    PostReferencedPosts:
      type: array
      description: A list of Posts this Post refers to. If the Post is a Retweet, Quote or Reply, it includes the referenced Post's type and ID.
      items:
        type: object
        description: A reference from this Post to another Post (repost, quote, or reply).
        required:
        - type
        - id
        properties:
          id:
            type: string
            description: Unique identifier of the referenced Post.
          type:
            description: How this Post references the other Post.
            oneOf:
            - type: string
              description: The kind of Post-to-Post reference.
              enum:
              - retweeted
              - quoted
              - replied_to
    BlockUsersDmsResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/BlockUsersDmsResponseData'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
    GetUsersBookmarksResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Post'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
        includes:
          $ref: '#/components/schemas/Expansions'
        meta:
          type: object
          properties:
            next_token:
              type: string
              description: Pagination token for the next page of results.
            previous_token:
              type: string
              description: Pagination token for the previous page of results.
            result_count:
              type: integer
              description: Number of items in the data array.
              format: int32
    UnblockUsersDmsResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/UnblockUsersDmsResponseData'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
    PostNotePost:
      type: object
      description: The full content of the Post, including text beyond 280 characters.
      required:
      - text
      properties:
        entities:
          type:
          - object
          - 'null'
          description: Metadata entities (hashtags, cashtags, mentions, URLs) found in the note Post text.
          properties:
            cashtags:
              type:
              - array
              - 'null'
              items:
                type: object
                description: A hashtag or cashtag entity.
                required:
                - start
                - end
                - tag
                properties:
                  end:
                    type: integer
                    description: End index in the text (exclusive).
                    format: int64
                  start:
                    type: integer
                    description: Start index in the text (inclusive).
                    format: int64
                  tag:
                    type: string
            hashtags:
              type:
              - array
              - 'null'
              items:
                type: object
                description: A hashtag or cashtag entity.
                required:
                - start
                - end
                - tag
                properties:
                  end:
                    type: integer
                    description: End index in the text (exclusive).
                    format: int64
                  start:
                    type: integer
                    description: Start index in the text (inclusive).
                    format: int64
                  tag:
                    type: string
            mentions:
              type:
              - array
              - 'null'
              items:
                type: object
                description: A user mention entity.
                required:
                - start
                - end
                properties:
                  end:
                    type: integer
                    format: int64
                  id:
                    type:
                    - string
                    - 'null'
                  start:
                    type: integer
                    format: int64
                  username:
                    type:
                    - string
                    - 'null'
            urls:
              type:
              - array
              - 'null'
              items:
                type: object
                description: A URL entity found in note Post text.
                required:
                - start
                - end
                properties:
                  display_url:
                    type:
                    - string
                    - 'null'
                  end:
                    type: integer
                    format: int64
                  expanded_url:
                    type:
                    - string
                    - 'null'
                  start:
                    type: integer
                    format: int64
                  url:
                    type:
                    - string
                    - 'null'
        text:
          type: string
          description: The full note text of the Post.
    UserId:
      type: string
      description: Unique identifier of a User
      pattern: ^[0-9]{1,19}$
      example: '2244994945'
    GetUsersRepostsOfMeResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Post'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
        includes:
          $ref: '#/components/schemas/Expansions'
        meta:
          type: object
          properties:
            next_token:
              type: string
              description: Pagination token for the next page of results.
            previous_token:
              type: string
              description: Pagination token for the previous page of results.
            result_count:
              type: integer
              description: Number of items in the data array.
              format: int32
    PostScopes:
      type: object
      description: The scopes for this Post.
      required:
      - followers
      properties:
        followers:
          type: boolean
          description: Indicates whether visibility of this Post is limited to the author's followers.
    LikePostResponseData:
      type: object
      required:
      - liked
      properties:
        liked:
          type: boolean
          description: Whether the User likes the Post.
    DisallowedResourceProblem:
      type: object
      required:
      - type
      - title
      - detail
      properties:
        detail:
          type: string
        resource_id:
          type: string
        resource_type:
          type: string
        section:
          type: string
        status:
          type: integer
        title:
          type: string
        type:
          type: string
          enum:
          - https://api.x.com/2/problems/disallowed-resource
    PostSuggestedSourceLinksWithCounts:
      type: array
      description: Suggested source URLs for this Post, each with the number of times it was suggested.
      items:
        type: object
        description: A suggested source URL for this Post with the number of times it was suggested.
        properties:
          count:
            type:
            - integer
            - 'null'
            description: Number of times this source link was suggested.
            format: int64
          url:
            type:
            - string
            - 'null'
            description: The suggested source URL.
    GetUsersFollowedListsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/List'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
        includes:
          $ref: '#/components/schemas/Expansions'
        meta:
          type: object
          properties:
            next_token:
              type: string
              description: Pagination token for the next page of results.
            previous_token:
              type: string
              description: Pagination token for the previous page of results.
            result_count:
              type: integer
              description: Number of items in the data array.
              format: int32
    GetUsersPublicKeysResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PublicKey'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
    GetUsersBookmarksByFolderIdResponse:
      type: object
      properties:
        data:
          type: array
          description: The Posts in this bookmark folder, by ID.
          items:
            type: object
            required:
            - id
            properties:
              id:
                $ref: '#/components/schemas/PostId'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
    Topic:
      type: object
      properties:
        description:
          type: string
        id:
          type: string
        name:
          type: string
    UnmuteUserResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/UnmuteUserResponseData'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
    MuteUserResponseData:
      type: object
      required:
      - muting
      properties:
        muting:
          type: boolean
          description: Whether the source User is muting the target User.
    PlaceContainedWithin:
      type: array
      description: A list of unique identifiers of the Places that contain this place.
      items:
        type: string
    MediaPublicMetrics:
      type: object
      description: Public engagement metrics for the media at the time of the request.
      required:
      - view_count
      properties:
        view_count:
          type: integer
          description: The number of times this video has been viewed.
          format: int64
    ListMemberCount:
      type: integer
      description: The number of members in this List.
      format: int64
    ListFollowerCount:
      type: integer
      description: The number of users who follow this List.
      format: int64
    PublicKeyId:
      type: string
      description: Unique identifier of a PublicKey
      pattern: ^[0-9]{1,19}$
    PostDisplayTextRange:
      type: array
      description: The inclusive start and exclusive end indices of the displayable content of the Post.
      minItems: 2
      maxItems: 2
      items:
        type: integer
        format: int64
    Expansions:
      type: object
      properties:
        media:
          type: array
          items:
            $ref: '#/components/schemas/Media'
        places:
          type: array
          items:
            $ref: '#/components/schemas/Place'
        polls:
          type: array
          items:
            $ref: '#/components/schemas/Poll'
        posts:
          type: array
          items:
            $ref: '#/components/schemas/Post'
        topics:
          type: array
          items:
            $ref: '#/components/schemas/Topic'
        users:
          type: array
          items:
            $ref: '#/components/schemas/User'
    GetUsersListMembershipsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/List'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
        includes:
          $ref: '#/components/schemas/Expansions'
        meta:
          type: object
          properties:
            next_token:
              type: string
              description: Pagination token for the next page of results.
            previous_token:
              type: string
              description: Pagination token for the previous page of results.
            result_count:
              type: integer
              description: Number of items in the data array.
              format: int32
    ListId:
      type: string
      description: Unique identifier of a List
      pattern: ^[0-9]{1,19}$
      example: '1146654567674912769'
    PostGeo:
      type: object
      description: The location tagged on the Post, if the user provided one.
      properties:
        coordinates:
          type:
          - object
          - 'null'
          description: A GeoJSON Point geometry.
          required:
          - type
          - coordinates
          properties:
            coordinates:
              type: array
              description: '[longitude, latitude].'
              minItems: 2
              maxItems: 2
              items:
                type: number
                format: double
            type:
              type: string
              description: The GeoJSON geometry type.
              enum:
              - Point
        place_id:
          type:
          - string
          - 'null'
          description: The unique identifier of the tagged place.
    LikePostResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/LikePostResponseData'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
    List:
      type: object
      properties:
        created_at:
          type: string
        description:
          type: string
        follower_count:
          $ref: '#/components/schemas/ListFollowerCount'
        id:
          type: string
        member_count:
          $ref: '#/components/schemas/ListMemberCount'
        name:
          type: string
        owner_id:
          type: string
        private:
          type: boolean
    FollowListRequest:
      type: object
      required:
      - list_id
      properties:
        list_id:
          type: string
          pattern: ^[0-9]{1,19}$
      additionalProperties: false
    GetUsersPublicKeyResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PublicKey'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
    PostEntities:
      type: object
      description: A list of metadata entities (hashtags, mentions, URLs) found in the Post text.
      properties:
        cashtags:
          type:
          - array
          - 'null'
          items:
            type: object
            description: A hashtag or cashtag entity.
            required:
            - start
            - end
            - tag
[...]
